@import "../../../node_modules/lesshat/build/lesshat.less";

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: red;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: #dde;
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.b-main-nav_brown {
  background-color: #ab875a;
}

.b-main-nav .dropdownpart.level-two,
.b-main-nav .dropdownpart.level-three {
//  background-color: #ab875a;
//  border-top: 1px white solid;
}

.screen-title {
  margin-top: 70px;
  margin-bottom: 60px;
  color: #1d1d1d;
  font-family: "EkibastuzBd";
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  transition: border 0.2s;
}

.form-title.browny {
  background: #ab875a;
  line-height: 138px;
  display: block;
  height: 138px;
  text-align: center;
  color: white;
  font-size: 49px;
  text-transform: uppercase;
  font-family: EkibastuzBd;
  letter-spacing: 3px;
}

.screen-title_brown {
  color: #ab875a;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #ab875a;
}

.screen-title_brown:hover {
  border-bottom: 1px solid transparent;
}

.link:hover {
  text-decoration: none;
}

.event .text.hover {
  text-decoration: underline;
  color: #ab875a;
}

.club-life-block {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
}

.club-life-block-one {
  height: 585px;
  background: url('../images/full-clock-bg.png') no-repeat center center;
  background-size: cover;
}

.club-life-block-two {
  height: 833px;
}

.club-life-block-three {
  display: none;
  height: 750px;
  background: url('../images/writer_bg.jpg') no-repeat center center;
  background-size: cover;
}

.club-life-block-four {
  height: 731px;
}

.club-life-block-five {
  height: 995px;
}

.blocks-six {
  width: 1185px !important;
}

.club-life-block-six {
  height: 905px;
  background: url('../images/grey_full_abstraction.jpg') no-repeat center center;
  background-size: cover;
}

.club-life-block-seven {
  height: 706px;
  background: url('../images/bg-with-iphone.jpg') no-repeat center center;
  background-size: cover;
}

.club-life-block-eight {
//  height: 1004px;
  background: #e5e5e5;
  padding-bottom: 30px;
}

.block-one-text {
  width: 450px;
  height: 350px;
  padding-top: 77px;
}

.block-one-title {
  color: #ab875a;
  text-transform: uppercase;
  width: 100%;
  font-size: 35px;
  line-height: 36px;
}

.block-one-text .divider {
  width: 25px;
  height: 2px;
  background: #929292;
  margin-top: 20px;
}

.block-one-text .text {
  color: #929292;
  margin-top: 22px;
  display: block;
  line-height: 23px;
  font-size: 18px;
}

.btn_brown {
  background: transparent;
  border-color: #ab875a;
  font-size: 12px;
  text-align: center;
  font-family: PTSansBold;
}

.btn_brown:hover,
.reg-button:hover,
.services-apply:hover {
  color: #ab875a !important;
}

.block-one-text .btn_brown {
  margin-top: 31px;
  width: auto;
}

.tarif-wrap {
  display: none;
}

.club-life-block-eight .btn:hover,
.club-life-block-eight .btn:active,
.club-life-block-eight .btn:focus,
.send-btn:hover {
  background: #d2b590 !important;
}

.block-three-center {
  width: 600px;
  height: 330px;
  margin: 97px auto;
  position: relative;
  text-align: center;
}

.block-three-center span {
  text-align: center;
  width: 100%;
  display: block;
}

.play-button {
  width: 168px;
  height: 185px;
  margin: 0 auto;
  background: url('../images/video-play-button.png') no-repeat center center;
  background-size: cover;
  display: block;
}

.block-three-title {
  color: #ab875a;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.block-three-text {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  font-family: "PTSans", sans-serif;
}

.block-two-blocks-wrap {
  width: 100%;
}

.block-two-blocks {
  width: 50%;
  height: 250px;
  margin: 0;
  padding: 0;
  float: left;
}

.block-two-blocks:nth-child(1) {
  background: url('../images/second-block-icon-1.png') no-repeat -18px top;
}

.block-two-blocks:nth-child(1) .block-two-title,
.block-two-blocks:nth-child(3) .block-two-title,
.block-two-blocks:nth-child(1) .block-two-text,
.block-two-blocks:nth-child(3) .block-two-text,
{
  margin-left: 125px;
}

.block-two-blocks:nth-child(2) {
  background: url('../images/second-block-icon-2.png') no-repeat left top;
}

.block-two-blocks:nth-child(3) {
  background: url('../images/second-block-icon-3.png') no-repeat -18px top;
}

.block-two-blocks:nth-child(4) {
  background: url('../images/second-block-icon-4.png') no-repeat left top;
}

.block-two-title {
  color: #000000;
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  margin-left: 143px;
  letter-spacing: 1px;
  margin-top: 33px;
  line-height: 30px;
}

.full-divider {
  width: 100%;
  height: 1px;
  float: left;
  background: #e5e5e5;
  margin-top: 14px;
}

.watch-video:hover {
  color: #ab875a;
}

.watch-video {
  display: block;
  border: 2px solid #ab875a;
  width: auto;
  height: 40px;
  line-height: 38px;
  color: black;
  text-decoration: none;
  background: url('../images/video-icon.png') no-repeat left center;
  padding-left: 73px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  float: left;
  position: relative;
  margin-left: -95px;
  font-family: PTSansBold;
  left: 50%;
  margin-top: 37px;
  padding-right: 26px;
}

.block-two-text {
  color: #929292;
  font-size: 16px;
  margin-top: 17px;
  font-family: "PTSans", sans-serif;
  display: block;
  margin-left: 145px;
  line-height: 22px;
}

.block-two-blocks .divider {
  width: 25px;
  height: 2px;
  display: none;
  background: #ab875a;
  margin-top: 20px;
}

.blocks-four {
  width: 100%;
  height: 500px;
  position: relative;
}

.block-four-left {
  width: 50%;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*******************************/
.blocks-four .card {
  width: 500px;
  float: left;
  position: relative;
  height: 350px;
  margin-top: -70px;
}

.card div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.block-four-left .card {
  margin-left: -30px;
}

.block-four-left .card .back {
  width: 476px;
  height: 277px;
  position: absolute;
  top: 50px;
  background: url('../images/silver-front.png') no-repeat center center;
  -webkit-transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
}

.block-four-left .card .front {
  width: 476px;
  height: 277px;
  position: absolute;
  top: 50px;
  background: url('../images/silver-back.png') no-repeat center center;
  -webkit-transform: perspective(400px) rotateY(-179.9deg);
  transform: perspective(400px) rotateY(-179.9deg);
}

div.card:hover div.back,
div.card:focus div.back {
  transform: perspective(400px) rotateY(179.9deg);
}

div.card:hover div.front,
div.card:focus div.front {
  transform: perspective(400px) rotateY(0deg);
}

.block-four-right .card {
  padding-left: 23%;
}

.block-four-right .card .back {
  width: 476px;
  height: 277px;
  position: absolute;
  top: 50px;
  background: url('../images/gold-front.png') no-repeat center center;
  -webkit-transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
}

.block-four-right .card .front {
  width: 476px;
  height: 277px;
  position: absolute;
  top: 50px;
  background: url('../images/gold-back.png') no-repeat center center;
  -webkit-transform: perspective(400px) rotateY(-179.9deg);
  transform: perspective(400px) rotateY(-179.9deg);
}

/*************************************/
.block-four-right {
  width: 50%;
  float: left;
  margin: 0;
  height: 100%;
  padding: 0;
}

.brown {
  color: #ab875a !important;
}

.blocks-four .price {
  display: block;
  color: #ab875a;
  margin-top: 280px;
  height: auto;
  width: auto;
  font-size: 42px;
  font-family: PTSansBold;
  text-align: left;
  margin-bottom: 20px;
}

.blocks-four .title,
.blocks-four .price,
.blocks-four .text {
  display: block;
  padding-left: 28%;
}

.blocks-four .btn {
  margin-left: 28%;
}

.block-four-left .btn {
  margin-left: 0px;
}

.blocks-four .text {
  color: #929292;
  display: block;
  margin-top: 6px;
  line-height: 23px;
  font-size: 18px;
  padding-bottom: 37px;
}

.block-four-left .price,
.block-four-left .title,
.block-four-left .text {
  padding-left: 0px;
}

.club-life-block .rub:after {
  content: 'i';
  text-transform: lowercase;
  font-family: Rouble;
  margin-left: 5px;
  margin-top: -3px;
  font-weight: bold;
  font-size: 36px;
  float: none;
  display: inline-block;
}

.block-four-left .btn {
  color: black;
}

.block-four-left .title {
  color: black;
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 11px;
}

.block-four-right .title {
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 11px;
}

.club-life-block-seven .divider {
  width: 25px;
  height: 2px;
  background: #929292;
  margin-top: 30px;
}

.club-life-block-seven .text {
  color: #d7d7d7;
  margin-top: 30px;
  padding-bottom: 36px;
  font-size: 18px;
}

.club-life-block-seven .title {
  color: #ab875a;
  margin-top: 8px;
  font-family: EkibastuzBd;
  display: block;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
}

.club-life-block-seven a.btn_brown {
  margin-top: 5px;
}

.seven-links {
  float: left;
}

.pdf-button {
  display: block;
  background: url('../images/pdf-button.png') no-repeat center center;
  width: 43px;
  margin-left: 44px;
  height: 43px;
  line-height: 43px;
}

.about-programm {
  color: #ab875a;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 15px;
  font-family: PTSansBold;
  line-height: 43px;
  font-size: 12px;
  height: 43px;
}

.service-tip {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background-color: #ab875a;
  color: white;
  font-size: 14px;
  padding: 30px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  z-index: 10;
  -moz-border-radius: 25px;
}

.service-tip i {
  display: inline-block;
  position: relative;
  background: url('../images/brown-romb.png') no-repeat left center;
  width: 8px;
  height: 19px;
  box-sizing: border-box;
  left: -38px;
  top: 31px;
}

.search-tip {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background-color: #ab875a;
  color: white;
  font-size: 14px;
  width: 260px;
  padding: 30px 0 30px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  z-index: 10;
  -moz-border-radius: 25px;
}

.search-tip > span {
  display: block;
  width: 100%;
  font-family: "PTSansBold", sans-serif;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 30px 0 30px;
  cursor: pointer;
  box-sizing: border-box;
}
.search-tip > span:hover {
  background: #9a7649;
}
.search-tip i {
  display: block;
  position: absolute;
  background: url('../images/brown-romb.png') no-repeat center top;
  width: 16px;
  height: 8px;
  box-sizing: border-box;
  left: 50%;
  top: -7px;
  margin-left: -8px;
}

.popups-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 10;
  left: 0;
  position: fixed;
}

.popup-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.category-tip {
  position: absolute;
  top: 0;
  display: none;
  left: 0;
  background-color: #ab875a;
  color: white;
  font-size: 14px;
  padding-top: 30px;
  width: 270px;
  padding-bottom: 30px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  z-index: 10;
  -moz-border-radius: 25px;
}

.category-tip > span:hover {
  background: #9a7649;
}

.category-tip > span {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-family: "PTSansBold", sans-serif;
  font-size: 12px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.category-tip i {
  display: block;
  position: absolute;
  background: url('../images/brown-romb.png') no-repeat center top;
  width: 16px;
  height: 8px;
  box-sizing: border-box;
  left: 50%;
  top: -8px;
  margin-left: -8px;
}

.about-programm:hover {
  text-decoration: none;
}

.form-footer label {
  font-size: 22px;
  padding-left: 20px;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
}

.club-life-block-eight input.btn {
  background: #9f7a4c;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9f7a4c 0%, #ab875a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9f7a4c), color-stop(100%, #ab875a));
  background: -webkit-linear-gradient(top, #9f7a4c 0%, #ab875a 100%);
  background: -o-linear-gradient(top, #9f7a4c 0%, #ab875a 100%);
  background: -ms-linear-gradient(top, #9f7a4c 0%, #ab875a 100%);
  background: linear-gradient(to bottom, #9f7a4c 0%, #ab875a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f7a4c', endColorstr='#ab875a', GradientType=0);
  width: 200px;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  margin-top: 25px;
//  margin-left: 24px;
  font-size: 20px;
  border-radius: 34px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
}

.form-footer {
  width: 595px;
  margin: 0 auto;
}

.form-footer input:first-child {
  margin-top: 0;
}

.form-footer input,
.form-footer select {
  width: 100%;
  z-index: 1;
  height: 58px;
  margin-top: 29px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}

.map-title {
  display: block;
  font-size: 33px;
  font-family: EkibastuzBd;
  text-transform: uppercase;
  margin-top: 8px;
}

#map {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  border: 3px solid #ab875a;
  margin-top: 47px;
}

#partners-desc .screen-title {
  text-transform: none;
}

#partners-desc .brown-divider {
  width: 25px;
  display: block;
  height: 2px;
  background: #ab875a;
  margin-top: 95px;
}

#partners-desc {
  width: 100%;
  height: 700px;
  background: url('../images/partners-bg.jpg') no-repeat left top;
  position: relative;
  margin-top: 47px;
  padding-left: 80px;
  box-sizing: border-box;
}

.contact-info .title {
  text-transform: uppercase;
  color: #929292;
}

.contact-info span {
  display: block;
  width: 100%;
}

.contact-info {
  width: 290px;
  color: white;
  margin-top: 23px;
}

.contact-info-close {
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  background: url('../images/brown-close-button.jpg') no-repeat center center;
  top: 0;
  right: 65px;
}

.contact-info-close:hover {
  opacity: 0.7;
}

.contact-info .phone {
  background: url('../images/contact-info.png') no-repeat left -3px;
  margin-top: 30px;
  padding-left: 36px;
}

.contact-info .address {
  background: url('../images/contact-info.png') no-repeat left -87px;
  padding-left: 36px;
  margin-top: 20px;
}

.right-contact-info .title {
  text-transform: uppercase;
  display: block;
  margin-top: 32px;
  font-size: 23px;
}

.right-contact-info .divider {
  width: 25px;
  background: black;
  height: 2px;
  margin-top: 14px;
}

.right-contact-info .text {
  display: block;
  margin-top: 17px;
  line-height: 24px;
}

.right-contact-info .brown-text {
  color: #ab875a;
  font-weight: bold;
  margin-top: 32px;
  display: block;
}

.right-contact-info {
  position: absolute;
  top: 50px;
  width: 530px;
  left: 510px;
  height: 410px;
}

.contact-info .link {
  background: url('../images/contact-info.png') no-repeat left -44px;
  display: block;
  padding-left: 36px;
  color: white;
  margin-top: 23px;
}

.club-life-block-six .right-col {
  width: 460px;
  height: 135px;
  position: absolute;
  right: 0;
  top: 0;
}

.search-map {
  width: 54%;
  margin-left: 45%;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px #929292 solid;
  background: url('../images/brown-loupe.png') transparent no-repeat right center;
  cursor: pointer;
  margin-top: 70px;
  outline: none;
  color: #929292;
  font-size: 14px;
  padding-left: 10px;
}
.right-col .btn {
  line-height: 32px;
}
.map-category {
  color: black;
  width: 130px;
  margin-left: 16px;
  margin-top: 30px;
  background: url('../images/drop-down-arrows.png') no-repeat 140px -10px;
}

.map-city {
  width: 130px;
  margin-left: 16px;
  margin-top: 30px;
  display: inline;
}

.map-city-btn {
  border: none;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: PTSans;
  font-size: 12px;
  text-decoration: none;
  color: white;
  background: url('../images/drop-down-arrows.png') #ab875a no-repeat 140px 10px;
  width: 170px;
  text-align: center;
  line-height: 32px;
  height: 34px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.map-type {
  width: 70px;
  height: 50px;
  display: inline-block;
}

.map-list {
  background-color: #ab875a;
  border: 2px #ab875a solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
  float: left;
  margin-top: 31px;
  margin-left: 13px;
  width: 31px;
  height: 32px;
  background: url('../images/sprite-type-map-button.png') no-repeat 2px -75px;
}

.map-view {
  background-color: #ab875a;
  border: 2px #ab875a solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: block;
  margin-top: 31px;
  margin-left: 48px;
  width: 31px;
  height: 32px;
  background: url('../images/sprite-type-map-button.png') no-repeat center -1px;
}

.map-list.active,
.map-list:hover {
  background: url('../images/sprite-type-map-button.png') #ab875a no-repeat 3px -24px;
}

.map-view.active,
.map-view:hover {
  background: url('../images/sprite-type-map-button.png') #ab875a no-repeat center -49px;
}

.map-type a.active:hover {
  opacity: 1;
}

.map-type a:hover {
  opacity: 0.7;
}

#partners-list {
  height: 540px;
  position: relative;
  margin: 44px auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 80px;
}

.partner-col {
  width: 296px;
  float: left;
  height: 100%;
}

div#partners-list div.partner:hover {
  border: 1px solid #ab875a;
}

#partners-list .partner {
  width: 293px;
  margin-left: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  height: 180px;
  background: white;
  border: 1px solid transparent;
  float: left;
}

#partners-list .partner .title {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 17px;
  font-family: EkibastuzBd;
  text-transform: uppercase;
}

#partners-list .partner .desc {
  text-align: center;
  display: block;
  color: #ab875a;
  width: 100%;
}

#partners-list .partner .img {
  margin: 10px auto;
  display: block;
  height: 80px;
  margin-bottom: 20px;
}

.partner-list-bar {
  position: absolute;
  width: 10000px;
  height: 100%;
  top: 0;
  left: 0;
}

.partner-one-block {
  width: 1185px;
  height: 100%;
  float: left;
}

.club-life-block .navigation a {
  position: absolute;
  background-image: url('../images/navigation-arrows.png');
  background-repeat: no-repeat;
  width: 59px;
  height: 105px;
  top: 50%;
  z-index: 10;
}

.club-life-block .navigation a:hover {
  opacity: 0.7 !important;
}

.club-life-block .navigation a.prev {
  left: 10px;
  background-position: center top;
}

.club-life-block .navigation a.next {
  right: 10px;
  background-position: center bottom;
}

.two-iphones {
  background: url('../images/red-black-abstraction.jpg') no-repeat center center;
  background-size: cover;
}

.video-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 850px;
  height: 510px;
  margin: auto;
  z-index: 10;
  display: none;
}

.sevices {
  background-color: #d0b296;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  padding-top: 50px !important;
  position: relative;
  z-index: 10;
  top: 0;
  display: none;
  padding-bottom: 50px;
}

.point-nav {
  width: auto;
  position: absolute;
  bottom: 34px;
  height: 0px;
  left: 46%;
  list-style: none;
}

.point-nav a {
  width: 20px;
  height: 20px;
  outline: none;
  margin: 0;
  text-decoration: none;
  display: block;
  float: left;
  background: url('../images/points.png') no-repeat center bottom;
}

.point-nav a.active {
  background-position: center top;
}

.services-list {
  background: white;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.scroll-services {
//  height: 1030px;
  background: white;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding-bottom: 5px;
}

.services-list-close {
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  background: url('../images/brown-close-button.jpg') no-repeat center center;
  top: 0;
  z-index: 1;
  right: 88px;
}

.close-video-button {
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  background: url('../images/brown-close-button.jpg') no-repeat center center;
  top: 0;
  z-index: 1;
  right: 50px;
}

.services-list-close:hover {
  opacity: 0.7;
}

.jspDrag {
  background: url('../images/scrollbar_original.png') no-repeat center top;
}

.jspTrack {
  background: #e5e5e5;
}

.services-type.main {
  left: 90px;
}

.services-type.advert {
  left: 432px;
}

.services-type.active {
  color: black;
  border-bottom: 2px transparent dashed;
}

.services-type:hover {
  color: #ab875a;
  border-color: #ab875a;
}

.services-type {
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  display: block;
  z-index: 1;
  top: 30px;
  font-size: 33px;
  padding-bottom: 2px;
  border-bottom: 2px #9d9d9d dashed;
  color: #9d9d9d;
}

.reg-info .divider {
  background: #9d9d9d;
  width: 25px;
  height: 2px;
  margin-top: 25px;
}

.reg-info {
  width: 600px;
  position: absolute;
  right: 0;
  padding-left: 7px;
  top: 0;
  box-sizing: border-box;
}

.reg-info .reg-button {
  display: inline-block;
  border: 2px solid #ab875a;
  padding-right: 20px;
  margin-top: 22px;
  height: 32px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  background: url('../images/reg-icon.jpg') no-repeat left center;
  padding-left: 63px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.reg-info .text {
  display: block;
  color: #9d9d9d;
  margin-top: 23px;
  line-height: 22px;
}

.reg-info .date {
  color: white;
  display: block;
  margin-top: 10px;
}

.reg-info .title {
  text-transform: uppercase;
  color: #ab875a;
  font-size: 23px;
  margin-top: 74px;
  display: block;
}

.headers {
  background: #f3f3f3;
  height: 65px;
  line-height: 65px;
  width: 980px;
  box-sizing: border-box;
}

.headers > span {
  width: 32%;
  display: block;
  float: left;
  text-align: center;
}

.grey {
  color: #9d9d9d;
}

.block-four-one .title {
  margin-top: 38px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.block-four-one {
  width: 980px;
  margin: 0px auto;
  box-sizing: border-box;
  position: relative;
}

.services-list .divider {
  background: #9d9d9d;
  height: 1px;
  margin: 27px auto;
  width: 980px;
}

.block-four-one .number-of-title {
  color: #ab875a;
  padding-right: 20px;
  font-family: PTSansBold;
}

.block-four-one-line > div.brown-block {
  color: #ab875a;
  font-weight: bold;
}

.block-four-one-line > div {
  width: 32%;
  float: left;
  line-height: 46px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-left: 42px;
  color: #9d9d9d;
  position: relative;
}

.okey {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: url('../images/true-false-icons.png') no-repeat center 6px;
}

.block-four-one-line {
  width: 100%;
  height: 50px;
}

.not-okey {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: url('../images/true-false-icons.png') no-repeat center -24px;
}

.services-apply {
  Color: black;
  text-decoration: none;
  text-transform: uppercase;
  width: 230px;
  height: 40px;
  border: 2px solid #ab875a;
  line-height: 40px;
  display: block;
  text-align: center;
  padding: 0;
  margin-left: 40%;
  font-weight: bold;
  overflow: hidden;
  border-radius: 30px;
  font-size: 13px;
  -webkit-border-radius: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  -moz-border-radius: 30px;
}

.services-apply span {
  background: url('../images/two-man.png') #ab875a no-repeat center center;
  display: block;
  width: 55px;
  height: 40px;
  float: left;
}

.services-list .top-fixed-link {
  position: absolute;
  top: 0;
  width: 98%;
  background: white;
  height: 100px;
  z-index: 1;
  left: 0;
}

.brown-block .rub {
  text-align: center;
  width: 100%;
  display: block;
}

.brown-block .rub:after {
  font-size: 15px;
}

.info-icon {
  width: 30px;
  height: 40px;
  background: url('../images/info-icon.png') no-repeat center center;
  display: inline-block;
  line-height: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: -14px;
}

.calendar-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 365px;
  position: absolute;
}

.calendar-bar {
  min-width: 10000px;
  width: auto;
  height: 540px;
  margin: 0;
  padding-top: 84px;
  cursor: pointer;
  position: relative;
  left: 0;
  top: 0;
}

.calendar-wrap .line {
  position: absolute;
  top: 102px;
  left: 0;
  width: 100%;
  background: #9d9d9d;
  height: 1px;
}

.day-text {
  font-size: 9px;
  display: block;
  margin-top: -23px;
  width: 100%;
  text-transform: uppercase;
  color: #929292;
  text-align: center;
  margin-bottom: 12px;
}

.event {
  min-width: 52px;
  height: 100%;
  position: relative;
  float: left;
  box-sizing: border-box;
}

.event .day {
  display: block;
  margin: 0 auto;
  background-color: white;
  font-weight: bold;
  color: #ab875a;
  width: 32px;
  height: 32px;
  border: 2px solid #9d9d9d;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  box-sizing: content-box;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
}

.event.active {
  width: 320px;
}

.event.active .day {
  color: #ffffff;
  border: 2px solid #ab875a;
  background-color: #ab875a;
}

.event-text {
  width: 300px;
  height: auto;
  position: relative;
  margin: 25px auto;
  border: 2px solid #ab875a;
  padding-left: 25px;
  cursor: default;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.event-text:after {
  width: 22px;
  height: 13px;
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -11px;
  display: block;
  content: '';
  background: url('../images/arrow-top-calendar.jpg') no-repeat center center;
}

.start-time {
  color: #929292;
  margin-top: 22px;
  display: block;
  font-size: 16px;
}

.reg-form .divider {
  background: #ab875a;
  width: 25px;
  height: 2px;
  margin: 12px auto;
}

.reg-form .title {
  display: block;
  color: #ab875a;
  text-transform: uppercase;
  margin-toP: 149px;
  width: 100%;
  text-align: center;
  font-family: EkibastuzBd;
  font-size: 21px;
}

.reg-form label {
  color: white;
  width: 100%;
  display: block;
  margin-top: 38px;
  text-align: center;
}

.reg-form input.error {
  color: white;
  border: 2px solid white;
}

.reg-form input:focus {
  border: 2px solid white;
}

.reg-form input {
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  display: block;
  margin: 10px auto;
  height: 31px;
  line-height: 31px;
  color: #ab875a;
  width: 350px;
  border: 2px solid #929292;
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.reg-form .send-btn {
  display: block;
  margin: 41px auto;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 11px;
  background-color: #ab875a;
  font-weight: bold;
  width: 180px;
  height: 36px;
  line-height: 36px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.reg-form .form-return-btn:after {
  display: block;
  float: left;
  width: 14px;
  height: 9px;
  content: '';
  margin-left: -20px;
  background: url('../images/arrow-left.png') no-repeat center center;
  margin-top: 5px;
}

.reg-form .form-return-btn:hover:after {
  background: url('../images/left-white-arrow.png') no-repeat center 0px;
}

.form-return-btn:hover {
  color: white !important;
  border-bottom: 1px solid #ffffff !important;
}

.reg-form .form-return-btn {
  border-bottom: 1px solid #929292;
  color: #929292;
  margin: 100px auto;
  display: block;
  padding-bottom: 2px;
  width: 142px;
  font-size: 15px;
  text-decoration: none;
}

.reg-form {
  width: 600px;
  position: absolute;
  right: 0;
  padding-left: 7px;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  display: none;
}

img[src="http://www.google.com/intl/en_us/mapfiles/close.gif"] {
  display: none;
}

.answer span {
  position: relative;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 270px auto;
  width: 100%;
  color: #ab875a;
}

.answer {
  width: 600px;
  position: absolute;
  right: 0;
  padding-left: 7px;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  display: none;
}

.event-text .text {
  margin-top: 10px;
  display: block;
  font-size: 19px;
}

.event-text .address-icon {
  width: 21px;
  height: 21px;
  display: block;
  margin: 0;
  float: left;
  padding: 0;
  background: url('../images/calendar-loc-icon.png') no-repeat center center;
  margin-right: 14px;
}

.event-text .address {
  width: 260px;
  color: #ab875a;
  display: block;
  margin-top: 22px;
  font-size: 16px;
  line-height: 22px;
}

.event-text .divider {
  width: 87%;
  height: 2px;
  margin: 25px 0 0 4px;
  background: #ab875a;
}

.calendar .desc {
  display: block;
  margin-top: 13px;
  color: #929292;
  font-size: 18px;
  font-family: PTSans;
}

.calendar .title {
  text-transform: uppercase;
  display: block;
  font-size: 33px;
  font-family: EkibastuzBd;
  margin-top: 8px;
  line-height: 37px;
}

.jspVerticalBar {
  height: 70% !important;
  width: 20px;
}

.calendar-links {
  margin-top: 45px;
  color: black;
}

.calendar-links a.active {
  color: #ab875a;
  border-bottom: 2px solid #ab875a;
}

.calendar-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #929292;
  display: block;
  font-size: 17px;
  border-bottom: 2px solid transparent;
  width: auto;
  font-family: EkibastuzBd;
  float: left;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 70px;
}

a.calendar-year {
  font-size: 31px;
  margin-right: 0;
  line-height: 28px;
  padding-bottom: 0;
  color: black;
  cursor: default;
  width: 150px;
}

.calendar-month:hover {
  color: #ab875a;
}

.club-life-block .b-select-city._offices .b-select-city_current,
.club-life-block .b-select-city._city .b-select-city_current,
.club-life-block .b-select-city._offices .b-select-city_current:hover,
.club-life-block .b-select-city._city .b-select-city_current:hover {
  color: #ab875a !important;
  background: white;
  border: 2px #ab875a solid;
  border-radius: 20px 20px 0px 0px !important;
  /*border-bottom: 2px solid rgba(255, 255, 255, 0);*/
  border-bottom: none;
  background: url('../images/arrow-popup-opened.png') #ffffff no-repeat 90% center;
}

.club-life-block .calendar-citys .b-select-city_cnt,
.club-life-block .b-select-offices {
  top: 34px;
  right: 0 !important;
  border: 2px solid #ab875a !important;
  border-radius: 20px 0px 20px 20px !important;
}

.calendar-citys {
  position: absolute;
  top: 128px;
  right: 0;
}

.calendar-citys-button {
  border: none;
  padding: 0;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-family: PTSans;
  font-size: 12px;
  text-decoration: none;
  color: white;
  background: url('../images/drop-down-arrows.png') #ab875a no-repeat 140px 9px;
  width: 170px;
  text-align: center;
  border: 2px solid transparent;
  line-height: 30px;
  height: 32px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.map-city-btn {
  border: 2px solid transparent;
}
.map-city .b-select-city_cnt,
.map-city .b-select-offices
{
//  top: 22px !important;
}
.calendar-citys-button:hover,
.map-city-btn:hover {
  /*border: 2px solid #ab875a !important;*/
  border-radius: 20px !important;
  color: #ab875a;
  border-color: #ab875a;
  background: url('../images/arrow-popup-opened.png') no-repeat 90% center;
}

.club-life-block-six .b-select-city_cnt,
.club-life-block-six .b-select-offices {
//  top: 34px;
//  right: 3px !important;
  border-bottom: none;
  /*border: 2px solid #ab875a !important;*/
  border-radius: 20px 0px 20px 20px !important;
}
.map-city {
  .b-select-city_cnt,.b-select-offices {
    top: 25px !important;
    right: 4px !important;
  }
}


.map-city .b-select-city_cnt{
  border: 2px solid #ab875a !important;
}
.map-wrap {
  width: 100%;
  height: 672px;
  background-color: white;
  z-index: 10;
  position: absolute;
  display: none;
  padding-top: 70px;
  top: 260px;
}

.map-wrap .past {
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  height: 100%;
}

.map-wrap .left-past {
  background: url('../images/left-black-abstraction2.jpg') no-repeat center center;
  background-size: cover;
}

.calendar-map-close:hover {
  opacity: 0.7;
}

.headers > span:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
  font-weight: bold !important;
}

.headers > span:nth-child(3) {
  font-weight: bold !important;
}

span.black {
  font-weight: bold;
}

.calendar-map-close {
  display: block;
  width: 65px;
  height: 60px;
  position: absolute;
  background: url('../images/brown-close-button.jpg') no-repeat center center;
  top: 0;
  z-index: 1;
  left: 530px;
}

#calendar-map {
  width: 100%;
  height: 100%;
}

.select-wrapper {
  position: relative;
  margin-top: 0px;
}

.select-wrapper:after {
  content: ' ';
  display: block;
  border: 7px solid #858585;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: 30px;
  top: 28px;
}

.customSelect {
  border-radius: 4px;
  border: 1px solid #bababa;
  background: #f6f6f6;
  font-size: 20px;
  line-height: 26px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  margin-top: 0 !important;
  border-radius: 4px;
  border: 1px solid #bababa;
  background: #f6f6f6;
  font-size: 20px;
  line-height: 26px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (max-width: 1360px) {
//  .navigation {
//    display: none;
//  }

//  .b-column {
//    padding: 0 20px;
//  }

  .block-four-left .card {
    margin-left: 0px;
  }

  .club-life-block-one {
    height: 470px;
  }

  .block-one-text {
    padding-top: 57px;
  }

  .block-one-title {
    font-size: 29px;
    line-height: 29px;
  }

  .block-one-text .text {
    line-height: 22px;
    font-size: 16px;
  }

  #partners-list {
    margin: 104px auto;
  }

  .block-two-text {
    font-size: 16px;
  }

  .club-life-block-five {
    height: 947px;
  }

  .card .back {
    width: 396px !important;
    background-size: contain !important;
  }

  .card .front {
    width: 396px !important;
    background-size: contain !important;
  }

  .blocks-four .text {
    font-size: 16px;
  }

  .card {
    width: 396px !important;
    height: 300px !important;
    margin-top: -108px !important;
  }

  .reg-info,
  .answer,
  .reg-form {
    width: 470px;
  }

  .blocks-four .price {
    margin-top: 200px !Important;
  }

  .block-four-right .card {
    padding-left: 3% !important;
  }

  .blocks-four .title,
  .blocks-four .price,
  .blocks-four .text {
    padding-left: 0;
  }

  .block-four-right .title,
  .block-four-right .price,
  .block-four-right .text {
    padding-left: 8% !important;
  }

  .block-four-right .btn {
    margin-left: 8%;
  }

  .club-life-block-four {
    height: 603px;
  }

  .club-life-block-two {
    height: 785px;
  }

  .services-list-close {
    right: 50px;
  }

  .block-four-one,
  .services-list .divider,
  .headers {
    width: 850px;
  }

  .calendar-citys {
    right: 60px;
  }

  .calendar-map-close {
    left: 380px;
  }

  .map-title {
    font-size: 27px;
  }

  .club-life-block-six .right-col {
    right: 20px;
  }

  .partner-col {
    width: 233px;
  }

  #partners-list .partner {
    width: 230px;
  }

  #partners-list {
    width: 932px !important;

  }

  .right-contact-info {
    left: 450px;
  }

  #partners-desc {
    padding-left: 50px;
  }

  .club-life-block-seven {
    height: 522px;
  }

  .screen-title {
    margin-top: 32px;
    margin-bottom: 50px;
  }

  .content-rdb .screen-title {
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .club-life-block-seven .title {
    font-size: 27px;
  }

  .club-life-block-seven .divider {
    margin-top: 10px;
  }

  .club-life-block-seven .text {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }
}
