@import "../../../node_modules/lesshat/build/lesshat.less";

.height-top {
  height: 120px;
  width: 100%;
}

.block {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.block-one {
  height: 765px;
//  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
}

.block-two {
  height: 675px;
//  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
}

.block-three {
  height: 775px;
//  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
}

.block .block-title {
  font-family: EkibastuzBd;
  padding-top: 58px;
  display: block;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

.list-wrapper {
  float: left;
  margin: 0;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  width: 50%;
  position: relative;
}

.list-title {
  display: block;
  font-family: EkibastuzBd;
  font-size: 21px;
  text-transform: uppercase;
  padding-left: 0px;
  margin-top: 47px;
}

.list {
  line-height: 20px;
  margin-top: 30px;
  padding: 0;
}

ul {
  list-style: none;
  position: relative;
}

.list li {
  background: url('../images/orange-circle.png') no-repeat -2px top;
  padding-left: 31px;
  padding-bottom: 13px;
}

.list li span {
  font-size: 18px;
  font-family: PTSans;
  line-height: 22px;
}

.wrapper {
  float: left;
  width: 100%;
}

.subtitle {
  font-family: EkibastuzBd;
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  letter-spacing: 1px;
}

.orange-link {
  color: #ffa619;
}

.titlename {
  display: block;
  font-family: EkibastuzBd;
  margin-top: 43px;
  font-size: 16px;
  letter-spacing: 1px;
}

.right-grey-border {
//  height: 156px;
  height: 100%;
  background: #dadada;
  width: 1px;
  position: absolute;
  top: 42px;
  right: 0;
}

.second-ul {
  width: 55% !important;
  box-sizing: border-box;
  padding-left: 65px;
}

.padding-ul-left li {
  position: relative;
}

.padding-ul-left li:before {
  content: '—';
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.padding-ul-left li span {
  padding-left: 20px;
  display: inline-block;
}

.padding-ul-left li,
.padding-ul-left li span {
  color: #868686;
}

.padding-ul-left {
  margin-left: 25px;
}

.padding-ul-left li {
  padding-bottom: 10px;
}

.icon-wrapper-man {
  width: 62px;
  height: 58px;
  position: absolute;
  left: -31px;
  top: 0;
  display: block;
  background: url('../images/man-orange-icon.png') no-repeat center center;
}

.icon-wrapper-message {
  display: block;
  width: 63px;
  height: 59px;
  position: absolute;
  left: -38px;
  top: 0;
  background: url('../images/message-orange-icon.png') no-repeat center center;
}

.wrapper-two .list-wrapper {
  width: 45%;
}

.disabled .padding-ul-left li,
.disabled .padding-ul-left li span {
  color: black !important;
}

.disabled {
  opacity: 0.3;
}

.bottom-nav {
  height: 60px;
  background-color: #109686;
  border-top: 1px solid #3fbeaf;
}

.div-nav-services .links-top {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: "PTSansBold", sans-serif;
  color: white;
  text-decoration: none;
}

.div-nav-services .div-nav {
  position: relative;
  float: left;
  height: 100%;
  line-height: 60px;
}

.div-nav-services .div-nav.active:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -31px;
  width: 62px;
  height: 25px;
  content: '';
  background: url('../images/green-arrow-menu.png') no-repeat center center;
}

.tip {
  display: block;
  font-size: 16px;
  width: 200px;
  height: 70px;
  font-family: EkibastuzBd;
  position: absolute;
  top: -91px;
  left: 121px;
  background: url('../images/green-arrow-down.png') no-repeat left top;
  padding-left: 60px;
  color: #1bae9c;
}

.div-nav-services .div-nav.active {
  background: #1bae9c;
}

@media screen and (max-width: 1360px) {
//  .b-column {
//    padding: 0 20px;
//  }

  .services-block-one {
    background-position: center center;
  }

  .price-block-one {
    width: 287px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .services-block-one-desc .title {
    font-size: 27px;
    line-height: 32px;
  }

  .services-block-one-desc .text {
    font-size: 16px;
    margin-top: 22px;
    line-height: 22px;
  }

  .price-block-one {
    margin-left: -20px;
  }

  .price-block-two {
    margin-left: -20px;
  }

  .service-wrapper .block {
    width: 320px;
  }

  .services-nav a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }

  .services-nav {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }

  .services-nav a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }

  .services-nav a.prev:hover {
    background-position: center -170px;
  }

  .services-nav a.next {
    background-position: left -112px;
  }

  .services-nav a.next:hover {
    background-position: left -56px;
  }

  .services-nav-two a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }

  .services-nav-two {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }

  .services-nav-two a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }

  .services-nav-two a.prev:hover {
    background-position: center -170px;
  }

  .services-nav-two a.next {
    background-position: left -112px;
  }

  .services-nav-two a.next:hover {
    background-position: left -56px;
  }

  .service-wrapper {
    width: 960px !Important;
  }

  .services-wrapper {
    width: 960px !Important;
  }

  .block_two {
    background-position-x: -364px !important;
  }

  .block_three {
    background-position-x: -785px !important;
  }

  .top-of-column-wrapper .title {
    font-size: 26px;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
  }

  .top-of-column {
    width: 620px;
  }

  .orange-line {
    max-width: 440px;
  }

  .services-block-three-list {
    width: 578px;
  }

  .services-block-three-list-block .title-block {
    margin-top: 15px;
  }

  .services-block-three-list-block:nth-child(3) .desc-block {
    margin-left: 25px;
    width: 100%;
  }

  .services-block-three-list-block:nth-child(3) .title-block {
    margin-left: 50px;
  }

  .services-block-three-list-block:nth-child(2) .title-block {
    width: 88%;
  }

  .top-of-column-wrapper .bottom-text {
    color: #282828;
    float: left;
    display: block;
    margin-top: 87px;
    font-size: 15px;
    line-height: 22px;
    margin-left: -7px;
  }

  .bottom-of-column-img {
    right: 68px;
  }

  .bottom-of-column-title {
    font-size: 27px;
  }

  .bottom-of-column-text {
    margin-top: 33px;
    margin-bottom: -5px;
  }
}
