.token-page-content {

  .screen-title {
    margin-top: 0;
  }
  h3 {
    font-family: "ekibastuzbd";
    font-size: 20px;
    text-transform: uppercase;
    color: #555555;
    line-height: 23px;

    &.line-after {
      &:after {
        content: " ";
        display: block;
        margin-top: 25px;
        margin-bottom: 27px;
        background: #555;
        width: 24px;
        height: 2px;
      }
    }

  }

  .token-descr {
    color: #5b5b5b;
  }

  .token-descr-col-style {
    padding-left: 25px;

    h3 {
      position: relative;
      font-size: 17px;
      span {
        position: absolute;
        top: 3px;
        left: -25px;
      }
    }

    .ico {
      margin-bottom: 30px;
    }

    &:before {
      content: ' ';
      position: absolute;
      background: url("../images/icons/token-arrow.jpg") no-repeat;
      width: 159px;
      height: 53px;
      top: 51px;
      left: 70%;

    }
    &:nth-child(3) {
      &:before{
        display: none;
      }
    }
  }

  .bg-token-1 {
    background: url("../images/index/3_1.jpg") no-repeat 50%;
    background-size: cover;
  }

  .token-gost-ico {
    background: url("../images/icons/token-gost.jpg") no-repeat top left;
    width: 122px;
    height: 122px;
  }

  .token-pass-ico {
    background: url("../images/icons/token-pass.jpg") no-repeat top left;
    width: 122px;
    height: 122px;
  }

  .token-gost-descr-ico1 {
    background: url("../images/icons/token-1.jpg") no-repeat top left;
    width: 109px;
    height: 147px;
  }
  .token-gost-descr-ico2 {
    background: url("../images/icons/token-2.jpg") no-repeat top left;
    width: 116px;
    height: 147px;
  }
  .token-gost-descr-ico3 {
    background: url("../images/icons/token-3.jpg") no-repeat top left;
    width: 100px;
    height: 147px;
  }

  .token-pass-descr-ico1 {
    background: url("../images/icons/token-4.jpg") no-repeat top left;
    width: 104px;
    height: 147px;
  }
  .token-pass-descr-ico2 {
    background: url("../images/icons/token-5.jpg") no-repeat top left;
    width: 113px;
    height: 147px;
  }
  .token-pass-descr-ico3 {
    background: url("../images/icons/token-6.jpg") no-repeat top left;
    width: 101px;
    height: 147px;
  }
}
