
.cursor-default,
.cursor-default * {
    cursor: default !important;
}



.w{posiion: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;}
.cVHP, .centerVHPosition {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}
.cHP, .centerHPosition {position: absolute;left: 0;right: 0;margin: 0 auto;}
.cVP, .centerVPosition {position: absolute;top: 0;bottom: 0;margin: auto 0;}
.cVLP, .centerV_LeftPosition {position: absolute;top: 0;bottom: 0; left:0;margin: auto 0;}
.cVRP, .centerV_RightPosition {position: absolute;top: 0;bottom: 0; right:0;margin: auto 0;}
.cHTP, .centerH_TopPosition {position: absolute; top:0; left: 0;right: 0;margin: 0 auto;}
.cHBP, .centerH_BottomPosition {position: absolute; bottom:0; left: 0;right: 0;margin: 0 auto;}

.cBT, .centeredByTranslate{
  position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);
}

.tLP, .topLeftPosition{position: absolute;left: 0;right: auto;top: 0;bottom: auto;}
.tRP, .topRightPosition{position: absolute;left: auto;right: 0;top: 0;bottom: auto;}
.bLP, .bottomLeftPosition{position: absolute;left: 0;right: auto;top: auto;bottom: 0;}
.bRP, .bottomRightPosition{position: absolute;left: auto;right: 0;top: auto;bottom: 0;}

.bg {width: 100%;height: 100%;}
.bgHidden {opacity: 0;}
.bgVisible {opacity: 1;}

.inl-V-c,.inline-vertical-center{
//  font-size: 0px;
  &:before{
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }
 > *{
     vertical-align: middle;
     display: inline-block;
 }
}
.inl-H-c,.inline-horizontal-center{
    text-align: center;
}
.bgCrop {
    display: block;
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
}

.bgCrop > img,
.bgCrop > video{
    display: block;
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.overlay {opacity: 0;background: black;}
.overlay.on{opacity: 1}

.displayNone{display: none;}
.displayBlock{display: block;}
.displayInlineBlock{display: inline-block;}

.blockVisible{
  visibility: visible !important;
}
.blockHidden,
.blockHidden *{
    visibility: hidden !important;
}


.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.disable-hover,
.disable-hover * {
    pointer-events: none !important;
}

@-webkit-keyframes rotateThisClockwise{
    0% {
        -webkit-transform: rotate(-360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateThisClockwise{
    0% {
        -moz-transform: rotate(-360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateThisClockwise{
    0% {
        -ms-transform: rotate(-360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-o-keyframes rotateThisClockwise{
    0% {
        -o-transform: rotate(-360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes rotateThisClockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateThisAnticlockwise{
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateThisAnticlockwise{
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateThisAnticlockwise{
    0% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@-o-keyframes rotateThisAnticlockwise{
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes rotateThisAnticlockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}