

<div class="global-footer wrapper">

    <div class="b-call-line clearfix">
        <div class="l-container l-container-footer">
            <div class="items">
                <div class="item for-call">
                    Для звонков внутри региона <span>+7 (495) 933 37 30</span>

                    <div class="info">Для звонков по России 8 (800) 100-10-20</div>
                </div>
                <div class="item consultant">
                    <!-- У кнопок есть разные цвета, можно для разных состояний назначать разные цвета-->
                    <!--<a class="btn btn-middle btn-green" href="#online-call">Онлайн-консультант</a>-->
                    <span class="footer-online-call-link">Онлайн-консультант</span>

                    <div class="info">Пн.-пт. 9:00 — 18:00 Мск</div>
                </div>
                <div class="item money-back">
                    <div class="icon-money-back"></div>
                    <div class="cnt">
                        Money back
                        <div class="info">100% гарантии</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="b-footer">
        <div class="l-container l-container-footer">
            <a href="#" class="family-footer-logo"><i></i><span>Разработано в The Family</span></a>

            <div class="b-footer_social_items">
                <a class="b-footer_social_item ig" href="#ig"></a>
                <a class="b-footer_social_item fb" href="#fb"></a>
                <a class="b-footer_social_item vk" href="#vk"></a>
                <a class="b-footer_social_item tw" href="#tw"></a>
                <a class="b-footer_social_item ok" href="#ok"></a>
                <a class="b-footer_social_item life-blog" href="#life-blog"></a>
            </div>
            <div class="b-footer_copyright">© 2014 Все права защищены.</div>
            <div class="b-footer_info">Департамент по работе с клиентами малого и среднего бизнеса Финансовая группа
                Лайф
            </div>
        </div>
    </div>
</div>