
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Лайф бизнес">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>Лайф бизнес</title>

    <meta name="title" content="Лайф бизнес"/>
    <meta name="description" content="Лайф бизнес"/>
    <link rel="image_src" href="images/all_share.jpg"/>

    <meta property="og:title" content="Лайф бизнес"/>
    <meta property="og:url" content="http://someurl/"/>
    <meta property="og:description" content="Лайф бизнес"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Лайф бизнес"/>
    <meta property="og:image" content="media/img/all_share.jpg"/>

    <meta name="mrc__share_title" content="Лайф бизнес">
    <meta name="mrc__share_description"  content="Лайф бизнес"/>

    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0"/>

    <link rel="stylesheet" href="css/style.css"/>

    <script src="js/libs/jquery.min.js"></script>

    <script src="js/helpers.js"></script>
    <script src="js/drop-down-menu.js"></script>
    <script src="js/libs/customselect.js"></script>

    <script src="js/main.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>


</head>