<div class="global-header ">
    <header class="clearfix">
        <div class="header-top">
            <div class="b-column">
                <div class="column-type-wrapper">
                    <nav>
                        <a href="#">частным лицам</a>
                        <a class="active" href="#">малому и среднему бизнесу</a>
                        <a href="#">корпоративным клиентам</a>
                        <a href="#">о нас</a>
                    </nav>
                    <div class="pull-right">
                        <div class="b-top-line_search">
                            <a href="#" class="header-icon header-icon-search b-top-line_search_btn"></a>

                            <div class="b-top-line_search_cnt">
                                <input id="search" class="b-top-line_search-text" name="search" type="text"
                                       placeholder="Что ищем?">
                                <input type="button" value="Найти" class="b-top-line_search-btn">
                            </div>
                        </div>
                        <div class="b-top-line_mail">
                            <a href="#" class="header-icon header-icon-mail b-top-line_mail_btn"></a>

                            <div class="b-top-line_mail_popup">
                                <div class="b-top-line_mail_popup-overlay"></div>
                                <div class="b-top-line_mail_popup-window">
                                    <div class="close"></div>
                                    <form action="">
                                        <div class="b-top-line_mail_popup_subject form-group">
                                            <label for="subject_text">Тема сообщения</label>

                                            <div class="form-control">
                                                <select name="subject_type" id="subject_type">
                                                    <option value="0">Кредитные карты</option>
                                                    <option value="1">Дебетовые карты</option>
                                                </select>
                                            </div>
                                            <div class="form-control">
                                                <textarea name="subject_text" id="subject_text"></textarea>
                                            </div>
                                        </div>
                                        <div class="b-top-line_mail_popup_subject form-group">
                                            <label>Личная информация</label>

                                            <div class="form-control"><input name="name" type="text" placeholder="Имя *"></div>
                                            <div class="form-control"><input name="phone" type="text"
                                                                             placeholder="Номер телефона"></div>
                                            <div class="form-control"><input name="email" type="text"
                                                                             placeholder="Электронная почта *"></div>
                                            <div class="form-control"><input type="checkbox" id="c1" checked=""><label for="c1">Я
                                                не возражаю против публикации отзыва</label></div>
                                        </div>
                                        <input type="submit" class="btn btn-large" value="Отправить сообщение">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="b-top-line_e-life">
                            <a href="" class="b-top-line_e-life_title btn btn-xs btn-orange "><span>Интернет банк</span></a>

                            <div class="b-top-line_e-life_btns">
                                <a class="btn btn-middle btn-white" href="#для частных клиентов">для частных клиентов</a>
                                <a class="btn btn-middle btn-white" href="#для бизнеса">для бизнеса</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-column header-bottom">
            <div class="column-type-wrapper">
                <div class="header-bottom-left">
                    <h1 class="logo">Промбизнесбанк</h1>
                    <div class="b-select-city">
                        <div class="b-select-city_current"><span>Москва</span><i class="caret"></i></div>
                        <div class="b-select-city_cnt">
                            <div class="close"></div>

                            <div class="b-select-city_search">
                                <div class="b-select-city_search_title">
                                    Выберите город из списка или укажите название <br>
                                    населенного пункта в строке поиска
                                </div>
                                <div class="b-select-city_search_control">
                                    <input type="text" placeholder="Введите название вашего города">
                                </div>
                            </div>
                            <div class="b-select-city_lists">
                                <ul class="b-select-city_list">
                                    <li class="b-select-city_item _important">Москва</li>
                                    <li class="b-select-city_item _important">Санкт-Петербург</li>
                                    <li class="b-select-city_item _separator"></li>
                                    <li class="b-select-city_item">Астрахань</li>
                                    <li class="b-select-city_item">Белгород</li>
                                    <li class="b-select-city_item">Брянск</li>
                                    <li class="b-select-city_item">Абинск</li>
                                    <li class="b-select-city_item">Авангардное</li>
                                    <li class="b-select-city_item">Агаповка</li>
                                    <li class="b-select-city_item">Агинское</li>
                                    <li class="b-select-city_item">Агрыз</li>
                                </ul>
                                <ul class="b-select-city_list">
                                    <li class="b-select-city_item">Буй</li>
                                    <li class="b-select-city_item">Буинск</li>
                                    <li class="b-select-city_item">Бураево</li>
                                    <li class="b-select-city_item">Бурла</li>
                                    <li class="b-select-city_item">Бутурлино</li>
                                    <li class="b-select-city_item">Бутурлиновка</li>
                                    <li class="b-select-city_item">Быково</li>
                                    <li class="b-select-city_item">Быстрый Исток</li>
                                    <li class="b-select-city_item">Бычково</li>
                                    <li class="b-select-city_item">Вавож</li>
                                    <li class="b-select-city_item">Вагай</li>
                                </ul>
                                <ul class="b-select-city_list">
                                    <li class="b-select-city_item">Козловка</li>
                                    <li class="b-select-city_item">Козулька</li>
                                    <li class="b-select-city_item">Козьмодемьянск</li>
                                    <li class="b-select-city_item">Койгородок</li>
                                    <li class="b-select-city_item">Кола</li>
                                    <li class="b-select-city_item">Кологрив</li>
                                    <li class="b-select-city_item">Коломна</li>
                                    <li class="b-select-city_item">Колосовка</li>
                                </ul>
                            </div>
                        </div>

                        <div class="b-select-offices">
                            <div class="close"></div>

                            <div class="b-select-offices__name">
                                Ваш город <a href="#">Агрыз</a>

                                <div class="b-select-offices__separator"></div>
                            </div>

                            <div class="b-select-offices__lists">
                                <ul class="b-select-offices__list">
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Автозаводский»</div>
                                        <div class="b-select-offices__address">г. Москва, ул. Автозаводская, 6</div>
                                        <div class="b-select-offices__item__metro green">Автозаводская</div>
                                    </li>
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Новинский»</div>
                                        <div class="b-select-offices__address">г. Москва, Новинский б-р, 15</div>
                                        <div class="b-select-offices__item__metro purple">Баррикадная</div>
                                    </li>
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Новодмитровский»</div>
                                        <div class="b-select-offices__address">г. Москва, ул. Бутырская, 76, стр.1</div>
                                        <div class="b-select-offices__item__metro green">Белорусская</div>
                                    </li>
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Ломоносовский»</div>
                                        <div class="b-select-offices__address">г. Москва, Ломоносовский пр-кт, д. 23</div>
                                        <div class="b-select-offices__item__metro red">Университет</div>
                                    </li>
                                </ul>
                                <ul class="b-select-offices__list">
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Петровский»</div>
                                        <div class="b-select-offices__address">г. Москва, ул. Петровка, 18/2, стр.1</div>
                                        <div class="b-select-offices__item__metro lime">Трубная</div>
                                    </li>
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Люблинский»</div>
                                        <div class="b-select-offices__address">г. Москва, ул. Люблинская д.171</div>
                                        <div class="b-select-offices__item__metro lime">Марьино</div>
                                    </li>
                                    <li class="b-select-offices__item">
                                        <div class="b-select-offices__title">«Полежаевский»</div>
                                        <div class="b-select-offices__address">г. Москва, ул. Куусинена, д.1</div>
                                        <div class="b-select-offices__item__metro purple">Полежаевская</div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom-right">
                    <div class="b-phones">
                        <div class="clients"><i>Обслуживание клиентов</i>+7 (495) 933-37-30</div>
                    </div>
                    <div class="b-logo_main" src="assets/img/logo.jpg"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="b-main-nav b-main-nav_green"><!--  -|b-main-nav_red|b-main-nav_green|b-main-nav_brown  -->
        <div class="top-part">
            <div class="b-main-nav_in">
                <div class="b-main-nav_menu">
                    <div class="b-column b-main-nav-wrap">
                        <div class="column-type-wrapper">
                            <ul class="b-main-nav__list clearfix">
                                <li><a class="active" href="javascript:void(0)">банковские услуги</a></li>
                                <li><a href="javascript:void(0)">решения для бизнеса</a></li>
                                <li><a href="javascript:void(0)">удобные сервисы</a></li>
                                <a href="javascript:void(0)" class="b-main-nav__arrow">
                                    <span class="b-main-nav__arrow_in"></span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="b-main-nav_breadcrumbs">
                    <div class="b-column b-main-nav-wrap">
                        <div class="column-type-wrapper">
                            <ul class="b-main-nav__list clearfix">
                                <li class="arrow"><a href="javascript:void(0)">банковские услуги</a></li>
                                <li class="second-level"><a href="javascript:void(0)" class="not-drop-down">Кредиты и
                                    овердрафты</a></li>
                                <a href="javascript:void(0)" class="b-main-nav__arrow"><span
                                        class="b-main-nav__arrow_in"></span></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdownpart level-two">
            <div class="b-column b-main-nav-wrap">
                <div class="column-type-wrapper">
                    <ul class="b-main-nav__list">
                        <li><a href="javascript:void(0)">Общая информация</a></li>
                        <li><a href="javascript:void(0)">РКО</a></li>
                        <li>
                            <a href="javascript:void(0)" class="active">Кредиты и овердрафты</a>
                            <ul>
                                <li><a href="javascript:void(0)">Интернет-клиент</a></li>
                                <li><a href="javascript:void(0)">Валютный контроль</a></li>
                                <li><a href="javascript:void(0)">Безналичные расчеты</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="b-main-nav__list">
                        <li><a href="javascript:void(0)">Дистанционное обслуживание</a></li>
                        <li><a href="javascript:void(0)">Депозиты для бизнеса</a></li>
                        <li><a href="javascript:void(0)">Аккредитивы</a></li>
                    </ul>
                    <ul class="b-main-nav__list">
                        <li><a href="javascript:void(0)">Банковская карта</a></li>
                        <li>
                            <a href="javascript:void(0)">Торговый и мобильный <br/> эквайринг</a>
                            <ul>
                                <li><a href="javascript:void(0)">Интернет-клиент</a></li>
                                <li><a href="javascript:void(0)">Валютный контроль</a></li>
                                <li><a href="javascript:void(0)">Безналичные расчеты</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="b-main-nav__list clearfix">
                        <li><a href="javascript:void(0)">Страховые продукты</a></li>
                        <li><a href="javascript:void(0)">Корпоративные карты</a></li>
                        <li><a href="javascript:void(0)">Зарплатный проект</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>