<div class="global-content b_order">
    <div class="order">
        оформите заявку
    </div>

    <div class="content-form">
        <div class="l-screen l-screen-form">
            <form accept="" method="post" onsubmit="return false;" class="form-footer">
                <div class="l-screen-form__row l-screen-form__row_space">
                    <label>Выберите продукт для заказа</label>

                    <div class="select-wrapper">
                        <select name="service">
                            <option value="">Кредитные карты</option>
                            <option value="">Кредитные карты</option>
                            <option value="">Кредитные карты</option>
                            <option value="">Кредитные карты</option>
                        </select>
                    </div>
                </div>

                <div class="l-screen-form__row">
                    <label style="font:0/0 a">&nbsp;</label>

                    <div><input type="text" class="text" name="orgname"
                                placeholder="Полное наименование организации *"
                                value=""></div>
                </div>
                <div class="l-screen-form__row">
                    <div><input type="text" class="text" name="fio" placeholder="ФИО *" value=""></div>
                </div>
                <div class="l-screen-form__row">
                    <div><input type="text" class="text" name="inn" placeholder="ИНН *" value=""></div>
                </div>

                <div class="l-screen-form__row l-screen-form__row_gap">
                    <label>Контактные данные</label>

                    <div><input type="text" class="text" name="phone" placeholder="Мобильный телефон *" value="">
                    </div>
                </div>
                <div class="l-screen-form__row">
                    <div><input type="text" class="text" name="email" placeholder="Электронная почта *" value="">
                    </div>
                </div>

                <div class="l-screen-form__row  l-screen-form__row_gap">
                    <label>Выберите отделение банка</label>

                    <div class="select-wrapper">
                        <select name="service">
                            <option value="">Москва, ул. Автозаводская, 6</option>
                            <option value="">Москва, Новинский б-р, 15</option>
                            <option value="">Москва, ул. Бутырская, 76, стр.1</option>
                            <option value="">Москва, ул. Петровка, 18/2, стр.1</option>
                            <option value="">Москва, ул. 1ая Тверская-Ямская, 25, стр. 1</option>
                            <option value="">Москва, Волгоградский пр-т, 43к3</option>
                            <option value="">Москва, ул. Люблинская д.171</option>
                            <option value="">Москва, ул. Куусинена, д.1</option>
                            <option value="">Москва, ул. 1-ая Бородинская, 3</option>
                        </select>
                    </div>
                </div>
                <div class="l-screen-form__row l-screen-form__row_button" style="margin-top:30px;">
                    <input type="submit" class="btn" value="Оформить">
                </div>
            </form>
        </div>
    </div>
</div>