.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.inline-list-container {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
.inline-list-item {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
}
