.fixed-position {
  position: fixed;
}
.popups {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  z-index: 200;
  margin: 0;
  padding: 0;
}
.popups .popup-layout {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.35);
  padding: 0;
}
.popups .popup-content {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.popups .popup-content.video {
  width: 840px;
  height: 600px;
}
.popups .popup-content.video .popup-wrapper {
  padding: 90px 100px 85px 100px;
}
.popups .popup-content.gallery {
  width: 900px;
  height: 620px;
}
.popups .popup-content.gallery .popup-wrapper {
  padding-top: 85px;
  background: url('../images/about/popup-bg.png') no-repeat #ffffff center 85px;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block {
  display: block;
  overflow: hidden;
  position: relative;
  height: 515px;
  vertical-align: top;
  width: 750px;
  margin: 0 auto;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-one-block-counter {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  color: #282828;
  right: 0;
  top: 445px;
  font-family: PTSans;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-one-block-counter span {
  font-size: 16px;
  font-family: PTSansBold;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-one-block-counter .that-position {
  padding-right: 3px;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-one-block-counter .total {
  padding-left: 3px;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper {
  display: inline-block;
  width: auto;
  position: relative;
  padding: 0;
  margin: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  height: inherit;
  vertical-align: top;
  top: 0;
  font-size: 0;
  white-space: nowrap;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper .gallery-one-block {
  display: inline-block;
  vertical-align: top;
  width: 750px;
  position: relative;
  opacity: 0;
  box-sizing: border-box;
  height: inherit;
  -webkit-transition: opacity 0.5s ease 0.1s;
  transition: opacity 0.5s ease 0.1s;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper .gallery-one-block.active {
  opacity: 1;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper .gallery-one-block .img {
  width: inherit;
  height: 425px;
  display: inline-block;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper .gallery-one-block .gallery-one-block-title {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  font-family: EkibastuzBd;
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
}
.popups .popup-content.gallery .popup-wrapper .gallery-block .gallery-wrapper .gallery-one-block .gallery-one-block-desc {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 100%;
  font-family: PTSans;
  font-size: 16px;
  padding-top: 15px;
}
.popups .popup-content .popup-wrapper {
  width: 100%;
  background: white;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
.popups .popup-content .popup-wrapper .navigation a {
  top: 50%;
  display: block;
  background: url('../images/about/popup-arrows.png') no-repeat;
  width: 62px;
  height: 75px;
  margin-top: -65px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}
.popups .popup-content .popup-wrapper .navigation a.prev {
  left: 0;
  background-position: center -238px;
}
.popups .popup-content .popup-wrapper .navigation a.prev.off {
  background-position: center 0px;
}
.popups .popup-content .popup-wrapper .navigation a.next {
  right: 0px;
  background-position: center -80px;
}
.popups .popup-content .popup-wrapper .navigation a.next.off {
  background-position: center -160px;
}
.popups .popup-content .popup-wrapper .navigation a.off {
  cursor: default;
}
.popups .popup-content .popup-wrapper .navigation a.off:hover {
  opacity: 1;
}
.popups .popup-content .popup-wrapper .navigation a:hover {
  opacity: 0.8;
}
.popups .popup-content .popup-wrapper .close-btn {
  display: block;
  cursor: pointer;
  width: 47px;
  height: 47px;
  position: absolute;
  right: -70px;
  top: 0;
  background: url('../images/about/popup-close-icon.png') no-repeat center top;
}
.popups .popup-content .popup-wrapper .close-btn:hover {
  background-position: center bottom;
}
.popups .popup-content .popup-wrapper .video-block {
  width: 640px;
  height: 390px;
  position: relative;
  display: inline-block;
  float: left;
}
.popups .popup-content .popup-wrapper .video-block-title {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  padding-left: 20px;
  font-family: EkibastuzBd;
  font-size: 20px;
  padding-top: 30px;
}
body.page-about {
  position: relative;
  min-width: 1024px;
}
body.page-about .wrapper {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
body.page-about .wrapper .screen-title {
  color: #1d1d1d;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #1d1d1d;
}
body.page-about .wrapper .title {
  color: #1d1d1d;
  margin-top: 0;
  font-family: EkibastuzBd;
  display: block;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}
body.page-about .wrapper .desc {
  display: block;
  margin-top: 20px;
  color: #1d1d1d;
  font-size: 18px;
  font-family: PTSans;
}
body.page-about .wrapper.block-0 {
  height: 227px;
}
body.page-about .wrapper.block-1 {
  height: 475px;
}
body.page-about .wrapper.block-1 .divider {
  height: 1px;
  background-color: #ebebeb;
  line-height: 75px;
  display: block;
  position: absolute;
  top: 70%;
  box-sizing: border-box;
  width: 100%;
}
body.page-about .wrapper.block-1 .right-btns {
  position: absolute;
  float: left;
  width: 400px;
  top: 43%;
  right: 0;
}
body.page-about .wrapper.block-1 .right-btns > a {
  border: 2px solid #03aceb;
  color: #03aceb;
  position: relative;
  float: left;
  vertical-align: top;
  display: inline-block;
  width: 160px;
  min-width: 160px;
  padding: 0;
  line-height: 40px;
}
body.page-about .wrapper.block-1 .right-btns > a:hover {
  color: white;
}
body.page-about .wrapper.block-1 .right-btns > a.btn_2 {
  margin-left: 50px;
}
body.page-about .wrapper.block-1 .f-group {
  width: 100%;
  height: auto;
  margin-top: 85px;
  float: left;
  position: relative;
}
body.page-about .wrapper.block-1 .f-group.show .f-group-block .icon {
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body.page-about .wrapper.block-1 .f-group .f-group-block {
  box-sizing: border-box;
  float: left;
  display: inline-block;
  width: 20%;
  color: #474747;
  height: 75px;
  vertical-align: top;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .count {
  font-family: EkibastuzBk;
  float: left;
  display: inline-block;
  font-size: 22px;
  margin-top: 5px;
  width: 160px;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .description {
  color: #918F8F;
  float: left;
  font-size: 19px;
  display: inline-block;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon {
  background: url('../images/about/block-1-icons.png') no-repeat;
  width: 75px;
  height: 75px;
  float: left;
  display: inline-block;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon.icon_1 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background-position: 0px 0px;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon.icon_2 {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  background-position: -59px 0px;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon.icon_3 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
  background-position: -126px 0px;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon.icon_4 {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  background-position: -194px 0px;
}
body.page-about .wrapper.block-1 .f-group .f-group-block .icon.icon_5 {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
  background-position: -260px 0px;
}
body.page-about .wrapper.block-1 .desc {
  max-width: 65%;
}
body.page-about .wrapper.block-2 {
  background-color: #fbf6ee;
  height: 975px;
  width: 100%;
}
body.page-about .wrapper.block-2 .partners {
  position: absolute;
  width: 1100px;
  top: 60%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 154px;
  opacity: 0;
  display: block;
  background: url('../images/about/block-2-partners.png') no-repeat center center;
  background-size: contain;
  -webkit-transition: all 3s ease 1s;
  transition: all 3s ease 1s;
}
body.page-about .wrapper.block-2 .partners.show {
  opacity: 1;
}
body.page-about .wrapper.block-2 .partners .circle-block {
  width: inherit;
  height: 100px;
  margin-top: -90px;
}
body.page-about .wrapper.block-2 .partners .circle-block .circle {
  width: calc(100% / 8);
  display: inline-block;
  font-family: EkibastuzBd;
  vertical-align: top;
  float: left;
  opacity: 0;
  position: relative;
}
body.page-about .wrapper.block-2 .partners .circle-block .circle.show {
  -webkit-transition: opacity 2s ease 0.5s;
  transition: opacity 2s ease 0.5s;
  opacity: 1;
}
body.page-about .wrapper.block-2 .partners .circle-block .circle.show:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}
body.page-about .wrapper.block-2 .partners .circle-block .circle:before {
  content: '';
  background: url('../images/about/block-2-circle.png') no-repeat center center;
  height: 20px;
  position: absolute;
  margin-top: 35px;
  display: inline-block;
  text-align: center;
  width: 91%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
body.page-about .wrapper.block-2 .partners .circle-block .circle .year {
  text-align: center;
  width: inherit;
  display: inline-block;
  padding-left: 42px;
}
body.page-about .wrapper.block-2 .divider {
  position: absolute;
  top: 35%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background: #fea330;
  -webkit-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
  width: 0%;
}
body.page-about .wrapper.block-2 .divider.show {
  width: 100%;
}
body.page-about .wrapper.block-2 .map-tips {
  position: absolute;
  top: 70px;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 2s ease 1s;
  transition: opacity 2s ease 1s;
  display: inline-block;
  vertical-align: top;
}
body.page-about .wrapper.block-2 .map-tips.show {
  opacity: 1;
}
body.page-about .wrapper.block-2 .map-tips.show .tips .ico {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body.page-about .wrapper.block-2 .map-tips .tips {
  width: 200px;
  font-family: EkibastuzBd;
  padding-top: 13px;
  font-size: 12px;
  display: inline-block;
  float: left;
  height: auto;
  position: relative;
  padding-left: 50px;
}
body.page-about .wrapper.block-2 .map-tips .tips .ico {
  width: 37px;
  height: 38px;
  display: inline-block;
  float: left;
  left: 0;
  -webkit-transition: 2s ease 1s;
  transition: 2s ease 1s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top: 6px;
  background: url('../images/about/block-2-top-icons.png') no-repeat left center;
}
body.page-about .wrapper.block-2 .map-tips .tips.tip_2 .ico {
  background-position: right center;
}
body.page-about .wrapper.block-2 .map-svg {
  max-width: 950px;
  height: 570px;
  position: absolute;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
}
body.page-about .wrapper.block-2 .map-svg.show {
  opacity: 1;
  -webkit-transition: all 1s ease 2s;
  transition: all 1s ease 2s;
  visibility: visible;
}
body.page-about .wrapper.block-2 .map-svg.show.map-svg-1 {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
body.page-about .wrapper.block-2 .map-svg.show.map-svg-2 {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
body.page-about .wrapper.block-2 .map-svg.show.map-svg-3 {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
body.page-about .wrapper.block-2 .map-svg.show.map-svg-4 {
  -webkit-transition-delay: 2000ms;
  transition-delay: 2000ms;
}
body.page-about .wrapper.block-2 .map-svg.map-svg-1 {
  background: url('../images/about/map/1.png') no-repeat center center;
  background-size: contain;
}
body.page-about .wrapper.block-2 .map-svg.map-svg-2 {
  background: url('../images/about/map/2.png') no-repeat center center;
  background-size: contain;
}
body.page-about .wrapper.block-2 .map-svg.map-svg-3 {
  background: url('../images/about/map/3.png') no-repeat center center;
  background-size: contain;
}
body.page-about .wrapper.block-2 .map-svg.map-svg-4 {
  background: url('../images/about/map/4.png') no-repeat center center;
  background-size: contain;
}
body.page-about .wrapper.block-3 {
  height: 655px;
  box-sizing: border-box;
  border-bottom: 1px solid #d7d7d7;
}
body.page-about .wrapper.block-3 .desc {
  max-width: 600px;
  line-height: 22px;
}
body.page-about .wrapper.block-3 .left-block-wrap {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 10px;
  bottom: 100px;
}
body.page-about .wrapper.block-3 .left-block-wrap .left-block {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 150px;
  float: left;
}
body.page-about .wrapper.block-3 .left-block-wrap .left-block .ico {
  display: block;
  float: left;
  background: url('../images/about/block-3-icons.png') no-repeat center top;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
body.page-about .wrapper.block-3 .left-block-wrap .left-block .ico.ico_2 {
  background-position: center -115px;
}
body.page-about .wrapper.block-3 .left-block-wrap .left-block .left-block-title {
  display: block;
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: EkibastuzBd;
}
body.page-about .wrapper.block-3 .left-block-wrap .left-block .left-block-text {
  display: block;
  font-size: 18px;
  float: left;
  font-family: PTSans;
}
body.page-about .wrapper.block-3 .list {
  list-style: none;
  max-width: 600px;
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
  margin-top: 30px;
}
body.page-about .wrapper.block-3 .list li {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  background: none;
  position: relative;
  padding-left: 0;
  display: inline-block;
}
body.page-about .wrapper.block-3 .list li:before {
  display: block;
  content: '';
  min-height: 18px;
  width: 18px;
  height: 18px;
  float: left;
  background: url('../images/about/block-3-circle.png') no-repeat center center;
  margin-top: 3px;
}
body.page-about .wrapper.block-3 .list li .text {
  font-family: PTSans;
  display: block;
  float: left;
  max-width: 550px;
  margin-left: 20px;
  line-height: 22px;
}
body.page-about .wrapper.block-4 {
  padding-bottom: 50px;
}
body.page-about .wrapper.block-4 .block-4-wrap-down {
  width: 100%;
  float: left;
  margin-top: 40px;
  display: none;
  min-height: 300px;
  color: #363636;
  vertical-align: top;
  position: relative;
  background: #f3f0eb;
  box-sizing: border-box;
}
body.page-about .wrapper.block-4 .block-4-wrap-down strong {
  color: #363636;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .grey-ekibastuzbd .block-4-wrap-down-block-text {
  color: #838383;
  font-family: EkibastuzBd !important;
  line-height: 23px;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .topArrow {
  width: 29px;
  position: absolute;
  display: none;
  top: -12px;
  margin-left: -15px;
  height: 18px;
  background: url('../images/about/block-4-arrow-open.png') no-repeat center center;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .close-btn {
  position: absolute;
  right: 15px;
  top: 21px;
  display: block;
  cursor: pointer;
  width: 21px;
  height: 21px;
  background: url('../images/about/block-4-close-icon.png') no-repeat center center;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .top-line {
  position: relative;
  top: 0;
  display: block;
  float: left;
  left: 0;
  width: 100%;
  background: #ffa133;
  height: 6px;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .block-4-wrap-down-block {
  width: 33%;
  float: left;
  display: inline-block;
  vertical-align: top;
  padding: 55px 30px 55px 55px;
  height: auto;
  box-sizing: border-box;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .block-4-wrap-down-block .block-4-wrap-down-block-title {
  font-family: EkibastuzBd;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}
body.page-about .wrapper.block-4 .block-4-wrap-down .block-4-wrap-down-block .block-4-wrap-down-block-text {
  font-family: PTSans;
  display: block;
  font-size: 18px;
  margin-top: 15px;
}
body.page-about .wrapper.block-4 .block-4-wrap {
  float: left;
  display: inline-block;
  width: 99%;
  margin-top: 50px;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block {
  max-width: 33.3%;
  float: left;
  vertical-align: top;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block.active .content {
  background: #f3f0eb;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block.active .content:after {
  /*content: '';
                width: 29px;
                position: absolute;
                left: 50%;
                bottom: -44px;
                margin-left: -15px;
                height: 18px;
                background: url('../images/about/block-4-arrow-open.png') no-repeat center center;*/
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block.active .content .desc-down {
  background: none;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block img {
  display: block;
  width: 100%;
  height: auto;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block .content {
  width: 90%;
  position: relative;
  height: auto;
  margin: 0 auto;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block .content:hover {
  background: #f3f0eb;
  cursor: pointer;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block .content .desc-down {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 55px 40px 55px;
  background: url('../images/about/block-4-arrow.png') no-repeat center 95%;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block .content .desc-down .desc-down-title {
  font-family: EkibastuzBd;
  font-size: 20px;
  display: block;
  width: 100%;
  padding-bottom: 20px;
  color: #363636;
  text-align: center;
}
body.page-about .wrapper.block-4 .block-4-wrap .block-4-block .content .desc-down .desc-down-desc {
  font-family: PTSans;
  font-size: 12px;
  color: #797979;
  padding-bottom: 15px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 18px;
}
body.page-about .wrapper.block-5 {
  height: 475px;
  background-color: #1ba4de;
}
body.page-about .wrapper.block-5 .bg {
  width: 1944px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -50%;
  top: 0;
  background: url('../images/about/block-5-bg.png') no-repeat center center;
}
body.page-about .wrapper.block-5 .video-wrap {
  width: 97%;
  font-family: Ekibastuz;
  font-size: 20px;
  height: 300px;
  color: white;
  z-index: 2;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-top: 120px;
}
body.page-about .wrapper.block-5 .video-wrap .video-block {
  width: 33%;
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
}
body.page-about .wrapper.block-5 .video-wrap .video-block:after {
  z-index: 1;
  display: block;
  width: 338px;
  position: absolute;
  height: 55px;
  top: 180px;
  left: 14px;
  content: '';
  background: url('../images/about/block-6-shadow.png') no-repeat center bottom;
}
body.page-about .wrapper.block-5 .video-wrap .video-block .video-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 206px;
  z-index: 2;
  display: block;
  width: 95.2%;
  background: url('../images/about/block-6-example.png') no-repeat center center;
  background-size: cover;
}
body.page-about .wrapper.block-5 .video-wrap .video-block .video-img i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 88px;
  cursor: pointer;
  height: 88px;
  background: url('../images/about/block-6-video-icons.png') no-repeat center bottom;
}
body.page-about .wrapper.block-5 .video-wrap .video-block .video-img i:hover {
  background-position: center top;
}
body.page-about .wrapper.block-5 .video-wrap .video-block .video-title {
  width: 80%;
  margin-top: 240px;
  line-height: 25px;
  position: absolute;
  display: block;
}
body.page-about .wrapper.block-6 {
  padding-bottom: 90px;
  border-bottom: 1px solid #d7d7d7;
}
body.page-about .wrapper.block-6 .block-wrap {
  width: 100%;
  margin-top: 50px;
  display: inline-block;
  float: left;
  position: relative;
}
body.page-about .wrapper.block-6 .block-wrap .footer-link {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  float: left;
  margin-top: 50px;
}
body.page-about .wrapper.block-6 .block-wrap .footer-link .link {
  font-family: PTSans;
  font-size: 20px;
  display: inline-block;
  margin-top: 7px;
  color: #555555;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: 2px #555555 solid;
  margin-left: 50px;
}
body.page-about .wrapper.block-6 .block-wrap .footer-link .link:hover {
  border-bottom: none;
}
body.page-about .wrapper.block-6 .block-wrap .left-past {
  width: 57%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block {
  width: 100%;
  padding: 35px 45px 45px 45px;
  position: relative;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  height: auto;
  margin: 0;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block.grey-block {
  background: #f3f0eb;
  min-height: 290px;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block.white-block {
  border: 1px solid #f3f0eb;
  border-top: 6px solid #fea330;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block.white-block:before {
  content: '';
  display: block;
  width: 37px;
  position: absolute;
  top: -5px;
  left: 50px;
  height: 18px;
  background: url('../images/about/block-6-arrow-down.png') no-repeat center center;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block.white-block .block-6-text {
  color: #464646;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block .divider {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  float: left;
  background: #cccccc;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block .block-6-title {
  font-family: EkibastuzBd;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  width: 100%;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block .block-6-text {
  margin-top: 20px;
  color: #363636;
  font-size: 18px;
  line-height: 20px;
  font-family: PTSans;
  display: inline-block;
  float: left;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block .block-6-title-sub {
  width: 100%;
  display: block;
  margin-top: 10px;
  color: #6a6a6a;
  font-family: PTSans;
  font-size: 18px;
}
body.page-about .wrapper.block-6 .block-wrap .left-past .block-6-block .block-6-loc {
  position: absolute;
  right: 40px;
  color: #1ba4de;
  font-family: PTSans;
  display: block;
  padding-left: 25px;
  box-sizing: border-box;
  background: url('../images/about/block-6-location-info.png') no-repeat left center;
  font-size: 18px;
  width: 135px;
  top: 65px;
}
body.page-about .wrapper.block-6 .block-wrap .right-past {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  right: 85px;
  width: 25%;
  /* margin-left: 170px; */
}
body.page-about .wrapper.block-6 .block-wrap .right-past .big-num {
  font-family: EkibastuzBd;
  font-size: 120px;
  color: #464646;
  display: block;
  text-align: left;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .num-desc-48 {
  font-family: EkibastuzBd;
  font-size: 42px;
  color: #464646;
  text-transform: uppercase;
  text-align: left;
  display: block;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .num-desc-32 {
  font-family: EkibastuzBd;
  text-transform: uppercase;
  font-size: 32px;
  color: #464646;
  display: block;
  text-align: left;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .btn {
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 0;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .right-past-bottom {
  display: block;
  width: 350px;
  position: relative;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .right-past-bottom:before {
  content: '';
  display: block;
  width: 57px;
  height: 109px;
  left: -77px;
  top: -90px;
  position: absolute;
  background: url('../images/about/block-6-arrow-down-light.png') no-repeat center center;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .right-past-bottom .right-past-title {
  font-size: 20px;
  font-family: EkibastuzBd;
  display: block;
  text-transform: uppercase;
}
body.page-about .wrapper.block-6 .block-wrap .right-past .right-past-bottom .right-past-text {
  color: #606060;
  line-height: 20px;
  font-size: 18px;
  margin-top: 25px;
  font-family: EkibastuzBd;
  display: block;
}
body.page-about .wrapper.block-7 {
  height: 1060px;
}
body.page-about .wrapper.block-7 .center-btns {
  width: 475px;
  margin: 60px auto 0;
  display: block;
}
body.page-about .wrapper.block-7 .center-btns .btn_1 {
  width: 225px !important;
  height: 45px !important;
  display: block;
  float: left;
  padding: 0 0 0 0 !important;
  font-size: 14px;
  box-sizing: border-box;
}
body.page-about .wrapper.block-7 .center-btns .btn_2 {
  font-family: PTSans;
  font-size: 20px;
  display: block;
  margin-top: 7px;
  float: left;
  color: #555555;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: 2px #555555 solid;
  margin-left: 50px;
}
body.page-about .wrapper.block-7 .center-btns .btn_2:hover {
  border-bottom: none;
}
body.page-about .wrapper.block-7 .block-7-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock {
  width: 33%;
  display: inline-block;
  height: 330px;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock i {
  width: 90px;
  display: block;
  height: 108px;
  float: none;
  background: url('../images/about/block-7-icons.png') no-repeat left center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock.one i {
  background-position: 0px center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock.two i {
  background-position: -90px center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock.three i {
  background-position: -180px center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock.four i {
  background-position: -270px center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock.five i {
  background-position: -360px center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .block-7-oneblock-title {
  color: #3c3c3c;
  font-size: 20px;
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  font-family: EkibastuzBd;
  text-transform: uppercase;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .block-7-oneblock-text {
  font-size: 18px;
  line-height: 20px;
  font-family: PTSans;
  max-width: 290px;
  width: 100%;
  color: #3c3c3c;
  display: block;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block {
  width: 100%;
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
  padding-top: 50px;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block:after {
  z-index: 1;
  display: block;
  width: 338px;
  position: absolute;
  height: 55px;
  top: 230px;
  left: 14px;
  content: '';
  background: url('../images/about/block-7-shadow.png') no-repeat center bottom;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block .video-img {
  position: absolute;
  left: 0;
  top: 50px;
  height: 206px;
  z-index: 2;
  display: block;
  width: 366px;
  background: url('../images/about/block-6-example.png') no-repeat center center;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block .video-img i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 88px;
  cursor: pointer;
  height: 88px;
  background: url('../images/about/block-6-video-icons.png') no-repeat center bottom;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block .video-img i:hover {
  background-position: center top;
}
body.page-about .wrapper.block-7 .block-7-wrap .block-7-oneblock .video-block .video-title {
  width: 57%;
  margin-top: 240px;
  line-height: 25px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: EkibastuzBd;
  color: #2d2d2d;
  position: absolute;
  display: block;
}
body.page-about .wrapper.block-8 {
  height: 1550px;
}
body.page-about .wrapper.block-8 .bg1 {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #ff7055;
  top: 0;
  left: 0;
}
body.page-about .wrapper.block-8 .bg2 {
  position: absolute;
  height: 650px;
  width: 100%;
  background: #fff153;
  top: 300px;
  left: 0;
}
body.page-about .wrapper.block-8 .block-8-navigation a {
  top: 900px;
  display: block;
  background: url('../images/about/block-8-arrows.png') no-repeat;
  width: 62px;
  height: 95px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}
body.page-about .wrapper.block-8 .block-8-navigation a.prev {
  left: -10px;
  background-position: center -321px;
}
body.page-about .wrapper.block-8 .block-8-navigation a.prev.off {
  background-position: center 0px;
}
body.page-about .wrapper.block-8 .block-8-navigation a.next {
  right: -10px;
  background-position: center -110px;
}
body.page-about .wrapper.block-8 .block-8-navigation a.next.off {
  background-position: center -210px;
}
body.page-about .wrapper.block-8 .block-8-navigation a.off {
  cursor: default;
}
body.page-about .wrapper.block-8 .block-8-navigation a.off:hover {
  opacity: 1;
}
body.page-about .wrapper.block-8 .block-8-navigation a:hover {
  opacity: 0.8;
}
body.page-about .wrapper.block-8 .block-8-slider {
  position: relative;
  width: 1150px;
  height: 800px;
  display: block;
  padding-top: 100px;
  vertical-align: top;
  margin-left: 80px;
  top: -100px;
  overflow: hidden;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap {
  width: auto;
  height: inherit;
  position: relative;
  left: 0;
  font-size: 0;
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
  display: inline-block;
  white-space: nowrap;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide {
  width: 320px;
  display: inline-block;
  height: inherit;
  padding-right: 80px;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide.type-1 .img-wrap:before {
  width: 376px;
  height: 168px;
  top: 30px;
  background: url('../images/about/block-8-bg-1.png') no-repeat center center;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide.type-2 .img-wrap:before {
  width: 304px;
  height: 286px;
  top: -35px;
  background: url('../images/about/block-8-bg-2.png') no-repeat center center;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide.type-3 .img-wrap:before {
  width: 349px;
  height: 302px;
  top: -90px;
  background: url('../images/about/block-8-bg-3.png') no-repeat center center;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide:last-child {
  padding-right: 0;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .desc-wrap {
  width: 100%;
  padding-right: 50px;
  float: left;
  position: relative;
  white-space: normal;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .desc-wrap .slider-title {
  font-family: EkibastuzBd;
  font-size: 20px;
  margin-top: 20px;
  display: block;
  color: #363636;
  text-transform: uppercase;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .desc-wrap .slider-text {
  font-family: PTSans;
  line-height: 20px;
  font-size: 16px;
  color: #676666;
  margin-top: 25px;
  display: block;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .desc-wrap .btn {
  color: #ff7d55;
  width: 195px;
  height: 30px;
  background: white;
  font-family: EkibastuzBd;
  text-align: center;
  margin-top: 30px;
  border-color: #ff7d55;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .desc-wrap .btn:hover {
  background: #ff7d55;
  color: white;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap {
  width: 100%;
  float: left;
  height: 420px;
  position: relative;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap:after {
  content: '';
  display: block;
  position: absolute;
  top: 405px;
  left: 0;
  z-index: 1;
  width: 100%;
  background: url('../images/about/block-8-shadow.png') no-repeat center center;
  height: 13px;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 315px;
}
body.page-about .wrapper.block-8 .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap .img {
  position: absolute;
  top: 95px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  border: 8px solid #ff7055;
  left: 0;
  z-index: 3;
  width: 320px;
  box-sizing: border-box;
  height: 315px;
  background-size: cover !important;
}
body.page-about .wrapper.block-8 .blocks-wrap {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 118px;
  float: left;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block {
  width: 33%;
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 120px;
  padding-left: 38px;
  padding-right: 60px;
  box-sizing: border-box;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block .blocks-wrap-block-icon {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/about/block-8-icons.png') #fff153 no-repeat left center;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block.one .blocks-wrap-block-icon {
  background-position: 10px center;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block.two .blocks-wrap-block-icon {
  background-position: -91px center;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block.three .blocks-wrap-block-icon {
  background-position: -194px center;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block .blocks-wrap-block-title {
  font-size: 18px;
  font-family: EkibastuzBd;
  line-height: 22px;
  display: block;
  text-transform: uppercase;
}
body.page-about .wrapper.block-8 .blocks-wrap .blocks-wrap-block .blocks-wrap-block-text {
  display: block;
  margin-top: 25px;
  color: #544f32;
  font-size: 16px;
  font-family: PTSans;
}
body.page-about .wrapper.block-8 .title,
body.page-about .wrapper.block-8 .screen-title {
  border-color: white;
  color: white;
}
body.page-about .wrapper.block-8 .title.black {
  padding-left: 38px;
  color: #424131;
}
body.page-about .wrapper.block-9 {
  height: 1125px;
  background-color: #fbf6ee;
}
body.page-about .wrapper.block-9 .title {
  padding-top: 55px;
}
body.page-about .wrapper.block-9 .block-9-wrap {
  width: 100%;
  position: relative;
  margin-top: 50px;
  float: left;
  display: inline-block;
  vertical-align: top;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap {
  width: 100%;
  margin-top: 75px;
  display: inline-block;
  vertical-align: top;
  float: none;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-title {
  font-family: EkibastuzBd;
  font-size: 20px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block {
  float: left;
  width: 265px;
  margin-right: 30px;
  vertical-align: top;
  display: inline-block;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block i {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  float: left;
  display: inline-block;
  background: url('../images/about/block-9-icons.png') no-repeat;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block span {
  display: inline-block;
  width: 170px;
  color: #606060;
  font-family: EkibastuzBd;
  line-height: 20px;
  font-size: 18px;
  float: left;
  padding-top: 4px;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.one i {
  background-position: center 0px;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.two i {
  background-position: center -64px;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.three i {
  background-position: center -128px;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.four {
  width: 365px;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.four span {
  width: 280px;
  font-family: PTSans;
}
body.page-about .wrapper.block-9 .block-9-wrap .footer-wrap .footer-wrap-block.four i {
  background-position: center -192px;
}
body.page-about .wrapper.block-9 .block-9-wrap .past {
  width: 57%;
  float: left;
  box-sizing: border-box;
  padding-right: 100px;
  display: inline-block;
  color: #414141;
}
body.page-about .wrapper.block-9 .block-9-wrap .past.left {
  width: 43%;
}
body.page-about .wrapper.block-9 .block-9-wrap .past .divider {
  background: #9fa4aa;
  height: 1px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
  float: left;
}
body.page-about .wrapper.block-9 .block-9-wrap .past .btn {
  color: #ff7d55;
  width: 235px;
  height: 30px;
  background: transparent;
  font-family: EkibastuzBd;
  text-align: center;
  margin-top: 30px;
  padding: 0;
  border-color: #ff7d55;
}
body.page-about .wrapper.block-9 .block-9-wrap .past .btn:hover {
  background: #ff7d55;
  color: white;
}
body.page-about .wrapper.block-9 .block-9-wrap .past .block-9-wrap-title {
  display: block;
  font-size: 20px;
  font-family: EkibastuzBd;
  line-height: 24px;
  float: left;
  width: 100%;
}
body.page-about .wrapper.block-9 .block-9-wrap .past .block-9-wrap-text {
  display: block;
  font-size: 18px;
  font-family: PTSans;
  line-height: 24px;
  float: left;
  width: 100%;
}
body.page-about .wrapper.block-9 .footer-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url('../images/about/block-9-zaglyshka.png') #ffffff no-repeat center -5px;
  height: 500px;
}
body.page-about .wrapper.block-10 {
  background-color: #f6f6f6;
  height: 725px;
}
body.page-about .wrapper.block-10 .block-10-wrap {
  margin-top: 50px;
  width: 100%;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks {
  width: 50%;
  font-size: 18px;
  color: #363636;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  vertical-align: top;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks .divider {
  width: 100%;
  height: 1px;
  background: #d7d7d7;
  display: block;
  margin-bottom: 15px;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks span {
  max-width: 575px;
  display: block;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks .block-10-title {
  font-family: PTSansBold;
  width: 100%;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks .block-10-title-big {
  font-family: PTSansBold;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks .block-10-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: PTSans;
}
body.page-about .wrapper.block-10 .block-10-wrap .block-10-blocks .block-10-text.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1366px) {
  body.page-about .wrapper.block-1 .divider {
    top: 60%;
  }
}
@media screen and (max-width: 1280px) {
  .block-8-slider .block-8-slider-wrap {
    overflow: hidden;
    width: 1080px !important;
  }
  .block-8-slider .block-8-slider-wrap .block-8-oneSlide {
    width: 280px !important;
    padding-right: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .block-8-slider .block-8-slider-wrap {
    width: 990px !important;
  }
  .block-8-slider .block-8-slider-wrap .block-8-oneSlide {
    width: 230px !important;
    padding-right: 100px !important;
  }
  .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap .img {
    width: 280px !important;
    height: 275px !important;
  }
}
@media screen and (max-width: 1100px) {
  .block-4 .block-4-wrap {
    width: 95.5% !important;
  }
  .block-5 .video-wrap {
    width: 94% !important;
  }
  .block-6 .right-past .big-num {
    margin-top: 50px;
  }
  .block-7 .block-7-wrap {
    width: 97% !important;
  }
  .block-7 .block-7-wrap .video-img {
    width: 100% !important;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .block-8 .block-8-slider {
    margin-left: 40px !important;
  }
  .block-8-slider .block-8-slider-wrap {
    width: 890px !important;
  }
  .block-8-slider .block-8-slider-wrap .block-8-oneSlide {
    width: 230px !important;
    padding-right: 75px !important;
  }
  .block-8-slider .block-8-slider-wrap .block-8-oneSlide .img-wrap .img {
    width: 260px !important;
    height: 255px !important;
  }
}
