.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inline-list-container {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
.inline-list-item {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
}
@-webkit-keyframes hideDayData {
}
@keyframes hideDayData {
}
@-webkit-keyframes showDayData {
}
@keyframes showDayData {
}
@-webkit-keyframes hideDayData1000 {
  0% {
    margin: 0 -160px 0 -169px;
  }
  100% {
    margin: 0 -140px 0 -149px;
  }
}
@keyframes hideDayData1000 {
  0% {
    margin: 0 -160px 0 -169px;
  }
  100% {
    margin: 0 -140px 0 -149px;
  }
}
@-webkit-keyframes showDayData1000 {
  0% {
    margin: 0 -140px 0 -149px;
  }
  100% {
    margin: 0 -160px 0 -169px;
  }
}
@keyframes showDayData1000 {
  0% {
    margin: 0 -140px 0 -149px;
  }
  100% {
    margin: 0 -160px 0 -169px;
  }
}
.club-life-block.club-life-block-five {
  height: auto;
}
.b-column.calendar {
  height: auto;
}
.b-club-calendar_dates {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  margin-top: 55px;
  margin-bottom: 65px;
}
.b-club-calendar_dates_year {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
  margin-right: 50px;
  color: #2E2E2E;
  font-family: "EkibastuzBd";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.b-club-calendar_dates_month {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
  margin-right: 70px;
  position: relative;
  color: #929292;
  font-family: "EkibastuzBd";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.b-club-calendar_dates_month.b-club-calendar_dates_month__active {
  color: #AB875A;
  cursor: default;
}
.b-club-calendar_dates_month.b-club-calendar_dates_month__active:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background-color: #AB875A;
}
.b-club-calendar_bar {
  position: relative;
  margin-bottom: 60px;
}
.b-club-calendar_bar_line {
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
}
.b-club-calendar_bar_nav {
  position: relative;
  margin: 0 auto;
  width: 1280px;
}
.b-club-calendar_bar_nav-left {
  position: absolute;
  left: -120px;
  top: 138px;
  width: 59px;
  height: 105px;
  background-image: url('../images/navigation-arrows.png');
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
}
.b-club-calendar_bar_nav-right {
  position: absolute;
  top: 138px;
  right: -120px;
  width: 59px;
  height: 105px;
  background-image: url('../images/navigation-arrows.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
}
.b-club-calendar_bar_months {
  margin: 0 auto;
  width: 100%;
}
.b-club-calendar_bar_month {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  position: relative;
  width: 1280px;
  margin: auto;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transition: height .4s linear;
          transition: height .4s linear;
}
.b-club-calendar_day {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
  margin: 0 0 0 0;
  vertical-align: top;
  -webkit-transition: margin 0.4s cubic-bezier(0.86, 0, 0.07, 1);
          transition: margin 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.b-club-calendar_day.b-club-calendar_day__data .b-club-calendar_day_number {
  color: #FFF;
  border-color: #b3936a;
  background-color: #b3936a;
  cursor: pointer;
}
.b-club-calendar_day.b-club-calendar_day__active:first-child {
  margin-left: 0;
}
.b-club-calendar_day.b-club-calendar_day__active:last-child {
  margin-right: 0;
}
.b-club-calendar_day.b-club-calendar_day__active .b-club-calendar_day_number {
  margin-top: -9px;
  width: 50px;
  height: 50px;
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
  line-height: 46px;
  border-color: #AB875A;
  background-color: #AB875A;
  cursor: default;
}
.b-club-calendar_day.b-club-calendar_day__active .b-club-calendar_day_data {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.b-club-calendar_day.b-club-calendar_day__last .b-club-calendar_day_number {
  border-color: #ccc;
  background-color: #ccc;
}
.b-club-calendar_day_name {
  margin-bottom: 10px;
  color: #929292;
  font-size: 9px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.b-club-calendar_day_number {
  position: relative;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background-color: #FFF;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  color: #AB875A;
  font-size: 15px;
  font-weight: 400;
  font-family: PTSans, sans-serif;
  -webkit-transition: all .4s linear;
          transition: all .4s linear;
}
.b-club-calendar_day_data {
  position: absolute;
  margin-top: 28px;
  padding: 0 15px;
  border: 2px solid #AB875A;
  pointer-events: none;
  opacity: 0;
  -webkit-transform-origin: 50% -5%;
      -ms-transform-origin: 50% -5%;
          transform-origin: 50% -5%;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
          transition: opacity 0.4s, transform 0.4s;
  -webkit-transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
          transition-timing-function: ease, cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-transform: scale3d(0.1, 0.2, 1);
          transform: scale3d(0.1, 0.2, 1);
}
.b-club-calendar_day_data_arrow {
  position: absolute;
  top: -8px;
  left: 23px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #AB875A transparent;
}
.b-club-calendar_day_data_arrow:after {
  content: ' ';
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #FFF transparent;
}
.b-club-calendar_day_events {
  display: table;
}
.b-club-calendar_day_events_list {
  display: table-cell;
}
.b-club-calendar_day_event {
  margin: 0 15px;
  padding: 28px;
  width: 290px;
  border-bottom: 2px solid #ab875a;
  box-sizing: border-box;
}
.b-club-calendar_day_event:last-child {
  border-bottom: 0;
}
.b-club-calendar_day_event_start {
  margin-bottom: 10px;
  color: #929292;
  font-size: 15px;
  font-weight: 400;
}
.b-club-calendar_day_event_name {
  margin-bottom: 22px;
  display: block;
  color: #2E2E2E;
  font-size: 19px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
}
.b-club-calendar_day_event_name:hover {
  color: #ab875a;
}
.b-club-calendar_day_place-icon {
  width: 21px;
  height: 21px;
  display: block;
  margin: 0;
  float: left;
  padding: 0;
  background: url('../images/calendar-loc-icon.png') no-repeat center center;
  margin-right: 14px;
}
.b-club-calendar_day_event_place {
  color: #AB875A;
  font-size: 16px;
  font-weight: 400;
}
.b-club-calendar_day_event_address {
  width: 260px;
  color: #ab875a;
  display: block;
  margin-top: 22px;
  font-size: 16px;
  line-height: 22px;
}
.gm-style {
  font-size: 13px;
}
@media screen and (max-width: 1280px) {
  .b-club-calendar_bar_month {
    width: 1000px;
    margin: 0 20px;
  }
  .b-club-calendar_day {
    margin: 0 0 0 -8px;
  }
}
