html,
body {
  height: 100%;
}
.global-content-error-wrapper.e404 {
  height: 100%;
}
.global-content-error-wrapper.e404 .center-past {
  height: 145px;
}
.global-content-error-wrapper.e500 {
  height: 64%;
}
.global-content-error-wrapper.e500 .center-past {
  height: 180px;
}
.global-content-error-wrapper.e500 .divider {
  width: 445px;
  height: 1px;
  margin-top: 160px;
  display: block;
  background: #b7b7b7;
}
.global-content-error-wrapper.in_progress {
  height: 58%;
}
.global-content-error-wrapper.in_progress .center-past {
  height: 290px;
}
.global-content-error-wrapper.in_progress .divider {
  width: 445px;
  height: 1px;
  margin-top: 160px;
  display: block;
  background: #b7b7b7;
}
.global-content-error-wrapper .footer-err-btns {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  position: relative;
  margin-top: 50px;
}
.errors-wrapper .center-past {
  width: 100%;
  color: black;
  position: absolute;
  left: 240px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.back-to-main-page {
  line-height: 40px;
  display: block;
  font-family: PTSansBold;
  text-transform: uppercase;
  margin-left: 270px;
  height: 40px;
  font-size: 16px;
  padding-right: 30px;
  color: #e8a03f;
  width: 185px;
  text-decoration: none;
  position: relative;
}
.back-to-main-page:after {
  display: block;
  content: '';
  width: 22px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
  height: 22px;
  background: url('../images/pages/orange-icon.png') no-repeat right center;
}
.back-to-main-page:hover {
  color: #d88f3a;
}
.back-to-main-page:hover:after {
  background-position: left center;
}
.errors-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  font-family: PTSans;
  position: relative;
  margin: 0;
  color: black;
}
.errors-wrapper .b-column {
  min-height: 500px;
}
.errors-wrapper.e404 {
  background: url('../images/pages/404.png') #f8f8f8 no-repeat right center;
}
.errors-wrapper.e500 {
  background: url('../images/pages/500.png') #f8f8f8 no-repeat right center;
}
.errors-wrapper.eInProgress {
  background-color: #84c7e8;
}
.errors-wrapper.in_progress {
  background: url('../images/pages/in_progress.png') #f8f8f8 no-repeat right center;
}
.errors-wrapper .top-past {
  width: 100%;
  height: auto;
  color: black;
  float: left;
  position: relative;
  margin-top: 200px;
  margin-left: 240px;
}
.errors-wrapper.e500 .top-past,
.errors-wrapper.eInProgress .top-past {
  color: #474747;
}
.errors-wrapper .bottom-past {
  width: 100%;
  height: 120px;
  color: black;
  float: left;
  position: absolute;
  bottom: 300px;
  margin-left: 200px;
  left: 0;
}
.body-err-500 .header-bottom-right,
.body-err-404 .header-bottom-right {
  margin-top: 14px;
}
.body-err-500 > header {
  height: 115px;
}
.body-err-500 .item.consultant {
  width: 230px;
}
.errors-wrapper.e500 .bottom-past {
  color: white;
}
.errors-wrapper .err-back-btn {
  font-family: PTSansBold;
  display: block;
  margin-top: 50px;
  text-align: left;
  font-size: 12px;
  color: #5b7b1b;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  margin-bottom: 50px;
  box-sizing: border-box;
  text-decoration: none;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-right: 2px;
  border-bottom: 1px #5b7b1b solid;
}
.errors-wrapper.e500 .err-back-btn,
.errors-wrapper.eInProgress .err-back-btn {
  color: white;
  border-bottom: 1px white solid;
}
.errors-wrapper .err-back-btn:hover {
  border-bottom: 0;
  padding-bottom: 2px;
}
.err-title {
  line-height: 35px;
  font-family: EkibastuzBd;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
  float: left;
}
.err-top-text {
  float: left;
  margin-top: 20px;
  width: 100%;
  line-height: 20px;
  font-size: 18px;
  font-family: PTSans;
  display: block;
}
.err-bottom-text {
  float: left;
  width: 100%;
  line-height: 20px;
  font-size: 18px;
  display: block;
}
.err-bottom-btn {
  display: block;
  width: 240px;
  height: 40px;
  background: #e8a03f;
  line-height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  font-family: PTSansBold;
  padding: 0;
  text-align: center;
  margin: 0;
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: none;
          transition: none;
  border: none;
  text-shadow: none;
}
.err-bottom-btn:hover {
  text-shadow: none;
  background: #d88f3a;
}
.orange-link {
  color: #feb425;
  text-decoration: none;
  border-bottom: 1px solid #feb425;
}
.orange-link:hover {
  border-bottom: 0;
  padding-bottom: 1px;
}
