.feedback {
  height: auto;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 50px;
}
.feedback .town-title {
  color: #3a3a3a;
  font-family: EkibastuzBd;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 20px;
}
.feedback .town-title .town-title-select {
  font-size: inherit;
  cursor: pointer;
  padding-right: 20px;
  background: url('../images/vacancy-arrow.png') no-repeat right center;
}
.feedback .block-wrap {
  width: 100%;
  margin-top: 50px;
  display: inline-block;
  float: left;
}
.feedback .block-wrap .footer-link {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  float: left;
  margin-top: 50px;
}
.feedback .block-wrap .footer-link .link {
  font-family: PTSans;
  font-size: 20px;
  display: inline-block;
  margin-top: 7px;
  color: #555555;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: 2px #555555 solid;
  margin-left: 50px;
}
.feedback .block-wrap .footer-link .link:hover {
  border-bottom: 2px transparent solid;
}
.feedback .block-wrap .left-past {
  width: 740px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
}
.feedback .block-wrap .left-past .one-feedback {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  height: auto;
}
.feedback .block-wrap .left-past .one-feedback:first-child {
  margin-top: 0;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block {
  width: 100%;
  padding: 35px 45px 45px 45px;
  position: relative;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  height: auto;
  margin: 0;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block.grey-block {
  background: #f3f0eb;
  min-height: 290px;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block.white-block {
  border: 1px solid #f3f0eb;
  border-top: 6px solid #fea330;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block.white-block:before {
  content: '';
  display: block;
  width: 37px;
  position: absolute;
  top: -5px;
  left: 50px;
  height: 18px;
  background: url('../images/about/block-6-arrow-down.png') no-repeat center center;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block.white-block .block-6-text {
  color: #464646;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .divider {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  float: left;
  background: #cccccc;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .divider.white {
  background: #eaeaea;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .block-6-title {
  font-family: EkibastuzBd;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  width: 100%;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .block-6-text {
  color: #363636;
  font-size: 18px;
  line-height: 20px;
  margin-top: 15px;
  font-family: PTSans;
  display: inline-block;
  float: left;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .block-6-title-sub {
  width: 100%;
  display: block;
  margin-top: 10px;
  color: #acacac;
  font-family: PTSans;
  font-size: 18px;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .block-6-loc {
  position: absolute;
  right: 40px;
  color: #1ba4de;
  font-family: PTSans;
  display: block;
  padding-left: 25px;
  box-sizing: border-box;
  background: url('../images/about/block-6-location-info.png') no-repeat left center;
  font-size: 18px;
  width: 135px;
  top: 65px;
}
.feedback .block-wrap .left-past .one-feedback .one-feedback-block .block-6-name {
  color: #ffa133;
  font-family: PTSans;
  font-size: 18px;
  position: absolute;
  right: 40px;
  top: 35px;
  display: block;
}
.feedback .block-wrap .right-past {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-left: 170px;
}
.feedback .block-wrap .right-past .big-num {
  font-family: EkibastuzBd;
  font-size: 120px;
  color: #464646;
  display: block;
  text-align: left;
}
.feedback .block-wrap .right-past .num-desc-48 {
  font-family: EkibastuzBd;
  font-size: 42px;
  color: #464646;
  text-transform: uppercase;
  text-align: left;
  display: block;
}
.feedback .block-wrap .right-past .num-desc-32 {
  font-family: EkibastuzBd;
  text-transform: uppercase;
  font-size: 32px;
  color: #464646;
  display: block;
  text-align: left;
}
.feedback .block-wrap .right-past .btn {
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 0;
}
.feedback .block-wrap .right-past .right-past-bottom {
  display: block;
  width: 350px;
  position: relative;
}
.feedback .block-wrap .right-past .right-past-bottom:before {
  content: '';
  display: block;
  width: 57px;
  height: 109px;
  left: -77px;
  top: -90px;
  position: absolute;
  background: url('../images/about/block-6-arrow-down-light.png') no-repeat center center;
}
.feedback .block-wrap .right-past .right-past-bottom .right-past-title {
  font-size: 20px;
  font-family: EkibastuzBd;
  display: block;
  text-transform: uppercase;
}
.feedback .block-wrap .right-past .right-past-bottom .right-past-text {
  color: #606060;
  line-height: 20px;
  font-size: 18px;
  margin-top: 25px;
  font-family: EkibastuzBd;
  display: block;
}
@media screen and (max-width: 1366px) {
  .feedback .screen-title {
    margin-top: 70px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1280px) {
  .feedback .block-wrap .left-past {
    width: 60%;
  }
  .feedback .block-wrap .right-past {
    margin-left: 10%;
  }
  .feedback .block-wrap .right-past .right-past-bottom {
    width: 280px;
  }
}
