@import "../../node_modules/lesshat/build/lesshat.less";

.bottom-nav {
  height: 60px;
  background-color: #109686;
  border-top: 1px solid #3fbeaf;
}

.div-nav-mob-services .links-top {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 19px;
  text-align: center;
  font-family: "PTSansBold", sans-serif;
  color: white;
  text-decoration: none;
  line-height: 60px;
}

.div-nav-mob-services .div-nav {
  position: relative;
  float: left;
}

.div-nav-mob-services .div-nav.active:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -31px;
  width: 62px;
  height: 25px;
  content: '';
  background: url('../images/green-arrow-menu.png') no-repeat center center;
}

.div-nav-mob-services .div-nav.active {
  background-color: #1bae9c !important;
}

.div-nav-mob-services .div-nav:nth-child(1) {
  background: url('../images/menu-icon-1.png') no-repeat 16px center;
}

.div-nav-mob-services .div-nav:nth-child(2) {
  background: url('../images/menu-icon-2.png') no-repeat 12px center;
}

.div-nav-mob-services .div-nav:nth-child(3) {
  background: url('../images/menu-icon-3.png') no-repeat 11px 10px;
  background-size: 30px;
}

.div-nav-mob-services .div-nav:nth-child(4) {
  background: url('../images/menu-icon-4.png') no-repeat 15px center;
}

.block-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.block-wrapper .block-title {
  font-family: EkibastuzBd;
  padding-top: 58px;
  display: block;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

.orange-list li {
  position: relative;
  z-index: 9;
  line-height: 33px;
}

.orange-list {
  list-style: none;
  padding: 0;
  margin-top: 35px;
  box-sizing: border-box;
}

.orange-list li span.icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 0;
  display: inline-block;
  background: url('../images/orange-icon.png') no-repeat center center;
}

.orange-list li span.text {
  display: inline-block;
  line-height: 32px;
  margin-left: 31px;
  font-family: PTSans;
}

.first-block .b-column {
  background: url('../images/iphone-and-ipad.png') no-repeat 600px 90px;
  background-size: 570px;
}

.third-block .b-column {
  background: url('../images/life-pad.png') no-repeat right 0px;
  background-size: 690px;
}

.four-block .b-column {
  background: url('../images/four-block-icon.png') no-repeat right 30px;
  background-size: 600px;
}

.footer-blocks-wrapper {
  position: relative;
  height: 250px;
  margin-top: 60px;
}

.footer-blocks {
  width: 375px;
  padding-left: 60px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  float: left;
}

.footer-blocks:nth-child(1) {
  padding-left: 0;
}

.footer-blocks.first:nth-child(2) {
  width: 400px;
}


.footer-blocks-title {
  color: #282828;
  font-family: EkibastuzBd;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 22px;
  font-size: 20px;
  width: 100%;
  display: block;
  text-align: left;
}

.not-uppercase {
  text-transform: none;
}

.right-border {
  background: #cacaca;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  height: 155px;
}

.app-store-btn {
  width: 170px;
  height: 60px;
  float: left;
  display: block;
  box-sizing: border-box;
  background: url('../images/android-store-icon.png') no-repeat left center;
  background-size: 131px;
}

.app-store-btn.green {
  background: url('../images/android-store-icon-green.png') no-repeat left center;
  background-size: 131px;
}

.app-store-btn.colored {
  background: url('../images/android-app-store-icon.png') no-repeat left center;
  background-size: 131px;
}

.icon-wrapper {
  line-height: 21px;
  float: left;
  color: #7d7d7d;
  font-size: 15px;
  width: 100%;
}

.icon-wrapper .text {
  width: 100%;
  box-sizing: border-box;
}

.phone-ico:before {
  width: 50px;
  height: 140px;
  display: block;
  content: '';
  float: left;
  background: url('../images/iphone-orange-icon.png') no-repeat center top;
  /*margin-left: 50px;*/
  margin-right: 17px;
}

.answer-ico:before {
  width: 50px;
  height: 140px;
  display: block;
  content: '';
  float: left;
  background: url('../images/answer-icon.png') no-repeat center top;
  /*margin-left: 50px;*/
  margin-right: 17px;
}

.tutorial-wrapper {
  height: 330px;
  position: relative;
  margin-top: 45px;
  width: 100%;
}

.tutorial-block {
  height: 100%;
  float: left;
  width: 25%;
  box-sizing: border-box;
  position: relative;
}

.tutorial-block:nth-child(1) {
  background: url('../images/second-block-1.png') no-repeat left top;
}

.tutorial-block:nth-child(2) {
  background: url('../images/second-block-2.png') no-repeat left top;
}

.tutorial-block:nth-child(3) {
  background: url('../images/second-block-3.png') no-repeat left top;
}

.tutorial-block:nth-child(4) {
  background: url('../images/second-block-4.png') no-repeat left top;
}

.tutorial-desc {
  color: #7d7d7d;
  display: block;
  float: left;
  width: auto;
  margin-top: 6px;
  margin-left: 10px;
  font-size: 18px;
}

.tutorial-number {
  border: 2px solid #fea22d;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  display: block;
  font-family: EkibastuzBd;
  line-height: 26px;
  text-align: center;
  float: left;
}

.tutorial-desc-block {
  margin-top: 242px;
  /*padding-left: 10px;*/
}

.list-number {
  border: 2px solid #fea22d;
  border-radius: 15px;
  width: 26px !important;
  height: 26px !important;
  background: white !important;
  display: inline-block;
  font-family: EkibastuzBd;
  line-height: 27px;
  text-align: center;
  float: left;
}

.four-block-list {
  position: relative;
}

.four-block-list li span.text {
  display: inline-block;
  line-height: 47px;
  font-family: PTSans;
  margin-left: 51px;
}

.line-orange {
  background: #fea22d;
  width: 2px;
  height: 87%;
  display: block;
  position: absolute;
  top: 10px;
  left: 14px;
}

.four-blocks {
  width: 25%;
  position: relative;
  box-sizing: border-box;
  height: 200px;
  float: left;
  padding-left: 60px;
}

.four-blocks:nth-child(1) {
  background: url('../images/icon-group-1.png') no-repeat left top;
}

.four-blocks:nth-child(2) {
  background: url('../images/icon-group-2.png') no-repeat left top;
}

.four-blocks:nth-child(3) {
  background: url('../images/icon-group-3.png') no-repeat left top;
}

.four-blocks:nth-child(4) {
  background: url('../images/icon-group-4.png') no-repeat left top;
}

.four-blocks-title {
  font-family: EkibastuzBd;
  width: 100%;
  display: block;
  margin-left: 20px;
  font-size: 18px;
  line-height: 20px;
}

.four-blocks-text {
  color: #7d7d7d;
  font-family: "PTSans", sans-serif;
  display: block;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 14px;
  line-height: normal;
}

@media screen and (max-width: 1360px) {
//  .b-column {
//    padding: 0 20px;
//  }

  .services-block-one {
    background-position: center center;
  }

  .price-block-one {
    width: 287px;
    margin-left: 80px;
  }
}

//@media screen and (max-width: 1400px) and (min-width: 1200px) {
//  .services-block-three {
//    background: url('../images/bg/screen-bg.jpg') no-repeat 132% top;
//  }
//}

@media screen and (max-width: 1200px) {
  .block-wrapper {
    &.first-block {
      .b-column {
        background: url('../images/iphone-and-ipad.png') no-repeat 550px 130px;
        background-size: 440px;
      }
      .footer-blocks {
        width: 33%;
        padding-left: 40px;
        padding-right: 40px;
        &.first{
          width: 33%;
        }
      }
    }
    .block-title {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .services-block-one-desc .title {
    font-size: 27px;
    line-height: 32px;
  }

  .services-block-one-desc .text {
    font-size: 16px;
    margin-top: 22px;
    line-height: 22px;
  }

  .price-block-one {
    margin-left: -20px;
  }

  .price-block-two {
    margin-left: -20px;
  }

  .service-wrapper .block {
    width: 320px;
  }

  .services-nav a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }

  .services-nav {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }

  .services-nav a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }

  .services-nav a.prev:hover {
    background-position: center -170px;
  }

  .services-nav a.next {
    background-position: left -112px;
  }

  .services-nav a.next:hover {
    background-position: left -56px;
  }

  .services-nav-two a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }

  .services-nav-two {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }

  .services-nav-two a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }

  .services-nav-two a.prev:hover {
    background-position: center -170px;
  }

  .services-nav-two a.next {
    background-position: left -112px;
  }

  .services-nav-two a.next:hover {
    background-position: left -56px;
  }

  .service-wrapper {
    width: 960px !Important;
  }

  .services-wrapper {
    width: 960px !Important;
  }

  .block_two {
    background-position-x: -364px !important;
  }

  .block_three {
    background-position-x: -785px !important;
  }

  .top-of-column-wrapper .title {
    font-size: 26px;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
  }

  .top-of-column {
    width: 620px;
  }

  .orange-line {
    max-width: 440px;
  }

  .services-block-three-list {
    width: 578px;
  }

  .services-block-three-list-block .title-block {
    margin-top: 15px;
  }

  .services-block-three-list-block:nth-child(3) .desc-block {
    margin-left: 25px;
    width: 100%;
  }

  .services-block-three-list-block:nth-child(3) .title-block {
    margin-left: 50px;
  }

  .services-block-three-list-block:nth-child(2) .title-block {
    width: 88%;
  }

  .top-of-column-wrapper .bottom-text {
    color: #282828;
    float: left;
    display: block;
    margin-top: 87px;
    font-size: 15px;
    line-height: 22px;
    margin-left: -7px;
  }

  .bottom-of-column-img {
    right: 68px;
  }

  .bottom-of-column-title {
    font-size: 27px;
  }

  .bottom-of-column-text {
    margin-top: 33px;
    margin-bottom: -5px;
  }
}