.select-wrapper {
  position: relative;
  margin-top: 29px;
}
.select-wrapper:after {
  content: ' ';
  display: block;
  border: 7px solid #858585;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: 30px;
  top: 28px;
}
.customSelect {
  border-radius: 4px;
  border: 1px solid #bababa;
  background: #ffffff;
  font-size: 20px;
  line-height: 26px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  margin-top: 0 !important;
  border-radius: 4px;
  border: 1px solid #bababa;
  background: #f6f6f6;
  font-size: 20px;
  line-height: 26px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-title {
  background: #00adee;
  line-height: 138px;
  display: block;
  height: 138px;
  text-align: center;
  color: white;
  font-size: 49px;
  text-transform: uppercase;
  font-family: EkibastuzBd;
  letter-spacing: 3px;
}
.form-footer a {
  outline: none !important;
  border-radius: 26px;
  background: #04b2f3;
  background: -webkit-linear-gradient(top, #04b2f3 0%, #00a0dc 100%);
  background: linear-gradient(to bottom, #04b2f3 0%, #00a0dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04b2f3', endColorstr='#00a0dc', GradientType=0);
  line-height: 50px;
  padding: 0 26px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 21px;
  margin-left: 25px;
  color: #fff;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form-footer :hover {
  /*background: #14c2ff;*/
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  /*background: linear-gradient(to bottom, #14c2ff 0%, #10b0ec 100%);*/
  /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14c2ff', endColorstr='#10b0ec', GradientType=0);*/
  /* IE6-9 */
}
.form-footer :active,
.form-footer :focus {
  /*background: #00a0dc;*/
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  /*background: linear-gradient(to bottom, #00a0dc 0%, #00a0dc 100%);*/
  /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a0dc', endColorstr='#00a0dc', GradientType=0);*/
  /* IE6-9 */
}
.form-footer {
  width: 595px;
  margin: 0 auto;
}
.form-footer input:first-child {
  margin-top: 0;
}
.form-footer input,
.form-footer select {
  width: 100%;
  height: 58px;
  margin-top: 29px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #bababa;
}
.form-footer label {
  font-size: 22px;
  padding-left: 20px;
  display: block;
  margin-top: 24px;
}
.services-block {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background: #fcf7ee;
}
.services-block .bottom-of-column-title,
.services-block .top-of-column-wrapper .title {
  line-height: 38px;
}
.screen-title {
  margin-top: 70px;
  margin-bottom: 60px;
  color: #1d1d1d;
  font-family: "EkibastuzBd";
  font-size: 12px;
  padding-bottom: 1px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  -webkit-transition: border 0.2s;
          transition: border 0.2s;
  border-bottom: 1px solid #1d1d1d;
}
.screen-title-white {
  color: white !important;
  border-bottom: 1px solid white;
}
.services-block-one {
  height: 1057px;
  background: url('../images/bg/full-bubbles-bg.jpg') #3c4850 no-repeat left center;
}
body {
  height: 729px;
  /*background: #fcf7ee;*/
  position: relatiСve;
}
.services-block-three {
  height: 730px;
  background: url('../images/bg/screen-bg.jpg') no-repeat 102% top #ffffff;
  box-sizing: border-box;
  background-color: white !important;
}
.services-block-three-second {
  height: 580px;
  border-top: 1px solid #e1e1e1;
  background: none !important;
  box-sizing: border-box;
  background-color: white !important;
}
.top-of-column {
  width: 790px;
  height: 746px;
  background-color: white;
}
.bottom-of-column {
  width: 100%;
  height: auto;
}
.services-block-four {
  background: #1bae9c;
}
.services-block-five {
  background-color: #e6eaec;
  height: auto;
  padding-bottom: 30px;
}
.service-wrapper {
  width: 1075px;
  height: 673px;
  position: relative;
  overflow: hidden;
  margin: -28px auto;
}
.service-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100000px;
  height: 100%;
}
.service-wrapper .block {
  width: 400px;
  height: 558px;
  float: left;
  position: relative;
  margin: 0;
  line-height: 1;
}
.service-wrapper-mobile .block .title {
  font-family: EkibastuzBd;
  color: #555555;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
  display: block;
  font-size: 19px;
  margin-left: 10px;
}
.service-wrapper-mobile .block .desc {
  font-family: EkibastuzBd;
  color: #7c7c7c;
  width: 100%;
  margin-top: 24px;
  font-size: 17px;
  display: block;
  margin-left: 10px;
  line-height: 20px;
}
.service-wrapper-mobile .block .text {
  font-family: PTSans;
  color: #282828;
  width: 100%;
  margin-left: 10px;
  margin-top: 16px;
  display: block;
  list-style: none;
  font-size: 17px;
  line-height: 22px;
  padding-left: 0;
}
.service-wrapper-mobile .block .text li {
  padding-bottom: 10px;
  vertical-align: top;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
}
.num {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  white-space: normal;
}
.num-text {
  display: inline-block;
  margin-left: 7px;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 40px;
  white-space: normal;
  line-height: 20px;
  width: auto;
  padding-bottom: 10px;
}
.service-wrapper-mobile .block .divider {
  width: 23px;
  height: 3px;
  background: #707070;
  margin-top: 31px;
  margin-left: 12px;
}
.service-wrapper-mobile .block .more-button {
  color: #393b3b;
  display: block;
  padding-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid #393b3b;
  width: 84px;
  font-family: PTSansBold;
  font-size: 15px;
  margin-left: 10px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  -webkit-transition: border 0.2s ease;
          transition: border 0.2s ease;
}
.service-wrapper-mobile .block .more-button:hover {
  border-bottom: 2px solid transparent;
}
.navigation a {
  position: absolute;
  width: 51px;
  height: 105px;
  top: 50%;
  z-index: 10;
}
.services-nav a {
  background-image: url('../images/navigation-sprite.png');
  background-repeat: no-repeat;
}
.services-nav a.next {
  right: 20px;
  background-position: center -315px;
}
.services-nav a.next:hover {
  background-position: center -102px;
}
.services-nav a.prev {
  left: 20px;
  background-position: center -212px;
}
.services-nav a.prev:hover {
  background-position: center 1px;
}
.services-wrapper {
  height: 556px;
  width: 1110px;
}
.services-wrapper .block {
  color: #ffffff;
  /*height: 465px;*/
  width: 385px;
  min-height: 434px;
  height: auto;
  background: url('../images/bg/green-circles.png');
}
.services-wrapper .block .sub-title {
  font-family: EkibastuzBd;
  display: block;
  margin-top: 192px;
  text-transform: uppercase;
  margin-left: 55px;
  font-size: 13px;
  letter-spacing: 2px;
}
.services-wrapper .block .title {
  font-family: EkibastuzBk;
  display: block;
  text-transform: uppercase;
  margin-top: 16px;
  margin-left: 55px;
  line-height: 36px;
  width: 50%;
  font-size: 29px;
}
.services-wrapper .block .desc {
  margin-left: 55px;
  display: block;
  margin-top: 23px;
  padding-bottom: 55px;
  line-height: 21px;
}
.services-wrapper .block .more-button {
  color: white;
  display: block;
  padding-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  width: 84px;
  font-family: PTSansBold;
  font-size: 15px;
  margin-left: 55px;
  position: absolute;
  bottom: 5px;
  -webkit-transition: border 0.2s ease;
          transition: border 0.2s ease;
}
.services-wrapper .block .more-button:hover {
  border-bottom: 2px solid transparent;
}
.tip-block {
  position: absolute;
  top: 40px;
  left: 45px;
  font-family: EkibastuzBd;
  color: #f9eeb0;
  font-size: 18px;
  width: 100%;
  line-height: 22px;
  background: url('../images/services-tip-arrow.png') no-repeat left bottom;
  height: 140px;
  padding-left: 10px;
}
.block_two {
  background-position-x: -374px !important;
}
.block_three {
  background-position-x: -768px !important;
}
.services-nav-two a {
  background-image: url('../images/navigation-sprite.png');
  background-repeat: no-repeat;
}
.services-nav-two a.next {
  right: 20px;
  background-position: center -315px;
}
.services-nav-two a.next:hover {
  background-position: center -418px;
}
.services-nav-two a.prev {
  left: 20px;
  background-position: center -212px;
}
.services-nav-two a.prev:hover {
  background-position: center -516px;
}
.services-block-one-desc .text {
  color: #c7c7c7;
  margin-top: 32px;
  font-size: 17px;
  line-height: 21px;
}
.services-block-one-desc {
  float: left;
}
.services-block-one-desc .title {
  font-family: EkibastuzBd;
  text-transform: uppercase;
  color: white;
  font-size: 32px;
  line-height: 40px;
}
.price-block-one .name {
  color: white;
  text-transform: uppercase;
  width: 87%;
  font-family: EkibastuzBd;
  text-align: center;
  display: block;
  font-size: 23px;
  margin-top: 7px;
}
.price-block-one .time {
  color: white;
  width: 86%;
  font-family: EkibastuzBd;
  text-align: center;
  display: block;
  margin-top: 105px;
  font-size: 20px;
}
.price-block-two {
  padding-left: 78px;
  box-sizing: border-box;
}
.price-block-two .name {
  color: white;
  text-transform: uppercase;
  width: 87%;
  font-family: EkibastuzBd;
  text-align: center;
  display: block;
  font-size: 23px;
  margin-top: 7px;
}
.price-block-two .time {
  color: white;
  width: 86%;
  font-family: EkibastuzBd;
  text-align: center;
  display: block;
  margin-top: 105px;
  font-size: 20px;
}
.price-more-button {
  color: #979ba0;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  display: none;
  margin-top: 57px;
  margin-left: 72px;
  border: 2px #979ba0 solid;
  text-align: center;
  width: 120px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 30px;
  line-height: 30px;
}
.price-more-button:hover {
  color: #3d4952;
  background: #979ba0;
}
.price-two {
  margin-left: 32px;
}
.price-block-one {
  background: url('../images/gold-circle-3000.png') no-repeat center 26px;
  width: 300px;
  position: relative;
  min-height: 240px;
  height: auto;
  float: left;
  margin-left: 150px;
}
.price-block-two {
  background: url('../images/silver-circle-700.png') no-repeat 60px 26px;
  width: 290px;
  position: relative;
  min-height: 240px;
  height: auto;
  float: left;
}
.price-block-one .time {
  margin-top: 115px;
}
.price-block-two .time {
  margin-top: 112px;
}
.services-block-one-list-title {
  width: 100%;
  float: left;
  display: block;
  height: 50px;
  font-family: EkibastuzBd;
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 56px;
}
.services-block-one-list {
  width: 100%;
  float: left;
  display: block;
  color: white;
}
.services-block-one-list-block {
  height: 250px;
  padding-top: 112px;
  width: 33%;
  float: left;
  box-sizing: border-box;
}
.services-block-one-list-block .title {
  font-family: EkibastuzBd;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
}
.services-block-one-list-block .desc {
  font-family: PTSans;
  color: #c7c7c7;
  line-height: 23px;
  margin-top: 30px;
}
.services-block-one-list-block:nth-child(1) {
  background: url('../images/block-one-icon-1.png') no-repeat left top;
}
.services-block-one-list-block:nth-child(2) {
  padding-left: 32px;
  background: url('../images/block-one-icon-2.png') no-repeat 13px top;
}
.services-block-one-list-block:nth-child(3) {
  background: url('../images/block-one-icon-3.png') no-repeat 37px top;
  padding-left: 60px;
}
.services-block-one-footer-text {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  color: #c7c7c7;
  font-size: 20px;
  font-family: EkibastuzBd;
  margin-top: 70px;
}
.services-block-one-footer-link {
  text-align: center;
  float: left;
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 3px;
  border-bottom: 3px white solid;
  position: relative;
  left: 50%;
  width: auto;
  max-width: 210px;
  margin-left: -100px;
  font-size: 20px;
  font-weight: bold;
  font-family: PTSansBold;
  top: 25px;
  letter-spacing: 1px;
  -webkit-transition: border 0.2s ease;
          transition: border 0.2s ease;
}
.services-block-one-footer-link:hover {
  border-bottom: 3px transparent solid;
}
@-moz-document url-prefix() {
  .services-block-one-footer-link {
    width: 207px;
  }
}
.top-of-column-wrapper .title {
  font-family: EkibastuzBd;
  font-size: 33px;
  text-transform: uppercase;
}
.services-block-three-list {
  width: 670px;
  position: relative;
}
.services-block-three-list-block {
  width: 33%;
  z-index: 10;
  position: relative;
  opacity: 0;
  float: left;
}
.services-block-three-list-block .img-block {
  width: 104px;
  display: block;
  height: 100px;
  margin-top: 38px;
}
.services-block-three-list-block:nth-child(1) .img-block {
  background: url('../images/icons-group.png') no-repeat center -101px;
  margin-left: 11px;
  background-size: cover;
}
.services-block-three-list-block:nth-child(2) .img-block {
  background: url('../images/icons-group.png') no-repeat center top;
  background-size: cover;
  margin-left: 40px;
}
.services-block-three-list-block:nth-child(3) .img-block {
  background: url('../images/icons-group.png') no-repeat center -200px;
  background-size: cover;
  margin-left: 71px;
}
.services-block-three-list-block .title-block {
  color: #555555;
  font-family: EkibastuzBd;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 8px;
}
.services-block-three-list-block:nth-child(1) .title-block {
  width: 60%;
}
.services-block-three-list-block:nth-child(2) .title-block {
  width: 84%;
}
.services-block-three-list-block:nth-child(3) .title-block {
  margin-left: 30px;
}
.services-block-three-list-block .desc-block {
  color: #7c7c7c;
  font-family: EkibastuzBd;
  margin-top: 16px;
  display: block;
  line-height: 19px;
}
.services-block-three-list-block:nth-child(2) .desc-block {
  margin-left: -30px;
  text-align: center;
}
.services-block-three-list-block:nth-child(3) .desc-block {
  margin-left: 39px;
  text-align: center;
}
.orange-line {
  width: 0%;
  max-width: 500px;
  background: #ffb034;
  height: 2px;
  position: absolute;
  top: 100px;
  left: 50px;
  -webkit-transition: all 1s ease .2s;
  -moz-transition: all 1s ease .2s;
  -o-transition: all 1s ease .2s;
}
.top-of-column-wrapper .bottom-text {
  color: #282828;
  float: left;
  display: block;
  margin-top: 90px;
  font-size: 18px;
  line-height: 22px;
  margin-left: 5px;
}
.services-block-three .bottom-btn:hover {
  background: #f09506;
}
.services-block-three .bottom-btn {
  display: block;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  width: 260px;
  margin-left: 6px;
  height: 40px;
  font-family: PTSansBold;
  line-height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  background: #ffb034;
  color: white;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.top-of-column-wrapper .divider {
  width: 658px;
  position: relative;
  top: 267px;
  left: 0px;
  height: 1px;
  background: #cccccc;
}
.screen-title.second {
  border-bottom: 1px solid white;
  text-decoration: none;
}
.bottom-of-column-title {
  font-family: EkibastuzBd;
  font-size: 33px;
  text-transform: uppercase;
}
.bottom-of-column-text {
  display: block;
  margin-top: 31px;
  margin-bottom: 36px;
  line-height: 22px;
  color: #282828;
}
.green-btn {
  color: #1bae9c !important;
  background: transparent !important;
  border: 2px #1bae9c solid !important;
  width: 200px !important;
  margin-left: 45px !important;
}
.green-btn:hover {
  background: #1bae9c !important;
  color: white !important;
}
.bottom-of-column .bottom-btn {
  width: 245px;
}
.bottom-of-column-img {
  width: 400px;
  height: 400px;
  display: block;
  background: url('../images/orange-circle-20.png') no-repeat center center;
  position: relative;
  right: 64px;
  top: -38px;
  float: right;
}
.bottom-of-column-img > span {
  text-transform: uppercase;
  width: auto;
  height: auto;
  background: url('../images/clock-icon.png') no-repeat left center;
  /* font-family: EkibastuzBk; */
  display: block;
  margin-top: 120px;
  font-size: 31px;
  font-weight: bold;
  margin-left: 113px;
  padding-left: 77px;
  color: #464646;
  padding-top: 44px;
  line-height: 35px;
  box-sizing: border-box;
}
.bottom-of-column-wrapper {
  position: relative;
}
@media screen and (max-width: 1360px) {
  .services-block-one {
    background-position: center center;
  }
  .price-block-one {
    width: 287px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 1150px) {
  .services-block-one-desc .title {
    font-size: 27px;
    line-height: 32px;
  }
  .services-block-one-desc .text {
    font-size: 16px;
    margin-top: 22px;
    line-height: 22px;
  }
  .price-block-one {
    margin-left: -20px;
  }
  .price-block-two {
    margin-left: -20px;
  }
  .service-wrapper .block {
    width: 320px;
  }
  .services-nav a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }
  .services-nav {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }
  .services-nav a {
    width: 40px;
  }
  .services-nav a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }
  .services-nav a.prev:hover {
    background-position: center -170px;
  }
  .services-nav a.next {
    background-position: left -112px;
  }
  .services-nav a.next:hover {
    background-position: left -56px;
  }
  .services-nav-two a {
    background-image: url('../images/arrows-1000.png');
    background-repeat: no-repeat;
    top: 0;
    height: 55px;
  }
  .services-nav-two {
    position: absolute;
    right: 9px;
    toP: 50px;
    height: 55px;
    width: 120px;
  }
  .services-nav-two a {
    width: 40px;
  }
  .services-nav-two a.prev {
    margin-top: 1px;
    background-position: center 0px;
  }
  .services-nav-two a.prev:hover {
    background-position: center -170px;
  }
  .services-nav-two a.next {
    background-position: left -112px;
  }
  .services-nav-two a.next:hover {
    background-position: left -56px;
  }
  .service-wrapper {
    width: 960px !Important;
  }
  .services-wrapper {
    width: 960px !Important;
  }
  .block_two {
    background-position-x: -364px !important;
  }
  .block_three {
    background-position-x: -785px !important;
  }
  .top-of-column-wrapper .title {
    font-size: 26px;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
  }
  .top-of-column {
    width: 620px;
  }
  .orange-line {
    max-width: 440px;
  }
  .services-block-three-list {
    width: 578px;
  }
  .services-block-three-list-block .title-block {
    margin-top: 15px;
  }
  .services-block-three-list-block:nth-child(3) .desc-block {
    margin-left: 25px;
    width: 100%;
  }
  .services-block-three-list-block:nth-child(3) .title-block {
    margin-left: 50px;
  }
  .services-block-three-list-block:nth-child(2) .title-block {
    width: 88%;
  }
  .top-of-column-wrapper .bottom-text {
    color: #282828;
    float: left;
    display: block;
    margin-top: 87px;
    font-size: 15px;
    line-height: 22px;
    margin-left: -7px;
  }
  .bottom-of-column-img {
    right: 68px;
  }
  .bottom-of-column-title {
    font-size: 27px;
  }
  .bottom-of-column-text {
    margin-top: 33px;
    margin-bottom: -5px;
  }
}
@media screen and (max-width: 1400px) {
  .services-block-three {
    background: url('../images/bg/screen-bg.jpg') no-repeat 130% top;
  }
}
@media screen and (max-width: 1200px) {
  .services-block-three {
    background: url('../images/bg/screen-bg.jpg') no-repeat 155% top;
  }
}
