.vacancy {
  min-width: 1024px;
  position: relative;
  width: 100%;
  padding-bottom: 90px;
  vertical-align: top;
}
.vacancy .town-title {
  color: #3a3a3a;
  font-family: EkibastuzBd;
  text-transform: uppercase;
  line-height: 135px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.vacancy .town-title .town-title-select {
  font-size: inherit;
  cursor: pointer;
  padding-right: 20px;
  background: url('../images/vacancy-arrow.png') no-repeat right center;
}
.vacancy .town-title .b-select-city_cnt.b-select-city_ofices {
  top: 110px;
}
.vacancy .right-vacancy-block {
  width: 745px;
  margin-left: 120px;
  border-top: 1px solid #2bbdf6;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.vacancy .right-vacancy-block .one-vacancy {
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  padding: 0 35px 35px 35px;
  -webkit-transition: background 1s ease 0.1s;
  transition: background 1s ease 0.1s;
  box-sizing: border-box;
}
.vacancy .right-vacancy-block .one-vacancy .resume-success {
  color: #5da4e2;
  font-family: PTSans;
  font-size: 20px;
  line-height: 22px;
  display: none;
  padding-bottom: 10px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-success .divider {
  line-height: 70px;
  background: #e4e4e4;
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 1px;
  display: inline-block;
  padding: 0 35px 0 35px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block {
  display: none;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .divider {
  line-height: 70px;
  background: #e4e4e4;
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 1px;
  display: inline-block;
  padding: 0 35px 0 35px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form {
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .divider {
  padding: 0 25px 0 25px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .resume-form-send-btn {
  width: 310px;
  height: 65px;
  background-color: #5DA4E2;
  -webkit-border-radius: 33px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 33px;
  -moz-background-clip: padding;
  border-radius: 33px;
  background-clip: padding-box;
  font-family: PTSansBold;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 65px;
  color: white;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .resume-form-send-btn:hover {
  opacity: 0.7;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc {
  padding-left: 55px;
  width: auto;
  letter-spacing: 1px;
  line-height: 45px;
  margin-top: 15px;
  font-size: 16px;
  color: #5da4e2;
  font-family: PTSansBold;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc i {
  background: url('../images/vacancy/menu-return.png') no-repeat left bottom;
  position: absolute;
  left: 0;
  width: 40px;
  display: block;
  top: 0;
  height: 44px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc:hover i {
  background: url('../images/vacancy/menu-return.png') no-repeat left 4px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past {
  width: 47%;
  margin-bottom: 15px;
  height: auto;
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.left {
  margin-right: 6%;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.full {
  width: 100%;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.no_margin_bottom {
  margin-bottom: -15px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past label {
  font-family: PTSansBold;
  font-size: 18px;
  padding-left: 25px;
  line-height: 1;
  display: inline-block;
  padding-bottom: 15px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past label.req:after {
  font-size: inherit;
  font-family: inherit;
  content: '*';
  margin-left: 2px;
  display: inline;
  color: #c82e34;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past input {
  width: 100%;
  position: relative;
  height: 48px;
  border: 1px #e4e4e4 solid;
  outline: none;
  font-family: PTSans;
  padding-left: 20px;
  box-sizing: border-box;
  -webkit-appearance: none;
  display: inline-block;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .attach-btn {
  display: block;
  background: url('../images/vacancy/attack-icon.png') no-repeat center top;
  width: 63px;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 34px;
  cursor: pointer;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .attach-btn:hover {
  background-position: center -58px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past textarea {
  width: 100%;
  border: 1px #e4e4e4 solid;
  height: 165px;
  font-family: PTSans;
  color: #acacac;
  -webkit-appearance: none;
  outline: none;
  resize: vertical;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha {
  border: 1px #e4e4e4 solid;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  width: 175px;
  height: 75px;
  display: inline-block;
  position: relative;
  background-color: white;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha img {
  width: 100%;
  height: 100%;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap {
  display: inline-block;
  margin-left: 25px;
  height: 75px;
  width: 150px;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap label {
  padding-left: 10px;
  color: #acacac;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap input {
  width: 100%;
  height: 45px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .form-tip {
  color: #acacac;
  font-size: 16px;
  margin-top: 30px;
  box-sizing: border-box;
  width: 284px;
  position: relative;
  right: 0;
  top: 0;
  font-family: PTSans;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .form-tip .sym {
  font-size: inherit;
  line-height: inherit;
  color: #c82e34;
  font-family: inherit;
}
.vacancy .right-vacancy-block .one-vacancy:last-child {
  padding: 0 35px 35px 35px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-title {
  font-size: 20px;
  color: #252525;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding-top: 35px;
  font-family: EkibastuzBd;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-location {
  display: inline-block;
  margin-top: 25px;
  padding-left: 35px;
  background: url('../images/vacancy/loc-icon.png') no-repeat left center;
  font-family: PTSans;
  width: auto;
  color: #acacac;
  font-size: 18px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-btn {
  position: absolute;
  right: 35px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 30px;
  display: block;
  background: url('../images/vacancy/plus-minus-icons.png') no-repeat center top;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-btn:hover {
  background: url('../images/vacancy/plus-minus-icons.png') no-repeat center -54px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden {
  width: 100%;
  display: none;
  height: auto;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .hidden-elements {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .divider {
  line-height: 70px;
  background: #e4e4e4;
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 1px;
  display: block;
  padding: 0 35px 0 35px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-desc {
  color: #2c2c2c;
  font-family: PTSans;
  font-size: 18px;
  line-height: 20px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-list {
  margin-top: 35px;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: relative;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-list .one-vacancy-list-title {
  display: block;
  margin-bottom: 15px;
  padding-left: 35px;
  background: url('../images/vacancy/circle-icon-green.png') no-repeat left center;
  font-family: PTSansBold;
  color: #272727;
  box-sizing: border-box;
  font-size: 16px;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-list .one-vacancy-list-li {
  margin-left: 35px;
  font-family: PTSans;
  line-height: 30px;
  padding-left: 25px;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  background: url('../images/vacancy/list-line-icon-green.jpg') no-repeat left center;
  color: #2c2c2c;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .resume-btn {
  outline: none !important;
  border-radius: 26px;
  background: #04b2f3;
  background: -webkit-linear-gradient(top, #04b2f3 0%, #00a0dc 100%);
  background: linear-gradient(to bottom, #04b2f3 0%, #00a0dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04b2f3', endColorstr='#00a0dc', GradientType=0);
  font-family: PTSansBold;
  font-size: 12px;
  width: 224px;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
  height: 45px;
  padding-left: 65px;
  left: 50%;
  margin-left: -112px;
  color: #fff;
  position: relative;
  border: none;
  text-decoration: none;
  display: inline-block;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .resume-btn i {
  background: url('../images/vacancy/resume-icon.png') no-repeat center center;
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  left: 30px;
  height: 16px;
  margin-top: -8px;
}
.vacancy .right-vacancy-block .one-vacancy.open {
  background: #f8f8f8;
}
.vacancy .right-vacancy-block .one-vacancy.open .one-vacancy-location {
  color: #252525;
  cursor: pointer;
}
.vacancy .right-vacancy-block .one-vacancy.open .one-vacancy-location:hover {
  color: #5da4e2;
}
.vacancy .right-vacancy-block .one-vacancy.open .one-vacancy-btn {
  background: url('../images/vacancy/plus-minus-icons.png') no-repeat center -108px;
}
.vacancy .right-vacancy-block .one-vacancy.open .one-vacancy-btn:hover {
  background: url('../images/vacancy/plus-minus-icons.png') no-repeat center bottom;
}
.vacancy .right-vacancy-block .big-map-wrapper {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 522px;
  border-bottom: 1px solid #2bbdf6;
  left: 0;
  background-color: white;
}
.vacancy .right-vacancy-block .big-map-wrapper .big-map {
  position: relative;
  width: 100%;
  height: 100%;
}
.vacancy .right-vacancy-block .big-map-wrapper .close-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 30px;
  width: 65px;
  height: 60px;
  display: block;
  background: url('../images/vacancy/close-icon.png') no-repeat #ffffff center center;
}
.vacancy .left-menu {
  width: 400px;
  height: auto;
  vertical-align: top;
  display: inline-block;
}
.vacancy .left-menu .left-menu-item {
  color: white;
  font-family: PTSansBold;
  height: 95px;
  text-transform: capitalize;
  line-height: 95px;
  box-sizing: border-box;
  padding-left: 100px;
  width: 100%;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
  background-color: #84bf41;
}
.vacancy .left-menu .left-menu-item:hover {
  background: #76af36;
  cursor: pointer;
}
.vacancy .left-menu .left-menu-item.location {
  background-image: url('../images/vacancy/menu-loc-icon.png');
  background-position: 45px center;
  background-repeat: no-repeat;
}
.vacancy .left-menu .left-menu-item.case {
  background-image: url('../images/vacancy/menu-case-icon.png');
  background-position: 48px center;
  background-repeat: no-repeat;
}
.vacancy .left-menu .left-menu-item i {
  display: block;
  position: absolute;
  right: 45px;
  top: 50%;
  width: 40px;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  height: 88px;
  margin-top: -44px;
  background: url('../images/vacancy/white-right-arrow.png') no-repeat center center;
}
.vacancy .left-menu .left-menu-item.active i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vacancy .left-menu .left-menu-item-block {
  background-color: #f8f8f8;
  height: auto;
  position: relative;
  padding: 35px 50px 35px 50px;
  display: none;
}
.vacancy .left-menu .left-menu-item-block .offices-list .btn_blue {
  padding: 0;
  width: 224px;
  height: 35px;
  position: relative;
  line-height: 35px;
  margin-left: -112px;
  left: 50%;
  margin-top: 35px;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office {
  font-family: PTSansBold;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 1px #e4e4e4 solid;
  padding-top: 25px;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office:nth-child(1) {
  padding-top: 0;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office > span {
  line-height: 1;
  display: inline-block;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-num {
  font-family: inherit;
  color: #84bf41;
  padding-right: 10px;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-name {
  color: #5c5c5c;
  text-transform: uppercase;
  font-family: inherit;
}
.vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-addr {
  color: #acacac;
  width: 100%;
  font-family: PTSans;
}
.vacancy .left-menu .left-menu-item-block .offices-desc {
  display: none;
}
.vacancy .left-menu .left-menu-item-block.case {
  display: block;
}
.vacancy .left-menu .left-menu-item-block .green-circle {
  position: absolute;
  display: block;
  left: -20px;
  top: 4px;
  background: url('../images/vacancy/list-full-green.jpg') no-repeat center center;
  width: 6px;
  height: 5px;
}
.vacancy .left-menu .left-menu-item-block .location-name {
  font-family: PTSansBold;
  color: #5c5c5c;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 40px;
  font-size: 16px;
}
.vacancy .left-menu .left-menu-item-block .location-address {
  font-size: 16px;
  margin-left: 40px;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #acacac;
}
.vacancy .left-menu .left-menu-item-block .location-desc {
  color: #5c5c5c;
  font-family: PTSans;
  font-size: 18px;
  margin-top: 55px;
  display: inline-block;
  margin-left: 40px;
  line-height: 26px;
  position: relative;
}
.vacancy .left-menu .left-menu-item-block .location-desc i {
  top: 10px;
}
.vacancy .left-menu .left-menu-item-block .return-to-list {
  padding-left: 65px;
  width: auto;
  letter-spacing: 1px;
  line-height: 45px;
  font-size: 16px;
  color: #5da4e2;
  font-family: PTSansBold;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.vacancy .left-menu .left-menu-item-block .return-to-list i {
  background: url('../images/vacancy/menu-return.png') no-repeat left bottom;
  position: absolute;
  left: 0;
  width: 40px;
  display: block;
  top: 0;
  height: 44px;
}
.vacancy .left-menu .left-menu-item-block .return-to-list:hover i {
  background: url('../images/vacancy/menu-return.png') no-repeat left 4px;
}
.vacancy .left-menu .left-menu-item-block .mini-map {
  position: relative;
  width: 400px;
  height: 190px;
  background-size: cover;
  top: 25px;
  left: -50px;
  display: block;
}
.vacancy .left-menu .left-menu-item-block .divider {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.vacancy .left-menu .left-menu-item-block .checker {
  font-family: PTSansBold;
  font-size: 18px;
  color: #acacac;
  margin-left: 60px;
  line-height: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin-top: 15px;
}
.vacancy .left-menu .left-menu-item-block .checker.active {
  color: #84bf41;
}
.vacancy .left-menu .left-menu-item-block .checker.active i {
  background: url('../images/vacancy/check-icons.png') no-repeat left bottom;
}
.vacancy .left-menu .left-menu-item-block .checker.active:hover i {
  background: url('../images/vacancy/check-icons.png') no-repeat left bottom;
}
.vacancy .left-menu .left-menu-item-block .checker:hover {
  color: #84bf41;
}
.vacancy .left-menu .left-menu-item-block .checker:hover i {
  background: url('../images/vacancy/check-icons.png') no-repeat left -61px;
}
.vacancy .left-menu .left-menu-item-block .checker:nth-child(1) {
  margin-top: 0;
}
.vacancy .left-menu .left-menu-item-block .checker i {
  position: absolute;
  display: block;
  left: -60px;
  cursor: pointer;
  top: 50%;
  margin-top: -20px;
  width: 44px;
  height: 40px;
  background: url('../images/vacancy/check-icons.png') no-repeat left top;
}
.vacancy .left-menu .left-menu-item-block .category {
  font-family: PTSans;
  color: #5c5c5c;
  margin-bottom: 35px;
  margin-left: 60px;
  text-transform: uppercase;
  position: relative;
  width: auto;
  line-height: 12px;
  cursor: pointer;
  height: auto;
  display: inline-block;
}
.vacancy .left-menu .left-menu-item-block .category:hover {
  color: #84bf41;
}
.vacancy .left-menu .left-menu-item-block .category:hover .counts {
  color: inherit;
}
.vacancy .left-menu .left-menu-item-block .category i {
  position: absolute;
  left: -36px;
  background: url('../images/vacancy/list-full-green.jpg') no-repeat center center;
  width: 6px;
  height: 5px;
  top: 4px;
  display: block;
}
.vacancy .left-menu .left-menu-item-block .category .counts {
  color: #b7b7b7;
  font-size: inherit;
  line-height: inherit;
}
.vacancy .left-menu .left-menu-item-block .category.active {
  font-family: PTSansBold;
}
.vacancy .left-menu .left-menu-item-block .category:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1366px) {
  .vacancy .right-vacancy-block {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1280px) {
  .vacancy .right-vacancy-block {
    margin-left: 2%;
    width: 655px;
  }
}
@media screen and (max-width: 1150px) {
  .vacancy .left-menu {
    width: 300px;
  }
  .vacancy .left-menu .left-menu-item {
    font-size: 16px;
  }
  .vacancy .left-menu .left-menu-item.location {
    background-position: 25px center;
  }
  .vacancy .left-menu .left-menu-item.case {
    background-position: 28px center;
  }
  .vacancy .left-menu .left-menu-item i {
    right: 25px;
  }
  .vacancy .left-menu .left-menu-item-block {
    font-size: 16px;
    padding: 20px 25px 25px 25px !important;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .btn_blue {
    padding: 0;
    width: 190px;
    height: 30px;
    position: relative;
    line-height: 30px;
    margin-left: -107px;
    left: 50%;
    margin-top: 30px;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office {
    font-family: PTSansBold;
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px #e4e4e4 solid;
    padding-top: 25px;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office:nth-child(1) {
    padding-top: 0;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office > span {
    line-height: 1;
    display: inline-block;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-num {
    font-family: inherit;
    color: #84bf41;
    padding-right: 10px;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-name {
    color: #5c5c5c;
    text-transform: uppercase;
    font-family: inherit;
  }
  .vacancy .left-menu .left-menu-item-block .offices-list .one-office .one-office-addr {
    color: #acacac;
    margin-top: 10px;
    width: 100%;
    font-family: PTSans;
  }
  .vacancy .left-menu .left-menu-item-block .checker {
    line-height: 20px !important;
  }
  .vacancy .left-menu .left-menu-item-block .category {
    font-size: 13px;
  }
  .vacancy .left-menu .left-menu-item-block .location-desc {
    font-size: 14px !important;
  }
  .vacancy .left-menu .left-menu-item-block .mini-map {
    left: -25px !important;
    width: 300px !important;
  }
  .vacancy .left-menu .left-menu-item-block .return-to-list {
    font-size: 15px !important;
  }
  .vacancy .right-vacancy-block {
    margin-left: 30px;
    width: 630px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-success {
    color: #5da4e2;
    font-family: PTSans;
    font-size: 20px;
    line-height: 22px;
    display: none;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-success .divider {
    line-height: 70px;
    background: #e4e4e4;
    width: 100%;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 1px;
    display: inline-block;
    padding: 0 35px 0 35px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block {
    display: none;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .divider {
    line-height: 70px;
    background: #e4e4e4;
    width: 100%;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 1px;
    display: inline-block;
    padding: 0 35px 0 35px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form {
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .divider {
    padding: 0 25px 0 25px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .resume-form-send-btn {
    width: 240px;
    height: 50px;
    background-color: #5DA4E2;
    -webkit-border-radius: 33px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 33px;
    -moz-background-clip: padding;
    border-radius: 33px;
    background-clip: padding-box;
    font-family: PTSansBold;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 50px;
    color: white;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .resume-form-send-btn:hover {
    opacity: 0.7;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc {
    padding-left: 55px;
    width: auto;
    letter-spacing: 1px;
    line-height: 45px;
    margin-top: 5px;
    font-size: 14px;
    color: #5da4e2;
    font-family: PTSansBold;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc i {
    background: url('../images/vacancy/menu-return.png') no-repeat left bottom;
    position: absolute;
    left: 0;
    width: 40px;
    display: block;
    top: 0;
    height: 44px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .return-to-desc:hover i {
    background: url('../images/vacancy/menu-return.png') no-repeat left 4px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past {
    width: 47%;
    margin-bottom: 15px;
    height: auto;
    display: block;
    position: relative;
    float: left;
    box-sizing: border-box;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.left {
    margin-right: 6%;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.full {
    width: 100%;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past.no_margin_bottom {
    margin-bottom: -15px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past label {
    font-family: PTSansBold;
    font-size: 16px;
    padding-left: 25px;
    line-height: 1;
    display: inline-block;
    padding-bottom: 15px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past label.req:after {
    font-size: inherit;
    font-family: inherit;
    content: '*';
    margin-left: 2px;
    display: inline;
    color: #c82e34;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past input {
    width: 100%;
    position: relative;
    height: 48px;
    border: 1px #e4e4e4 solid;
    outline: none;
    font-family: PTSans;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .attach-btn {
    display: block;
    background: url('../images/vacancy/attack-icon.png') no-repeat center top;
    width: 63px;
    height: 48px;
    position: absolute;
    right: 0px;
    top: 34px;
    cursor: pointer;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .attach-btn:hover {
    background-position: center -58px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past textarea {
    width: 100%;
    border: 1px #e4e4e4 solid;
    height: 165px;
    font-family: PTSans;
    color: #acacac;
    -webkit-appearance: none;
    outline: none;
    resize: vertical;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha {
    border: 1px #e4e4e4 solid;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    width: 175px;
    height: 75px;
    display: inline-block;
    position: relative;
    background-color: white;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha img {
    width: 100%;
    height: 100%;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap {
    display: inline-block;
    margin-left: 25px;
    height: 75px;
    width: 150px;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap label {
    padding-left: 10px;
    color: #acacac;
    padding-bottom: 10px;
    font-size: 16px;
    width: 100%;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .captcha-input-wrap input {
    width: 100%;
    height: 45px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .form-tip {
    color: #acacac;
    font-size: 16px;
    margin-top: 30px;
    box-sizing: border-box;
    width: 284px;
    position: relative;
    right: 0;
    top: 0;
    font-family: PTSans;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
  .vacancy .right-vacancy-block .one-vacancy .resume-form-block .resume-form .past .form-tip .sym {
    font-size: inherit;
    line-height: inherit;
    color: #c82e34;
    font-family: inherit;
  }
  .vacancy .right-vacancy-block .one-vacancy .one-vacancy-title {
    font-size: 18px;
  }
  .vacancy .right-vacancy-block .one-vacancy .one-vacancy-location {
    font-size: 16px;
  }
  .vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-desc {
    font-size: 15px;
  }
  .vacancy .right-vacancy-block .one-vacancy .one-vacancy-hidden .one-vacancy-list .one-vacancy-list-li {
    font-size: 15px;
  }
}
