// .column-section-type - padding left and right
// .b-column  -  max-width

.red{
  background: rgba(255, 0, 0, 0.67);
}
.green{
  background: green;
}

.blue{
  background: blue;
}
.h50{
  height: 50px;
}
.h70{
  height: 80px;
}
.h80{
  height: 90px;
}
/****************************** basses *************************************/
p {
  font-size: 18px;
  line-height: 25px;
}

.site-section{
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;

  &.grey-line-bottom{
    border-bottom: 1px solid #d6d6d6;
  }

  &.no-padding-top{
    padding-top: 0px;
  }
}

.grid-level{
  font-size: 0;
  .grid-col{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    position: relative;

    &.grid-1I2{
      width: 47%;
      margin-left: 5%;
    }

    &.grid-1I3{
      width: 30%;
      margin-left: 5%;
    }
    &.grid-2I3{
      width: 65%;
      margin-left: 5%;

      .grid-1I3{
        width: 46%;
        margin-left: 8%;
      }
    }

    &:nth-child(1){
      margin-left: 0 !important;
    }


    &.no-margin-left{
      margin-left: 0!important;
    }

    .col-content-left-margin{
      margin-left: 50px;
    }
    .col-content-right-margin{
      margin-right: 50px;
    }
  }

}




/****************************** end basses *************************************/


/**************************** bgs ****************************/

.bg-left{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 50%;
  margin-right: 235px;
}


.bg-right{
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 50%;
  margin-left: 235px;
}


@media screen and (max-width: 1280px) {
  .bg-left{
    margin-right: 18%;
  }
  .bg-right{
    margin-left: 18%;
  }
}
/**************************** end bgs ****************************/