
@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans_regular/PTS55F-webfont.eot');
  src: url('../fonts/ptsans_regular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans_regular/PTS55F-webfont.woff') format('woff'), url('../fonts/ptsans_regular/PTS55F-webfont.ttf') format('truetype'), url('../fonts/ptsans_regular/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/ptsans_bold/PTS75F-webfont.eot');
  src: url('../fonts/ptsans_bold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans_bold/PTS75F-webfont.woff') format('woff'), url('../fonts/ptsans_bold/PTS75F-webfont.ttf') format('truetype'), url('../fonts/ptsans_bold/PTS75F-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ekibastuz';
  src: url('../fonts/Ekibastuz/Ekibastuz-Regular.eot');
  src: url('../fonts/Ekibastuz/Ekibastuz-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Ekibastuz/Ekibastuz-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/Ekibastuz/Ekibastuz-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Ekibastuz/Ekibastuz-Regular.svg#Ekibastuz-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;

  /* IE9 Compat Modes */
  /* Legacy iOS */
}

@font-face {
  font-family: 'EkibastuzBd';
  src: url('../fonts/Ekibastuz_Rg/Ekibastuz-Bold.eot');
  src: url('../fonts/Ekibastuz_Rg/Ekibastuz-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Ekibastuz_Rg/Ekibastuz-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/Ekibastuz_Rg/Ekibastuz-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Ekibastuz_Rg/Ekibastuz-Bold.svg#Ekibastuz-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;

  /* IE9 Compat Modes */
  /* Legacy iOS */
}

@font-face {
  font-family: 'EkibastuzBk';
  src: url('../fonts/Ekibastuz_Bk/Ekibastuz-Black.eot');
  src: url('../fonts/Ekibastuz_Bk/Ekibastuz-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Ekibastuz_Bk/Ekibastuz-Black.woff') format('woff'), /* Modern Browsers */ url('../fonts/Ekibastuz_Bk/Ekibastuz-Black.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Ekibastuz_Bk/Ekibastuz-Black.svg#Ekibastuz-Black') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;

  /* IE9 Compat Modes */
  /* Legacy iOS */
}

@font-face {
  font-family: 'din_alternate';
  src: url('../fonts/din/din_alternate_bold-webfont.eot');
  src: url('../fonts/din/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/din/din_alternate_bold-webfont.woff') format('woff'), url('../fonts/din/din_alternate_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*@font-face {
  font-family: 'Rouble';
  src: url('../fonts/rouble.otf');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'Rouble';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rouble-webfont.woff2') format('woff2'),
  url('../fonts/rouble-webfont.woff') format('woff'),
  url('../fonts/rouble-webfont.ttf') format('truetype'),
  url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
