<div class="global-content">

    <div class="content-rko content-rko-one">
        <div class="b-column">
            <div class="content-wrap column-section-type column-section-type__three-column">

                <h2 class="screen-descr screen-descr_black screen-descr_rko">Как открыть расчетный счет</h2>

                <div class="column one column-section-type_column column-section-type_column__one">
                    <h3>через интернет</h3>

                    <div class="text">
                        <p>Вам понадобится 20 минут для самостоятельной регестрации через интернет.</p>

                        <p>Мы постарались сделать процедуру резервирования и открытия счета максимально простой.</p>
                    </div>

                    <a href="#" class="btn btn_no-ico">зарезервировать номер<br>расчетного счета</a>
                </div>

                <div class="column two column-section-type_column">

                    <h3>по телефону</h3>

                    <div class="text">
                        <p>Если вы не хотите ничего заполнять, просто оставьте номер своего телефона и мы сами перезвоним
                            вам в течение 10 минут, проконсультируем и поможем зарезервировать счет.</p>
                    </div>

                    <div class="btn btn_phone btn_callback_blue js_call"><span>заказать звонок</span>

                        <div class="l-summary-row__book-call">
                            <form action=""><label for="#" class="number-hint">+7</label> <input class="js_telephone"
                                                                                                 type="text">
                            </form>
                        </div>
                        <a href="#" class="call-button"></a>
                    </div>
                </div>

                <div class="column three column-section-type_column">
                    <h3>В офисе</h3>

                    <div class="text">
                        <p>Если вам удобно — вы можете посетить ближайший к вам офис банка, где наши менеджеры помогут
                            выбрать решение для вашего бизнеса и открыть расчетный счет</p>
                    </div>

                    <a href="#" class="btn btn_point">адреса офисов</a>
                </div>
            </div>
        </div>
        <div class="content-rko-one_bottom">

            <div class="b-column">
                <div class="column-section-type column-section-type__three-column">
                    <!--
                    <div class="pdf-documents-block">
                        <span class="column-section-type_column column-section-type_column__one">ознакомьтесь документами по ведению счета:</span>
                        <a href="#" class="btn btn_pdf column-section-type_column">Правила открытия, ведения и закрытия счетов</a>
                        <a href="#" class="btn btn_pdf column-section-type_column">Список документов для открытия счета</a>
                    </div>
                    -->
                    <a href="javascript:void(0)" class="btn-docs-type">
                        <i></i>
                        <span>тарифы и документы</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-rko content-rko-two">
        <div class="b-column clearfix">
            <div class="column-type-wrapper">
                <h2 class="screen-descr screen-descr_black">Тарифные планы</h2>
            </div>
        </div>

        <div class="table-wrap">
            <div class="dark-bg">
            </div>

            <div class="b-column clearfix">
                <div class="column-type-wrapper">
                    <div class="left">
                        <ul class="rate-names">
                            <li class="trow-height">
                                <span>Стартовый Стартовый Стартовый Стартовый Стартовый</span>

                                <div class="tarifs-info">
                                    <div class="popup">
                                        eqwewq qwe qwe qwe qweqwewq qwe qwe qwe qweqwewq qwe qwe qwe qw
                                    </div>

                                </div>
                            </li>
                            <li class="trow-height">
                                <span>Дистанционный Дистанционный Дистанционный</span>

                                <div class="tarifs-info">
                                    <div class="popup">
                                        <ul>
                                            <li>Совершение до 10 платежей в месяц;</li>
                                            <li> Экономия на ежемесячной плате за обслуживание счета;</li>
                                            <li>Плата за ведение счета не взимается,
                                    <span class="small">если с даты регистрации Клиента в налоговой службе до даты уплаты комиссии прошло менее
                                6 месяцев.</span>
                                            </li>

                                            <a href="#" class="btn btn_pdf">Условия тарифа</a>
                                        </ul>
                                    </div>
                                </div>


                            </li>
                            <li class="trow-height">
                                <span>Персональный</span>

                                <div class="tarifs-info">
                                    <div class="popup">
                                        <ul>
                                            <li>Совершение до 10 платежей в месяц;</li>
                                            <li> Экономия на ежемесячной плате за обслуживание счета;</li>
                                            <li>Плата за ведение счета не взимается,
                                    <span class="small">если с даты регистрации Клиента в налоговой службе до даты уплаты комиссии прошло менее
                                6 месяцев.</span>
                                            </li>

                                            <a href="#" class="btn btn_pdf">Условия тарифа</a>
                                        </ul>
                                    </div>
                                </div>


                            </li>
                            <li class="trow-height">
                                <span>Консалтинговый</span>

                                <div class="tarifs-info">
                                    <div class="popup">
                                        <ul>
                                            <li>Совершение до 10 платежей в месяц;</li>
                                            <li> Экономия на ежемесячной плате за обслуживание счета;</li>
                                            <li>Плата за ведение счета не взимается,
                                    <span class="small">если с даты регистрации Клиента в налоговой службе до даты уплаты комиссии прошло менее
                                6 месяцев.</span>
                                            </li>

                                            <a href="#" class="btn btn_pdf">Условия тарифа</a>
                                        </ul>
                                    </div>
                                </div>


                            </li>
                            <li class="trow-height">
                                <span>Платежный</span>

                                <div class="tarifs-info">
                                    <div class="popup">
                                        <ul>
                                            <li>Совершение до 10 платежей в месяц;</li>
                                            <li> Экономия на ежемесячной плате за обслуживание счета;</li>
                                            <li>Плата за ведение счета не взимается,
                                    <span class="small">если с даты регистрации Клиента в налоговой службе до даты уплаты комиссии прошло менее
                                6 месяцев.</span>
                                            </li>

                                            <a href="#" class="btn btn_pdf">Условия тарифа</a>
                                        </ul>
                                    </div>
                                </div>


                            </li>
                        </ul>
                    </div>
                    <div class="right horizontal-only">
                        <div class="table-content">
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Открытие расчетного счета</span></div>
                                <div class="trow-height tcell"><span>500P</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>1200P</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи по интернет-клиенту до 16:00</span></div>
                                <div class="trow-height tcell"><span>25P</span></div>
                                <div class="trow-height tcell"><span>5Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>30Р</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи на бумажном носителе</span></div>
                                <div class="trow-height tcell"><span>50P</span></div>
                                <div class="trow-height tcell"><span>10Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>100Р</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи на бумажном носителе</span></div>
                                <div class="trow-height tcell"><span>10P</span></div>
                                <div class="trow-height tcell"><span>30Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span> — </span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Открытие расчетного счета</span></div>
                                <div class="trow-height tcell"><span>500P</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>1200P</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи по интернет-клиенту до 16:00</span></div>
                                <div class="trow-height tcell"><span>25P</span></div>
                                <div class="trow-height tcell"><span>5Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>30Р</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи на бумажном носителе</span></div>
                                <div class="trow-height tcell"><span>50P</span></div>
                                <div class="trow-height tcell"><span>10Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>100Р</span></div>
                            </div>
                            <div class="tcol-width">
                                <div class="trow-height thead"><span>Платежи на бумажном носителе</span></div>
                                <div class="trow-height tcell"><span>10P</span></div>
                                <div class="trow-height tcell"><span>30Р</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span>Бесплатно</span></div>
                                <div class="trow-height tcell"><span> — </span></div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttonCont">
            <a href="#" class="btn btn_no-ico_white_border">зарезервировать номер расчетного счета</a>
            <a href="javascript:void(0)" class="btn-docs-type">
                <i></i>
                <span>тарифы и документы</span>
            </a>
            <!--
            <a href="javascript: return false;" class="btn_tarifAndDocs" data="one">
                <div class="iWrap"><i></i></div>
                <span class="text">Тарифы и документы</span>
            </a>
            -->
        </div>
    </div>
    <div class="content-rko tarifAndDocs one">
        <div class="b-column">
            <div class="column-type-wrapper">
                <span class="close"></span>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-rko b-video">
        <div class="btn btn_video btn_callback_blue js_call">
            <span>смотреть видео</span>
        </div>
    </div>

    <div class="content-rko content-rko-three">
        <div class="b-column clearfix">
            <div class="content-five-holder clearfix">
                <div class="column-section-type column-section-type__two-column">
                    <div class="screen-left column-section-type_column">
                        <a href="#" class="screen-title screen-title_black screen-title_credits">Персональный менеджер</a>

                        <div class="screen-content">
                            <h2 class="screen-descr screen-descr_black">Персональный менеджер—<br>
                                ваш личный представитель<br>в банке</h2>

                            <ul>
                                <li>Подбор оптимального комплекса услуг</li>
                                <li>Координация работы Вашего предприятия с банком</li>
                                <li>Квалифицированные консультации</li>
                                <li>Решение вопросов напрямую с руководством банка</li>
                                <li>Выполнение поручений</li>
                                <li>Оперативная информация о состоянии банковских счетов предприятия</li>
                                <li> Содействие развитию Вашего бизнеса</li>
                            </ul>

                            <p class="rko-gray">Получите консультацию по телефону или обратитесь <br/>
                                в любой офис банка:</p>

                            <a href="#" class="btn btn_point">адреса офисов</a>

                            <div class="btn btn_phone btn_callback_blue js_call"><span>заказать звонок</span>

                                <div class="l-summary-row__book-call">
                                    <form action=""><label for="#" class="number-hint">+7</label> <input type="text">
                                    </form>
                                </div>
                                <a href="#" class="call-button"></a>
                            </div>

                        </div>
                    </div>
                    <div class="pm-block column-section-type_column column-section-type_column__two">
                        <div class="pm-block-wrap">
                            <p>Услуги персонального менеджера включены в тарифные планы:</p>

                            <h3>«персональный»<br>«консалтинговый»</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-rko content-rko-four">
        <div class="b-column">
            <div class="column-type-wrapper">
                <div class="bg-type1-bg">
                    <div class="bg-type1-main">

                        <a href="#" class="screen-title screen-title_white">Валютный контроль</a>

                        <h2 class="screen-descr screen-descr_white">ПРЕИМУЩЕСТВА ВАЛЮТНОГО<br>КОНТРОЛЯ:</h2>

                        <div class="screen-content screen-content_white">
                            <ul>
                                <li>Консультирование по вопросам валютного контроля.</li>
                                <li>Оперативное составление и оформление документов:</li>
                                <li class="no-bullet"> &#151 паспорта сделок</li>
                                <li class="no-bullet"> &#151 справки о валютных операциях</li>
                                <li class="no-bullet"> &#151 подтверждающие документы и проч.</li>
                                <li>содействие по урегулированию вопросов с государственными ведомствами, консультационная
                                    помощь.
                                </li>
                            </ul>
                            <!--
                            <a href="#" class="btn btn_pdf_white">Список документов для открытия счета</a>
                            -->
                            <div>
                                <a href="javascript:void(0)" class="btn-docs-type btn-docs-type__white">
                                    <i></i>
                                    <span>тарифы и документы</span>
                                </a>
                                <!--
                                <a href="#" class="btn_tarifAndDocs green" data="two">
                                    <div class="iWrap"><i></i></div>
                                    <span class="text">Тарифы и документы</span>
                                </a>
                                -->

                                <!--<a href="#" class="details">узнать подробнее</a>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-rko tarifAndDocs two">
        <div class="b-column">
            <div class="column-type-wrapper">
                <span class="close"></span>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
                <div class="line">
                    <a href="#" class="btn btn_pdf inverse">Правила открытия, ведения и закрытия счетов</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-rko content-rko-five">
        <div class="b-column clearfix">
            <div class="content-five-holder clearfix">
                <div class="column-section-type column-section-type__two-column">
                    <div class="screen-left column-section-type_column">
                        <a href="#" class="screen-title screen-title_black screen-title_credits">Кассовое обслуживание</a>
                        <div class="screen-content">
                            <h2 class="screen-descr screen-descr_black">Кассовое обслуживание<br>
                                включает в себя услуги:</h2>

                            <ul>
                                <li>Прием и зачисление наличных средств на счет клиента.</li>
                                <li>Контроль и выдача наличных средств.</li>
                                <li>Доставка денежной наличности.</li>
                                <li>Подача заявок на получение наличных средств по системе <br/> «Интернет-Клиент».</li>
                                <li>Выдача чековой книжки клиентам банка и консультирование <br/> по вопросам ведения кассовых
                                    операций.
                                </li>
                            </ul>
                            <p>
                                Мы уделяем особое внимание качеству кассового обслуживания, которое для многих клиентов играет
                                важную роль и стараемся индивидуально подходить
                                к потребностям каждого клиента.
                            </p>

                            <a href="javascript:void(0)" class="btn-docs-type">
                                <i></i>
                                <span>тарифы и документы</span>
                            </a>
                            <div class="btn btn_phone btn_callback_blue js_call"><span>оформить заявку</span>
                                <div class="l-summary-row__book-call">
                                    <form action=""><label for="#" class="number-hint">+7</label> <input type="text">
                                    </form>
                                </div>
                                <a href="#" class="call-button"></a>
                            </div>
                            <!--
                            <div class="pdf-documents-block">
                                <a href="#" class="btn btn_pdf">Требованиями к заполнению чеков</a>
                                <a href="#" class="btn btn_pdf">Образец заполнения чека</a>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="pm-block pm-kassa column-section-type_column column-section-type_column__two">
                        <div class="pm-block-wrap ">
                            <h3>резервирование<br>расчетного<br>счета</h3>
                            <!--<a href="#" class="btn btn_black">оформить заявку</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-rko content-rko-six">
        <div class="b-column">
            <div class="content-three-wrap">
                <div class="column-section-type column-section-type__two-column">
                    <div class="screen-left screen-left_big column-section-type_column">
                        <span href="#" class="screen-title">БЕЗНАЛИЧНЫЕ РАСЧЕТЫ</span>
                        <div class="screen-content">
                            <h2 class="screen-descr screen-descr_black">Безналичные платежи за 10 минут</h2>

                            <p>Мы ценим Ваше время, поэтому гарантируем оперативное проведение безналичных платежей между вами и
                                вашими контрагентами, которые обслуживаются внутри банковской Группы "Лайф". Платежи внутри
                                Группы "Лайф" проводятся в режиме 24 часа 7 дней в неделю всего за 10 минут.</p>

                            <h3 class="content-innter-header content-innter-header_noline">МЫ ПРЕДЛАГАЕМ:</h3>
                            <ul>
                                <li>Осуществление внутри региональных и межрегиональных безналичных расчетов.</li>
                                <li>Осуществление платежей по системе БЭСП</li>
                                <li>Аккредитивные расчеты.</li>
                                <li>Отправку документов, выставленных на инкассо, по территории Российской Федерации и странам
                                    СНГ.
                                </li>
                                <li>Выдачу справок по запросам клиентов;</li>

                                <li>Направление запросов или розыск пропавших сумм</li>
                            </ul>

                        </div>
                        <a href="javascript:void(0)" class="btn-docs-type">
                            <i></i>
                            <span>тарифы и документы</span>
                        </a>
                        <!--
                        <div class="pdf-documents-block">
                            <a href="#" class="btn btn_pdf">Образец заполнения<br>п/п на ЮЛ</a>
                            <a href="#" class="btn btn_pdf">Образец заполнения <br> п/п в налоговые органы</a>
                            <a href="#" class="btn btn_pdf">Памятка<br>по заполнению п/п</a>
                        </div>
                        -->
                    </div>
                    <div class="content-three-bg column-section-type_column column-section-type_column__two">
                        <div class="cwrap">
                            <span class="ico-list"></span>

                            <h2>Оформление<br>
                                платежного<br>
                                поручения</h2>

                            <p>Наши сотрудники быстро <br/> и правильно заполнят <br/> за вас платежное поручение.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>