<div class="global-content token-page-content">
    <div class="site-section grey-line-bottom">

        <div class="bg-left bg-token-1">

        </div>


        <div class="b-column column-section-type">

            <div href="#" class="screen-title ">токены</div>


            <div class="grid-level">
                <div class="grid-col grid-1I3">

                    <div class="col-content-right-margin">
                        <div class="screen-content">
                            <h2 class="screen-descr screen-descr_black">Боитесь,
                                <br>
                                что вместе <br>
                                с ноутбуком <br>
                                у вас украдут ключи ЭП?</h2>

                            <p>
                                Воспользуйтесь <b>USB-токеном</b> — защищенным USB-брелоком
                                для хранения ключей ЭП. </p>


                            <p>
                                Дополнительная преграда для злоумышленника: <br>
                                <b>Токен PASS</b> — устройство для генерации одноразовых паролей для подтверждения
                                операций
                                посчету.
                            </p>
                        </div>

                    </div>


                </div>

                <div class="grid-col grid-2I3">

                    <h2 class="screen-descr screen-descr_black">Защита от неприятных <br>
                        случайностей</h2>

                    <div class="grid-level token-descr">
                        <div class="grid-col grid-1I3">
                            <div class="token-gost-ico"></div>
                            <h3 class="line-after">Токен ГОСТ </h3>

                            <p>USB-ключ для обеспечения надежной защиты электронной подписи.</p>

                            <p>Секретный ключ ЭП хранится внутри устройства и не покидает его.</p>

                            <p>Хищение секретных ключей с токена невозможно!</p>

                            <p>Токен ГОСТ сертифицирован ФСБ РФ.</p>


                        </div>
                        <div class="grid-col grid-1I3">
                            <div class="token-pass-ico"></div>
                            <h3 class="line-after">Токен PASS </h3>

                            <p>Брелок с генератором одноразовых паролей для подтверждения операций по счету, является
                                дополнительным паролем для входа в систему Интернет-Клиент.</p>

                            <p>Вам не нужно устанавливать лишнее клиентское программное обеспечение и подключать
                                устройство к компьютеру.</p>

                            <p>В случае перехвата данного пароля его нельзя будет использовать повторно!</p>


                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>


    <div class="site-section grey-line-bottom">
        <div class="b-column column-section-type">
            <h2 class="screen-descr screen-descr_black">Как это работает</h2>

            <h3 class="content-innter-header content-innter-header-token">Токен ГОСТ</h3>

            <div class="grid-level">
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-gost-descr-ico1 ico"></div>

                    <h3 class="line-after"><span>1.</span> зайти на сайт <br>
                        интернет-клиента</h3>

                    <div class="text">
                        <p>При подключении устройства к USB-порту компьютера ключ ЭП генерируется на токен и хранится
                            внутри токена.</p>
                    </div>

                </div>
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-gost-descr-ico2 ico"></div>

                    <h3 class="line-after"><span>2.</span>подтвердить вход <br>
                        одноразовым паролем</h3>

                    <div class="text">
                        <p>Работа в Интернет-Клиенте только через одноразовые пароли.</p>
                    </div>
                </div>
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-gost-descr-ico3 ico"></div>

                    <h3 class="line-after"><span>3.</span>авторизация <br>
                        прошла успешно</h3>

                    <div class="text">
                        <p>При нажатии на кнопку «Подписать» в системе ИК документ подписывается внутри токена, и в
                            систему ИК попадает уже подписанный документ.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section no-padding-top">
        <div class="b-column column-section-type">
            <h3 class="content-innter-header content-innter-header-token">Токен PASS</h3>

            <div class="grid-level">
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-pass-descr-ico1 ico"></div>

                    <h3><span>4.</span> создать платежное <br>
                        поручение в интернет- <br>
                        клиенте</h3>

                    <div class="text">
                        <p>При входе в систему ИК вводится пароль + одноразовый пароль, который генерируется устройством
                            Токен PASS на ЖК-дисплей при нажатии на кнопку.</p>
                    </div>

                </div>
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-pass-descr-ico2 ico"></div>

                    <h3><span>5.</span>подтвердить поручение <br>
                        одноразовым паролем</h3>

                    <div class="text">
                        <p>При отправлении любого документа в банк в системе ИК дополнительно запрашивается одноразовый
                            пароль, который генерируется устройством Токен PASS.</p>
                    </div>
                </div>
                <div class="grid-col grid-1I3 token-descr-col-style">

                    <div class="token-pass-descr-ico3 ico"></div>

                    <h3><span>6.</span>отправить платеж <br>
                        в банк</h3>

                    <div class="text">
                        <p>Работа в Интернет-Клиенте только через одноразовые пароли.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="site-section token-details clearfix">


        <div class="b-column column-section-type">


            <h2 class="screen-descr screen-descr_black screen-descr_eight">Безопасность работы без токенов</h2>

            <div class="grid-level">
                <div class="screen-content">
                    <div class="grid-col grid-1I2">
                        <div class="token-details_left">
                            <ul class="list-blue">
                                <li>
                                    Даже если вы будете пользоваться токенами, ваши данные останутся надежно
                                    защищенными.
                                </li>
                                <li>
                                    При соблюдении Вами необходимых мер безопасности, несанкционированный доступ к
                                    данным
                                    невозможен.
                                </li>
                                <li>
                                    В системе Интернет-Клиент нашего банка для защиты ваших данных используется
                                    программная
                                    библиотека защиты информации "Агава".
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-col grid-1I2">
                        <div class="token-details_right">
                            <h3>
                                <span>«Агава»</span>
                                Программная библиотека защиты информации
                            </h3>

                            <p>
                                ПБЗИ "Агава" предназначена для встраивания в системы, в которых необходимо использование
                                криптографических функций в соответствии с ГОСТ 28147-89, ГОСТ Р 34.10-94, ГОСТ Р
                                34.10-2001, ГОСТ Р 34.11-94 (шифрование, расшифрование, выработка и проверка ЭП,
                                выработка
                                хэш функции и т.д.).
                            </p>

                            <p>
                                "Агава" соответствует требованиям к средствам криптографической защиты класса КС1, что
                                удостоверяется сертификатом ФАПСИ СФ/114-0641 от 23 июня 2003 г.
                            </p>
                            <a href="http://www.alpha.ru">http://www.alpha.ru</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>