<div class="global-content ">

    <div class="services-block services-block-one">

        <div class="b-column column-section-type">
            <a href="#" class="screen-title screen-title-white">клуб лайф.бизнес</a>
            <div class="services-block-one-wrapper">
                <div class="text_align_left">
                    <div class="services-block-one-desc">
                        <div class="title">
                            мы поможем вам <br>
                            эффективно управлять <br>
                            вашим бинесом
                        </div>
                        <div class="text">
                            Вы ведете свой бизнес и каждый день сталкиваетесь с<br>
                            затруднениями, которые отнимают Ваше время?<br>
                            За более чем 20 лет работы мы накопили много знаний и<br>
                            опыта в финансовой сфере.<br>
                            <br>
                            Мы создали клуб Лайф.Бизнес, чтобы делиться с Вами <br>
                            профессиональными знаниями и секретами и помочь Вам <Br>
                            эффективно управлять Вашим бизнесом!

                        </div>
                    </div>
                    <div class="price-block-one">
                        <span class="name">лайф.бизнес<br>премиум</span>
                        <span class="time">в месяц</span>
                        <a href="javascript: return false;" class="price-more-button price-one">Подробнее</a>
                    </div>
                    <div class="price-block-two">
                        <span class="name">лайф.бизнес<br>классик</span>
                        <span class="time">в месяц</span>
                        <a href="javascript: return false;" class="price-more-button price-two">Подробнее</a>
                    </div>
                    <span class="services-block-one-list-title">Ваши новые возможности:</span>
                    <div class="services-block-one-list">
                        <div class="services-block-one-list-block">
                            <div class="title">деловые контакты </div>
                            <div class="desc">
                                Новые деловые контакты с более <br>
                                чем 100 тыс. предпринимателей  - <br>
                                новые возможности вашего бизнеса.
                            </div>
                        </div>
                        <div class="services-block-one-list-block">
                            <div class="title">Сервис LifePAD <br>и  мобильные приложения </div>
                            <div class="desc">
                                Оптимизируют работу и избавят от <br>рутины.
                            </div>
                        </div>
                        <div class="services-block-one-list-block">
                            <div class="title">Персональный менеджер </div>
                            <div class="desc">
                                Незаменимый помощник в <br>
                                вопросах построения вашего <br>
                                бизнеса и взаимодействия с <Br>
                                банком.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <span class="services-block-one-footer-text">Это только часть преимуществ, которые получают участники клуба.</span>

                <a href="javascript: return false;" class="services-block-one-footer-link">Узнать подробнее</a>


            </div>
        </div>
    </div>

    <div class="services-block services-block-two">
        <div class="b-column column-section-type">

            <div class="navigation services-nav">
                <a href="javascript: return false;" class="prev"></a>
                <a href="javascript: return false;" class="next"></a>
            </div>
            <a href="#" class="screen-title ">Мобильные сервисы для вашего бизнеса</a>
            <div class="service-wrapper service-wrapper-mobile">
                <div class="service-bar">
                    <div class="block">
                        <img src="images/block-two-icon-1.png">
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Функция проведения платежей;</li>
                            <li>Информация по остатку на счетах;</li>
                            <li>Заказ и просмотр выписок; </li>
                            <li>Просмотр состояния платежных <br>документов;</li>
                            <li>Контакты технической поддержки;</li>
                            <li>Адреса офисов.</li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-2.png">
                        <span class="title">фотоплатежи</span>
                        <span class="desc">Некогда заполнять платежки <br>и делать переводы?</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li><span class="num">1. </span><span class="num-text">Откройте приложение «ФотоПлатежи для бизнеса»;</span></li>
                            <li><span class="num">2. </span><span class="num-text">Сфотографируйте или загрузите скан счета; </span></li>
                            <li><span class="num">3. </span><span class="num-text">Отправьте заявку в банк;</span></li>
                            <li><span class="num">4. </span><span class="num-text">Остальное мы сделаем за вас!</span></li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-3.png">
                        <span class="title">Lifepad</span>
                        <span class="desc">Прием платежей по банковским <br>картам, а также специальный<br>набор мобильных сервисов.<br></span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Контроль доходов и расходов  </li>
                            <li>в интернет-банке;            </li>
                            <li>Ведение личной бухгалтерии   </li>
                            <li>и планирование бюджета;      </li>
                            <li>Оплата коммунальных услуг;   </li>
                            <li>Мобильный эквайринг LifePay; </li>
                            <li>И многое-многое другое       </li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-1.png">
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Функция проведения платежей;</li>
                            <li>Информация по остатку на счетах;</li>
                            <li>Заказ и просмотр выписок; </li>
                            <li>Просмотр состояния платежных <br>документов;</li>
                            <li>Контакты технической поддержки;</li>
                            <li>Адреса офисов.</li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-1.png">
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Функция проведения платежей;</li>
                            <li>Информация по остатку на счетах;</li>
                            <li>Заказ и просмотр выписок; </li>
                            <li>Просмотр состояния платежных <br>документов;</li>
                            <li>Контакты технической поддержки;</li>
                            <li>Адреса офисов.</li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-1.png">
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Функция проведения платежей;</li>
                            <li>Информация по остатку на счетах;</li>
                            <li>Заказ и просмотр выписок; </li>
                            <li>Просмотр состояния платежных <br>документов;</li>
                            <li>Контакты технической поддержки;</li>
                            <li>Адреса офисов.</li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block">
                        <img src="images/block-two-icon-1.png">
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <div class="divider"></div>
                        <ul class="text">
                            <li>Функция проведения платежей;</li>
                            <li>Информация по остатку на счетах;</li>
                            <li>Заказ и просмотр выписок; </li>
                            <li>Просмотр состояния платежных <br>документов;</li>
                            <li>Контакты технической поддержки;</li>
                            <li>Адреса офисов.</li>
                        </ul>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="services-block services-block-three">
        <div class="services-block-three-bg">

        </div>
        <div class="b-column column-section-type">
            <div class="top-of-column">
                <a href="#" class="screen-title ">Бесплатная регистрация вашего бизнеса </a>
                <div class="top-of-column-wrapper">
                    <span class="title">Полный пакет документов <br>для регистрации вашей компании</span>
                    <div class="services-block-three-list">
                        <div class="services-block-three-list-block">
                            <span class="img-block"></span>
                            <span class="title-block">Быстро</span>
                            <span class="desc-block">11 минут на весь <br>пакет документов</span>
                        </div>
                        <div class="services-block-three-list-block">
                            <span class="img-block"></span>
                            <span class="title-block">Просто</span>
                            <span class="desc-block">3 простых шага<br>на онлайн оформление</span>
                        </div>
                        <div class="services-block-three-list-block">
                            <span class="img-block"></span>
                            <span class="title-block">Бесплатно</span>
                            <span class="desc-block">Не нужно платить<br>сторонним компаниям</span>
                        </div>
                        <div class="orange-line"></div>
                    </div>
                    <div class="divider"></div>
                    <span class="bottom-text">Мы создали специальный портал, где вы самостоятельно сможете подготовить<br> полный пакет регистрационных документов.</span>
                    <a href="javascript: return false;" class="bottom-btn">Подготовить документы</a>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="services-block services-block-three services-block-three-second">
        <div class="b-column column-section-type">
            <div class="bottom-of-column">
                <a href="#" class="screen-title second">Резервирование счета</a>
                <div class="bottom-of-column-wrapper">
				<span class="bottom-of-column-img">
					<span>
						резервирование<br>
						расчетного<br>
						счета
					</span>
				</span>
                    <span class="bottom-of-column-title">зарезервируйте номер счета <br>за 20 минут!</span>
				<span class="bottom-of-column-text">
					Для получения номера расчетного счета вам нужно выбрать банк и <Br>
					принести комплект документов вашей фирмы!<br>
					<Br>
					Для того, чтобы вы уже сейчас начали работать – мы предлагаем вам <br>
					зарезервировать номер счета за 20 минут, а документы в банк можно <br>
					будет принести позднее!
				</span>
                    <a href="javascript: return false;" class="bottom-btn">Зарезервировать счет</a>
                    <a href="javascript: return false;" class="bottom-btn green-btn">Как выбрать банк?</a>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="services-block services-block-four">
        <div class="b-column column-section-type">
            <div class="navigation services-nav-two">
                <a href="javascript: return false;" class="prev"></a>
                <a href="javascript: return false;" class="next"></a>
            </div>
            <a href="#" class="screen-title screen-title-white">сервисы</a>
            <div class="service-wrapper services-wrapper">
                <div class="service-bar">
                    <div class="block block_one">
					<span class="tip-block">
						Нужен выгодный <br>
						и юридически <br>
						грамотный договор?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_two">
					<span class="tip-block">
						Не хотите разбираться <br>
						в тонкостях<br>
						налогообложения?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_three">
					<span class="tip-block">
						Хотите знать, не рискует <br>
						ли ваш бизнес?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_one">
					<span class="tip-block">
						Нужен выгодный <br>
						и юридически <br>
						грамотный договор?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_two">
					<span class="tip-block">
						Не хотите разбираться <br>
						в тонкостях<br>
						налогообложения?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_three">
					<span class="tip-block">
						Хотите знать, не рискует <br>
						ли ваш бизнес?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_one">
					<span class="tip-block">
						Нужен выгодный <br>
						и юридически <br>
						грамотный договор?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_two">
					<span class="tip-block">
						Не хотите разбираться <br>
						в тонкостях<br>
						налогообложения?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                    <div class="block block_three">
					<span class="tip-block">
						Хотите знать, не рискует <br>
						ли ваш бизнес?
					</span>
                        <span class="sub-title">Сервис</span>
                        <span class="title">мобильный банк</span>
                        <span class="desc">Управление вашими счетами <br>из любой точки мира</span>
                        <a href="javascript: return false" class="more-button">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>