<div class="global-content">

    <div class="green-bg ">
        <div class="b-column column-section-type clearfix">
            <div class="screen-left">
                <span class="screen-title">Общая информация</span>

                <h2 class="screen-descr">быстрота и комфорт - одно<br>из наших главных правил</h2>

                <div class="screen-content">
                    <p>Вашему бизнесу необходим оптимальный расчетный банк? Мы <br/> гарантируем вам индивидуальный
                        подход, скорость и
                        удобство обслуживания!</p>
                    <b>Мы предлагаем:</b>
                    <ul>
                        <li>Расчетно-кассовое обслуживание</li>
                        <li>Финансирование вашего бизнеса</li>
                        <li>Классические банковские услуги</li>
                    </ul>
                    <p>В зависимости от вида деятельности и количества ежемесячных финансовых операций, вы можете
                        выбрать
                        наиболее
                        оптимальный тариф на расчетно-кассовое обслуживание, набор дополнительных услуг и программу
                        финансовой
                        поддержки бизнеса.</p>
                </div>
            </div>

            <div class="screen-right">
                <div class="screen-one-services content-one-clock">
                    <h2>резервирование<br>расчетного счета<br>за 20 минут</h2>
                    <a href="#" class="btn with-border">Подать заявку</a>
                </div>
                <div class="screen-one-services content-one-docs">
                    <h2>документы<br>для регистрации<br>бизнеса за 11 минут</h2>
                    <a href="#" class="btn with-border">оформить документы</a>
                </div>
                <div class="screen-one-services content-one-call">
                    <h2>Мы можем сами перезвонить<br>Вам и проконсультировать<br>по всем вопросам</h2>

                    <div class="btn js_call with-border"><span>заказать звонок</span>

                        <div class="l-summary-row__book-call">
                            <form action=""><label for="#" class="number-hint">+7</label> <input type="text">
                            </form>
                        </div>
                        <a href="#" class="call-button "></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-type1 ">
        <div class="b-column column-section-type ">
            <div class="bg-type1-bg">

                <div class="bg-type1-main ">

                    <a href="#" class="screen-title screen-title_white">рассчетно-кассовое обслуживание</a>

                    <h2 class="screen-descr screen-descr_white">Профессиональное расчетно-<br>кассовое обслуживание<br>вашего
                        бизнеса!</h2>

                    <div class="screen-content screen-content_white">
                        <p class="screen-imp">Мы уже все продумали, чтобы Вам было удобно!<br>Открывая расчетный счет вы
                            получите комплексное решение:
                        </p>
                        <ul>
                            <li>Резервирование расчетного счета за 20 минут;</li>
                            <li>Обслуживание персональным менеджером;</li>
                            <li>Один из лучших и безопасных Интернет банков на рынке<br>России (ТОП-З в рейтинге по
                                эффективности и
                                удобству);
                            </li>
                            <li>Бесплатные круглосуточные переводы между клиентами<br>банков Группы Лайф по всей России;
                            </li>
                            <li>Экономия до 20% от стоимости ведения счета при выборе<br>авансовой формы оплаты;</li>
                            <li>Инновационные решения Life-Pay, LifePAD и MyApps.</li>
                        </ul>
                        <a href="#" class="details mb-70 ">узнать подробнее</a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="content-slider  content-blue_green ">
        <div class="b-column column-section-type b-column_slider">
            <a href="#" class="screen-title screen-title_white">кредиты и овердрафты</a>

            <a href="javascript:void(0)" class="slider-nav slider-nav_left"></a>
            <a href="javascript:void(0)" class="slider-nav slider-nav_right"></a>

            <div class="slider">
                <ul class="slider-container">
                    <li class="slider-item">

                        <div class="slider-item-wrap">
                            <h3 class="slider-header">до <span>200</span> тыс. руб.<strong>Микрофинансирование</strong>
                            </h3>

                            <p class="slider-content">У вас небольшой семейный бизнес? Вам нужны средства на закупку
                                товара, ремонт оборудования или
                                личные нужды?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>5</span> млн. руб.<strong>экспресс-кредиты</strong></h3>

                            <p class="slider-content">Планируете расширять свое дело?<br>Вам нужны средства в оборот,
                                которые можно получить быстро?
                            </p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>25</span> млн. руб.<strong>Коммерческие кредиты</strong>
                            </h3>

                            <p class="slider-content">У вашего предприятия высокие ежемесячные обороты, но нерегулярные
                                поступления средств? Или вы
                                работаете преимущественно по разовым контрактам и под заказ?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                </ul>

                <ul class="slider-container">
                    <li class="slider-item">

                        <div class="slider-item-wrap">
                            <h3 class="slider-header">до <span>200</span> тыс. руб.<strong>Микрофинансирование</strong>
                            </h3>

                            <p class="slider-content">У вас небольшой семейный бизнес? Вам нужны средства на закупку
                                товара, ремонт оборудования или
                                личные нужды?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>5</span> млн. руб.<strong>экспресс-кредиты</strong></h3>

                            <p class="slider-content">Планируете расширять свое дело?<br>Вам нужны средства в оборот,
                                которые можно получить быстро?
                            </p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>25</span> млн. руб.<strong>Коммерческие кредиты</strong>
                            </h3>

                            <p class="slider-content">У вашего предприятия высокие ежемесячные обороты, но нерегулярные
                                поступления средств? Или вы
                                работаете преимущественно по разовым контрактам и под заказ?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                </ul>

                <ul class="slider-container">
                    <li class="slider-item">

                        <div class="slider-item-wrap">
                            <h3 class="slider-header">до <span>200</span> тыс. руб.<strong>Микрофинансирование</strong>
                            </h3>

                            <p class="slider-content">У вас небольшой семейный бизнес? Вам нужны средства на закупку
                                товара, ремонт оборудования или
                                личные нужды?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>5</span> млн. руб.<strong>экспресс-кредиты</strong></h3>

                            <p class="slider-content">Планируете расширять свое дело?<br>Вам нужны средства в оборот,
                                которые можно получить быстро?
                            </p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <div class="slider-item-wrap">

                            <h3 class="slider-header">до <span>25</span> млн. руб.<strong>Коммерческие кредиты</strong>
                            </h3>

                            <p class="slider-content">У вашего предприятия высокие ежемесячные обороты, но нерегулярные
                                поступления средств? Или вы
                                работаете преимущественно по разовым контрактам и под заказ?</p>
                            <a href="#" class="btn btn_white">Получить кредит</a>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="details_center">
                <a href="#" class="details mt-25 mb-70">Посмотреть все кредиты</a>
            </div>

        </div>
    </div>

    <div class="content-three  one ">
        <div class="b-column column-section-type">
            <div class="content-three-wrap ">
                <a href="#" class="screen-title screen-title_black">дистанционное обслуживание</a>

                <h2 class="screen-descr screen-descr_black">управление вашими счетами — <br/>
                    просто и безопасно</h2>

                <div class="content-three-col content-three-col_left">
                    <h3>интернет-клиент</h3>

                    <p>Полный цикл в работе с документами;</p>

                    <p>Управление и контроль остатков<br>на счетах вашей организации;</p>

                    <p>Заказ и просмотр выписки с отметкой банка по выбранному счету;</p>

                    <p>Просмотр документов картотеки;</p>

                    <p>Информация по кредитам, вклюючая овердрафт;</p>

                    <p>Система смс и электорнной почты.</p>
                    <a href="#" class="btn btn_lock">войти в интернет-клиент</a>
                </div>
                <div class="content-three-col offset-left-15 content-three-col_right">
                    <h3>мобильный банк</h3>

                    <p>Информация по счетам вашей организации;</p>

                    <p>Заказ и просмотр выписки по счету;</p>

                    <p>Простор состояния рублевых<br>платежных документов;</p>

                    <p>Адреса и телефоны по обслуживанию малого и среднего бизнеса;</p>

                    <p>Электронная подпись платежа.</p>
                    <a href="#" class="appstore"></a>
                    <a href="#" class="googleplay"></a>
                </div>

                <div>
                    <a href="#" class="details details_black mt-50 mb-70">узнать подробнее</a>
                </div>

                <div class="content-three-bg"></div>
            </div>

        </div>
    </div>

    <div class="content-four ">
        <div class="b-column column-section-type">
            <div class="content-four-bg">

                <div class="content-four-main ">

                    <a href="#" class="screen-title screen-title_white">Депозиты для бизнеса</a>

                    <h2 class="screen-descr screen-descr_white">Разместите денежные средства <br/>
                        на банковском депозите <br/>
                        и получайте прибыль!
                    </h2>

                    <div class="screen-content screen-content_white">
                        <ul>
                            <li>Открытие депозитного счета в рублях, долларах США <br/> и евро – бесплатно;</li>
                            <li>Наличие расчетного счета в банке Финансовой Группы <br/> Лайф необязательно;</li>
                            <li>Небольшой список документов;</li>
                            <li>Возможность размещения депозитного вклада
                                без присутствия руководителя.
                            </li>
                        </ul>
                        <a href="#" class="details mb-70 ">узнать подробнее</a>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="content-five ">
        <div class="b-column column-section-type clearfix">
            <div class="content-five-holder clearfix">
                <div class="screen-left">
                    <a href="#" class="screen-title screen-title_black screen-title_credits">Аккредитивы</a>


                    <div class="screen-content">

                        <ul>
                            <li>Вы являетесь участником ВЭД?</li>
                            <li>Вы продаете товар и не уверены в платежеспособности вашего покупателя?</li>
                            <li>Вы покупаете товар и хотите отсрочить оплату до момента получения товара или оказания
                                услуги?
                            </li>
                            <li>Вы не можете договориться о порядке и сроках оплаты с вашим партнером?</li>
                        </ul>
                        <h3 class="content-innter-header">Аккредитив позволит вам решить сразу <br>
                            несколько задач:</h3>
                        <ul>
                            <li>минимизировать юридические риски, связанные с незнанием международного
                                законодательства;
                            </li>
                            <li>застраховаться от недобросовестных партнеров;</li>
                            <li>может служить инструментом кредитования.</li>
                        </ul>

                    </div>
                </div>

                <div class="screen-credits">
                    <div class="screen-credits-wrap">
                        <h3>ВОСПОЛЬЗУЙТЕСЬ АККРЕДИТИВОМ</h3>

                        <p>и Банк выступит в качестве независимого гаранта
                            осуществления платежа!</p>
                    </div>
                </div>
            </div>

            <a href="#" class="details details_black mb-70 ">узнать подробнее</a>


        </div>

    </div>

    <div class="content-three  two content-three_bd">
        <div class="b-column column-section-type">
            <div class="content-three-wrap ">
                <div class="screen-left screen-left_big">
                    <a href="#" class="screen-title screen-title_black">БАНКОВСКАЯ ГАРАНТИЯ</a>

                    <h2 class="screen-descr screen-descr_black">ВАМ НУЖНО ОБЕСПЕЧИТЬ НАДЕЖНЫЕ РАСЧЕТЫ ПРИ ПРОВЕДЕНИИ
                        ТОРГОВЫХ СДЕЛОК?</h2>

                    <div class="screen-content">
                        <p>Банковская гарантия предполагает, что при составлении контракта или оформлении иной
                            двусторонней сделки
                            между вашей компанией и вашим контрагентом, в качестве обеспечения рисков сделки вступают
                            обязательства
                            банка.</p>

                        <h3 class="content-innter-header">МЫ ПРЕДЛАГАЕМ:</h3>
                        <ul>
                            <li>участникам тендеров по гос. закупкам – тендерные гарантии
                                и&nbsp;гарантии исполнения контракта;
                            </li>
                            <li>контрагентам крупных поставщиков – гарантии платежа;</li>
                            <li>контрагентам, только начинающим сотрудничать друг с другом – гарантии возврата
                                авансового платежа и
                                гарантии платежа;
                            </li>
                            <li>участникам ВЭД – гарантии исполнения контракта и гарантии платежа</li>
                        </ul>
                        <a href="#" class="details details_black mb-70 ">узнать подробнее</a>
                    </div>
                </div>

                <div class="content-three-bg content-three-bg_guarantee"></div>
            </div>

        </div>
    </div>

    <div class="content-six ">
        <div class="b-column column-section-type">
            <a href="#" class="screen-title screen-title_black">торговый и мобильный эквайринг</a>

            <div class="clearfix">
                <div class="content-three-col content-three-col_torg">
                    <h3 class="content-header_big">ТОРГОВЫЙ <br/>
                        ЭКВАЙРИНГ</h3>

                    <p>Полный цикл в работе с документами;</p>

                    <p>Повышение конкурентноспособности бизнеса</p>

                    <p>Увеличение торгового оборота;</p>

                    <p>Уменьшение риска от приема наличных денег;</p>

                    <p>Снижение расходов за инкасирование выручки;</p>

                    <p>Оптимизация учета и контроль ваших продаж.</p>

                </div>
                <div class="content-three-col offset-left-15 content-three-col_mob">
                    <h3 class="content-header_big">МОБИЛЬНЫЙ <br/>
                        ЭКВАЙРИНГ LIFEPAY</h3>

                    <p>Подключение к LifePay в 3 простых шага;</p>

                    <p>Бесплатный кардридер и приложение;</p>

                    <p>Безопасность операций соответствует
                        требованиям мирового стандарта PCI DSS;</p>

                    <p>Комиссия за транзакцию 2,7 %;</p>

                    <p>Никаких скрытых комиссий;</p>

                    <p>Онлайн статистика по всем платежам;</p>

                    <p>Размещение рекламы на чеке.</p>


                </div>
                <div class="content-three-col content-eq">

                    <div class="eq-fast"></div>
                    <div class="eq-simple"></div>
                    <div class="eq-secure"></div>
                    <a href="#" class="btn btn_blue">подключить эквайринг</a>

                </div>

            </div>
            <div class="details_center">
                <a href="#" class="details details_black mt-25 mb-70">Посмотреть все кредиты</a>
            </div>

        </div>
    </div>

    <div class="content-slider  content-slider_green ">
        <div class="b-column column-section-type b-column_slider">
            <a href="#" class="screen-title screen-title_white">кредиты и овердрафты</a>

            <a href="javascript:void(0)" class="slider-nav slider-nav_left slider-nav_green"></a>
            <a href="javascript:void(0)" class="slider-nav slider-nav_right slider-nav_green"></a>

            <div class="slider">
                <ul class="slider-container">
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_defence"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">

                                <h3 class="slider-header slider-header_green"><strong>защита при выездах <br/>
                                    за рубеж</strong></h3>

                                <p class="slider-content">Территория покрытия - весь Мир.
                                    <span></span>Страховка подходит для получения визы. Наполнение и цена страхового
                                    полиса разработаны специально
                                    для клиентов Пробизнесбанка.</p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_estate"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">

                                <h3 class="slider-header slider-header_green"><strong>недвижимость</strong></h3>

                                <p class="slider-content">Для того, чтобы вы чувствовали себя спокойно мы рады
                                    предложить Вам различные варианты защиты Вашей квартиры или дома.</p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_live"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">


                                <h3 class="slider-header slider-header_green"><strong> ЖИЗНЬ И ЗДОРОВЬЕ</strong></h3>

                                <p class="slider-content">Каждый из нас желает безопасности себе и своим близким, но не
                                    многие способны ее обеспечить.
                                    <span></span>

                                    Теперь вы можете застраховать от несчастного случая себя и всех членов своей семьи
                                    одновременно!</p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                </ul>

                <ul class="slider-container">
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_defence"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">

                                <h3 class="slider-header slider-header_green"><strong>защита при выездах <br/>
                                    за рубеж</strong></h3>

                                <p class="slider-content">Территория покрытия - весь Мир.
                                    <span></span>Страховка подходит для получения визы. Наполнение и цена страхового
                                    полиса разработаны специально
                                    для клиентов Пробизнесбанка.</p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_biz"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">

                                <h3 class="slider-header slider-header_green"><strong> защита при кредитовании бизнеса
                                </strong></h3>

                                <p class="slider-content">Для того, чтобы вы чувствовали себя спокойно мы рады
                                    предложить Вам различные варианты защиты Вашей квартиры или дома.</p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                    <li class="slider-item">
                        <span class="slider-green-ico slider-green-ico_corp"></span>

                        <div class="slider-item-wrap">
                            <div class="content-green-wrap">


                                <h3 class="slider-header slider-header_green"><strong>Защита
                                    корпоративной карты</strong></h3>

                                <p class="slider-content">Страхование рисков утраты карты;
                                    <span></span>

                                    Риск хищения у держателя карты наличных денежных средств;
                                    <span></span>

                                    Несанкционированное списание денежных средств
                                    со счета карты.

                                </p>
                            </div>
                            <a href="#" class="btn btn_green with-border">оформить страховку</a>
                        </div>

                    </li>
                </ul>


            </div>
            <div class="details_center">
                <a href="#" class="details mt-25 mb-70">Все страховые продукты</a>
            </div>

        </div>
    </div>

    <div class="content-block-border">
        <div class="column-section-type b-column">
            <div class="">
                <div class="l-screen  l-screen-corpcard">
                    <span class="l-screen-title">корпоративная карта</span>

                    <h2>организация и контроль ваших<br>сотрудников</h2>

                    <div class="l-screen-corpcard-col l-screen-corpcard__left l-screen-content">
                        <ul>
                            <li>Оплата услуг, связанных с основной деятельностью компании;</li>
                            <li>Закупка товара, рассчеты с<br>поставщиками;</li>
                            <li>Аренда авто, оплата счетов в<br>ресторанах;</li>
                            <li>Получение суточных;</li>
                            <li>Покупка билетов и оплата гостиниц;</li>
                            <li>Покупка товаров и офисного<br>оборудования.</li>
                        </ul>
                        <span class="visamster-card-icon"></span>
                    </div>
                    <div class="l-screen-corpcard-col l-screen-corpcard__right">
                        <div class="l-screen-corpcard__right-row l-screen-corpcard__right-row__ppass">
                            Priority Pass — доступ в vip ложи аэропортов по всему миру
                        </div>
                        <div class="l-screen-corpcard__right-row l-screen-corpcard__right-row__bonus">
                            Участие в бонусных программах скидка при оплате гостиниц авиабилетов такси
                        </div>
                    </div>

                    <div class="details_center">
                        <a href="#" class="details details_black mt-25 mb-70">Узнать подробности</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="content-eight ">

        <div class="b-column column-section-type ">
            <div class=" clearfix">
                <div class="content-eight_left">
                    <div class="content-eight_wrap ">
                        <a href="#" class="screen-title screen-title_black">зарплатный проект</a>

                        <div class="content-eight-icons">
                            <div class="bills">
                                <span>24/7</span>

                                <p>доступ к счетам</p>
                            </div>

                            <div class="bankomat">
                                <span>25 000</span>

                                <p>банкоматов в россии</p>
                            </div>
                            <div class="kredit">
                                <p>беззалоговый <br/> кредит</p>
                            </div>
                            <a href="#" class="btn btn_blue btn_blue__small">оформить заявку</a>
                        </div>
                    </div>

                    <div class="content-eight_bg"></div>


                </div>

                <div class="content-eight_right">
                    <h2 class="screen-descr screen-descr_black screen-descr_eight">современный подход к зачислению <br/>
                        заработной платы</h2>

                    <div class="content-three-col content-three-col_eight content-three-col_left">
                        <h3>ДЛЯ УДОБСТВА ВАШЕГО <br/>
                            БИЗНЕСА</h3>

                        <p>Зарплатные ведомости можно предоставлять не выходя из офиса;</p>

                        <p>Сокращение затрат, связанных с инкассацией, хранением и транспортировкой наличных денег;</p>

                        <p>Защита от рисков и непридвиденных ситуаций.</p>


                        <a href="#" class="details details_black mt-50 mb-70">УЗНАТЬ ПОДРОБНЕЕ</a>

                    </div>
                    <div class="content-three-col content-three-col_eight content-three-col_right">
                        <h3>ДЛЯ УДОБСТВА ВАШИХ <br/>
                            СОТРУДНИКОВ</h3>

                        <p>Интернет-банк;</p>

                        <p>Снятие наличных в банкоматах группы Лайф по России и ОРС без коммиссий;</p>

                        <p>Краткосрочный беззалоговый кредит—70% от заработной платы;</p>

                        <p>Бесплатная кредитная карта с льготным периодом до 50 дней.</p>

                    </div>


                </div>


            </div>
        </div>

    </div>

</div>